[2017-01-23 08:07] diasdavid commented on #511
We do `Object API` caching, see: https://github.com/ipfs/js-ipfs-api/blob/master/src/api/object.js#L35

We could do Files Caching as well, just note that caching very large files or directories with a lot of tiny files will quickly destroy the cache, as it will take more time adding and cleaning than actually saving from finding stuff in the cache.

That being said, if a PR with caching that tests

[2017-01-23 09:41] yxliang01 commented on #509
So... I think this is a bug instead of a question. Anyone has idea?

[2017-01-23 14:33] maxlath opened #513 "addFromURL fails to follow redirections"
[code]
will return the hash of an empty file (`QmbFMke1KXqnYyBBWxB74N4c5SBnJMVAiMNRcGu6x1AwQH` instead of the expected `QmaL9zy7YUfvWmtD5ZXp42buP7P4xmZJWFkm78p8FJqgjg`) because [`request.js`](https://github.com/ipfs/js-ipfs-api/blob/0295a5a1ad9754f83224d5a236fed94f5c7b202d/src/request.js) doesn't follow redirections

[2017-01-23 17:59] aakilfernandes commented on #511
@diasdavid i was actually thinking of making the PR more like a standardized file-cache provider, that way users could swap in any cache they like

[2017-01-23 18:01] aakilfernandes commented on #511
ie something like

`if (options.cacheProvider) { return cacheProvider.get(...) }`

[2017-01-25 05:40] yxliang01 opened #516 "instead of uploading a file, it uploads an empty directory"
So, `QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn` is the directory that I am getting when trying to upload a file via `ipfs.files.add`. It will pass the read stream for the file to it.
`{ path: 'C:Temp123.txt',
    hash: 'QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn',
    size: 4
}` is the return from the API. `C:\Temp\123.txt` is the path. If I add with go-ipfs in CLI, it works fine.

Thanks

[2017-01-27 02:56] yxliang01 commented on #516
Update: When I pass a `ReadableStream` to `ipfs.files.add`, it has this weird behaviour. But, when I pass

[code]

It works perfectly. I think this is a bug.

[2017-01-29 10:32] riyazlafir opened #517 "js-api supporting for IPNS"
Hi ,

I want to  know is js-api support ipns ? if yes any one please let me know how to use api for IPNS.

thanks.

[2017-01-29 19:49] diasdavid commented on #486
@Kubuxu can I get an update from you on this one?

[2017-01-29 19:54] diasdavid commented on #181
This is there now - https://github.com/ipfs/js-ipfs-api#add-files-or-entire-directories-from-the-filesystem-to-ipfs

[2017-01-29 19:54] #181 closed

[2017-01-29 20:22] diasdavid commented on #323
Can this issue be closed?

[2017-01-29 20:23] #325 closed

[2017-01-29 20:25] diasdavid commented on #406
Related with https://github.com/ipfs/js-ipfs/pull/525#issuecomment-260306602

@lidel wanna help us achieve both?

[2017-01-29 20:39] diasdavid commented on #517
Not the best documentation, but one that works for sure, the tests! :) You can see it how it works here:

https://github.com/ipfs/js-ipfs-api/blob/master/test/interface-ipfs-core/name.spec.js#L16-L70

[2017-01-29 20:39] #517 closed

[2017-01-29 20:46] diasdavid commented on #516
It is the expected behaviour, see: https://github.com/ipfs/interface-ipfs-core/tree/master/API/files#add

Let us know if you still have a question after reading that

[2017-01-29 20:46] #516 closed

[2017-01-29 20:49] yxliang01 commented on #516
From wiki, "ipfs.files.add(data, [options], [callback])", Where `data` may be
an array of objects, each of the form
{
  path: '/tmp/myfile.txt',
  content: (Buffer or Readable stream)
}
a `Buffer` instance
a `Readable` stream

Why is that expected to upload an empty directory when I pass a `Readable` stream as `data`?

Thanks.

[2017-01-29 20:56] Kubuxu commented on #486
The teamcity is for now down, when we have Jenkins running I think about running this test in a loop to check if it still crashes.

[2017-01-30 01:30] lidel commented on #406
I am sorry, I have limited free time and need to prioritize my activities.
This is not a blocker for me, just an inconvenience, so it does not have high priority :-)
[WebExtension migration](https://github.com/lidel/ipfs-firefox-addon/projects/1) is my main focus right now.

[2017-01-31 13:34] daviddias opened #518 "Enable PubSub in the Browser"
PubSub will be unavailable as a browser API until https://github.com/ipfs/http-api-spec/issues/116 happens.

[2017-02-01 04:26] yxliang01 commented on #509
Okay, I think I know why. After dipping into the code, I found that add.js doesn't have options support which contradicts the documentation `ipfs.files.add(data, [options], [callback])` at https://github.com/ipfs/interface-ipfs-core/tree/master/API/files#add .

[2017-02-01 17:05] tswindell commented on #497
No use case per se, though I use them because I'm lazy when doing my own data structures. But go-ipfs allows 0 size links so ...

[2017-02-01 22:08] diasdavid commented on #497
that sounds like a bug in go-ipfs then //cc @Kubuxu @whyrusleeping

[2017-02-06 04:10] hiteshjoshi1 commented on #516
I have the exact same issue, file uploads. I think this issue should remain Open.
But when i try to get to view it using cat and the file hash, it says it is a directory.
http://127.0.0.1:5001/api/v0/cat?arg=QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn

`exports.uploadFile = function(req, res) {

    var files = req.files.files;
    ipfs.files.add(files, function(err, response) {
        if (err

[2017-02-10 02:16] slothbag opened #522 "reduce size of `ipfs.add` bundle and number of RPC requests."
It appears the first request is to add the content, which we get a hash value returned.  But then it makes two more requests to get the data and links back.

Is there are a way to disable the last 2 requests?  I only need the hash.

Cheers

[2017-02-11 23:40] drauschenbach commented on #487
This issue is still with me, now due to the `peer-id` module apparently:

[code]

[code]

[2017-02-12 01:28] diasdavid commented on #487
Just released:

[code]

Could you please try again? Apologies for the troubles, somehow this escaped CI and our testing.

[2017-02-12 02:03] drauschenbach commented on #487
Works -- thanks!

[2017-02-18 11:34] slothbag opened #527 "browserify bundle too large and unable to be uglified"
I just went to build my application bundle and NUglify (C#) is unable to uglify the `js-ipfs-api` package, I have had no problem with the other dozen or so packages.

I also noticed the browserified package is 1.3Mb, that is large just to be able to post and retrieve some JSON to IPFS... Is there anyway to produce a lighter version?

[2017-02-18 11:36] slothbag commented on #527
I just stumbled across this library which might do the trick.. https://www.npmjs.com/package/browser-ipfs

[2017-02-22 11:05] dignifiedquire commented on #527
If you want to uglify it you will need to either transpile it to ES5 using something like babel, or use the harmony branch from UglifyJS as we do. The default installation of UglifyJS sadly does not have support for ES2015 yet.

[2017-02-26 12:20] lidel opened #528 "Browser bundle in /dist/ is broken due to dependency on Buffer"
NPM package comes with prebuilt artifact for use in browser:
`node_modules/ipfs-api/dist/index.min.js`

I may be missing something obvious, but it seems that uploading files via form does not work?
For example `ipfs.add(new Buffer(data)..` still requires `Buffer` object, which is missing in Firefox:

[code]

Shouldn't the official browser bundle come with `Buffer` polyfil out-of-the-box?
It is alr

[2017-02-26 12:28] lidel commented on #316
@harlantwood any luck? I tried to use upstream browser bundle but it I am stuck due to missing `Buffer`:  https://github.com/ipfs/js-ipfs-api/issues/528

[2017-02-26 19:53] lidel commented on #528
@VictorBjelkholm noted that `Buffer` is provided, but AFTER instance object is created:

[code]

Now I can remove redundant bundle, thanks!
Closing as solved.

[2017-02-26 19:53] #528 closed

[2017-03-01 09:23] mitar opened #529 "dht.findprovs does not work correctly"
When I call `dht.findprovs` with one hash, I would expect that I get the same output back as running `ipfs dht findprovs` for go implementation. But it is not the same.

First, if I do [documented](https://ipfs.io/docs/api/#apiv0dhtfindprovs):

[code]

The output is a bunch of JSON strings one after another, of various types. It seems like a dump of ALL providers my instance knows about, not just

[2017-03-01 13:50] dignifiedquire commented on #529
@whyrusleeping @Kubuxu could you shed some light on why this difference exists?

[2017-03-02 05:53] redcherry999 commented on #394
Hello sir ,

i'm getting same errror as

`module.js:327
    throw err;
    ^

Error: Cannot find module 'readable-stream'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/home/root/aws_nodejs/node_modules/aws-iot-device-sdk/node_mo

[2017-03-02 18:49] mitar opened #532 "Add pinning support for object.put"
When calling object.put, it would be great if I could specify an option that the object should also be pinned. Currently it seems I have to do two calls. But I think it is pretty common that you want objects you created to be pinned on your instance of IPFS.

[2017-03-03 11:33] VictorBjelkholm commented on #394
@redcherry999 could you show the full output of running `npm version`? It should output a JSON bit with all the versions.

[2017-03-09 19:41] diasdavid commented on #532
@whyrusleeping this would require first a change in go-ipfs. What's your take on it?

[2017-03-13 09:13] thisconnect opened #535 "API difference to the cli i.e. omitting /ipfs/"
Hi playing around with the js-ipfs-api and testing
`ipfs cat /ipfs/QmUwv8HhzNbsPreyUtK6Se4PnfTtSWiBdWdPhRMfRmsUAC`
reference https://github.com/ipfs/faq/issues/232#issuecomment-285661053

I get an error if the hash starts with `/ipfs/`

example

[code]

error
[code]

Is it correct that I have to remove the `/ipfs/` of the beginning of the hash?
something like `api.cat(result.Path.split('/ipfs/')[1

[2017-03-13 09:14] thisconnect commented on #535
ipfs-api@12.1.7
ipfsd-ctl@0.19.0
node v6.10.0
mac osx 10.12.3

[2017-03-13 13:33] diasdavid commented on #535
Hi @thisconnect, thank you for bringing this up. We actually don't try to mimic the CLI library with js-ipfs-api, instead, we follow https://github.com/ipfs/interface-ipfs-core, the API spec for using IPFS programmatically.

That being said, your expectation has a very valuable point, and we actually can support it.

Would you like to own this change? Simply go to https://github.com/ipfs/interface

[2017-03-13 14:33] thisconnect commented on #535
@diasdavid thanks for your quick response!!

I do not yet have a deep enough understanding on how ipfs works. For example I can't see any difference in `api.cat` vs. `api.files.cat`. At this point I am unsure if I could help with spec/test.

`api.files.cat` has tests, but I don't get where the code is coming from, shouldn't it be here https://github.com/ipfs/js-ipfs-api/blob/master/src/api/files.j

[2017-03-13 16:18] diasdavid commented on #535
`api.cat` is an alias of `api.files.cat` 😺

It has tests that are loaded from the tests bundle:
- Loads the tests https://github.com/ipfs/js-ipfs-api/blob/master/test/interface/files.spec.js
- ipfs.files tests https://github.com/ipfs/interface-ipfs-core/blob/master/src/files.js , where you have to add the extra test

[2017-03-13 19:29] thiagodelgado111 opened #536 "Cannot add link to object"
After upgrading from ipfs-api v3.0.0 to v12.1.7, I'm having a problem to use `object.patch.addLink` (I couldn't find an example on how to use it so maybe I'm doing it wrong).

## Expected behaviour
[code]

My assumption is that it would return me a promise than when resolved would give me an object with a new hash.

## Current behaviour
When I call the `addLink` as above, I get an error from `ipfs

[2017-03-13 19:38] diasdavid commented on #536
Hi @thiagodelgado111, thank you for reporting these. Your timing is excellent, we just started a `ipfs/docs` sprint to improve all the documentation in usage of ipfs.

THe documentation for `ipfs.object.addLink` can be found here: https://github.com/ipfs/interface-ipfs-core/tree/master/API/object#objectpatchaddlink, you can also find some tests that showcase how it is used: https://github.com/ipfs

[2017-03-13 19:57] thiagodelgado111 commented on #536
Hi @diasdavidI'd, thanks for helping. I think I didn't express myself correctly at first, sorry, I used to use it like this: `object.patch.addLink(root, name, ref)` but then I changed it to the code sample posted above after upgrading to the latest version of `js-ipfs-api` (interface docs are awesome btw, great work!).

I'd be happy to take a stab at adding support to it back :) I'll go through th

[2017-03-14 05:08] reit-c commented on #536
I nearly created this issue last night before falling asleep, I've had quite similar problems with this function.

The documentation for `object.patch.addLink` specifies that the second param should be a `DAGLink`, but this format is never defined anywhere (that I could see) in the API. The only link there is for a `DAGNode` for the first param, but that links to
https://github.com/vijayee/js-ipfs

[2017-03-20 10:46] harlantwood commented on #316
Added example in #539.

[2017-03-26 15:07] chrismatthieu opened #541 "Browserified API Works on Localhost but Not Deployed"
I am building a client-side IPFS web app with the IPFS daemon running locally.  This API is browserified and works as expected when everything is running on localhost.  When web app is deployed on server and daemon is still running locally, I get the following ERR_Connection_Refused.

My guess is that the browser app (when deployed on a domain - not localhost) cannot find the local daemon.  I do i

[2017-04-05 22:53] diasdavid commented on #511
Sounds that something like that can be quickly achieved with a tiny veneer on top of js-ipfs-api. This way we avoid forcing all of that extra code into everyone's browser application, sounds good?

[2017-04-05 23:05] #323 closed

[2017-04-11 08:07] diasdavid opened #544 "Make js-ipfs-api modular"
Users would be able to achieve really small js-ipfs-api bundle sizes if it was structured like async or lodash, where a user can pick only a subset of the module to be bundle into their app.

Example with async:

[code]

We want to achieve this for js-ipfs-api, so that users don't have to create their own sharded forks (ie. https://github.com/SilentCicero/ipfs-mini)

Ideally, this should work so t

[2017-04-24 08:44] gagarin55 opened #547 "TypeError: superCtor.prototype is not an object or null"
I'm trying to use this lib from my creat-react-app application in browser.
This simple code:
[code]
Cause error in FF: **TypeError: superCtor.prototype is not an object or null**

[2017-04-24 10:57] gagarin55 commented on #547
`rm -rf node_modules`
`npm install`

helps me

[2017-04-24 10:57] #547 closed

[2017-05-02 14:11] diasdavid commented on #518
Update on this thread:

We currently have PubSub disabled on the browser as a way to prevent misunderstanding how the cancellation of the API works. Unfortunately, due to what is noted in -- https://github.com/ipfs/js-ipfs-api/pull/493#issuecomment-268603853 -- we simply can't cancel requests as go-ipfs expects in the browser. However, it seems to me that removing support for it entirely is not th

[2017-05-02 17:07] mitar commented on #518
Just curious, why cancellation does not work?

[2017-05-02 19:01] mitar commented on #518
I think we should enable PubSub on client and document cancelation issue.

[2017-05-07 17:37] zillerium opened #552 "X-Stream Error"
I have posted an error in stackexchange and discuss.ipfs.io and several people have tried to solve this but I have seen no one who can identify a solution.

Here is the link -
https://ethereum.stackexchange.com/questions/15915/ipfs-x-stream-errors

[code]

[code]

Has anyone any idea about this?

[2017-05-10 23:34] Souptacular opened #553 "ipfs.object.get(multihash, [options, callback]) returns undefined"
I am attempting to replicate the example found in the [object.get API listing](https://github.com/ipfs/interface-ipfs-core/tree/master/API/object#objectget). object.put works fine and will properly return the Promise with the multihash, but object.get does not.

I am including the follow on my HTML page.
[code]
Here is my code I am working with:
[code]

When trying to call `getObj()` in the Chrome

[2017-05-11 18:10] SCBuergel opened #554 "data added via `node.files.add` in browser not available elsewhere"
I am running [your browser example](https://github.com/ipfs/js-ipfs/blob/master/examples/browser-script-tag/index.html) adding some data `node.files.add` but the resulting hash is not available elsewhere (e.g. local node or gateway). This is what I tried:

1. I downloaded the html file locally and opened it in Chrome (latest Chrome on Ubuntu 16.04).
2. I opened the browser console via `Ctrl`+`Shif

[2017-05-19 21:51] diasdavid commented on #554
Hey @SCBuergel just to make sure there is no misunderstanding, are you looking to use `js-ipfs`, the JavaScript Implementation of IPFS, or `js-ipfs-api`, the HTTP Client library to talk with IPFS daemons?

[2017-05-19 22:13] diasdavid commented on #554
Hi again @SCBuergel. I've just updated both examples [browserify](https://github.com/ipfs/js-ipfs/tree/master/examples/bundle-browserify) and [webpack](https://github.com/ipfs/js-ipfs/tree/master/examples/bundle-webpack) to make them simpler to read through since we simplified our Init process a ton. I can confirm they are fully functional. Hope it helps :)

[2017-05-20 11:55] SCBuergel commented on #554
You got me! I posted this issue in the wrong repo - as my link to the example was suggesting, I was indeed using `js-ipfs`.

Thanks for updating the examples. The one that I was referring to (using script-tag and pulling ipfs from unpkg: https://github.com/ipfs/js-ipfs/blob/master/examples/browser-script-tag/index.html ) does not seem updated yet.

Am I even correct in assuming that this example i

[2017-05-20 12:01] Morantron commented on #518
I've found and ultra-hacky workaround to cancel fetch requests without XHR here ( https://github.com/Morantron/poor-mans-cancelable-fetch ).

The whole idea is to make requests in a seperate WebWorker, and sending a signal to the worker to terminate itself, which also aborts the request :trollface:

Eventually fetch requests will be able to be aborted ( https://github.com/whatwg/fetch/issues/447 )

[2017-05-21 02:54] mitar commented on #518
Great hack! I like it!

[2017-05-21 19:10] diasdavid commented on #554
You are assuming it correctly, that is the whole goal and we are only missing a piece, Relay, which is now in Experimental/Testing phase, so soon :)

However, you can already work around it. Just do a ipfs.files.add in the browser and then make a request to one of the gateways so that they fetch the content themselves and then the other ipfs node you have locally with go-ipfs will be able to fetch

[2017-05-27 13:48] edsilv opened #558 "iPad errors"
I'm getting errors when using js-ipfs-api in Safari on my iPad.

[code]

User agent:

[code]

It looks like it doesn't like the `const` keywords and consequently `window.IpfsApi` isn't available?

Is there an ES5 transpiled version available on the CDN?

Here are the scripts I'm using:

[code]

The page breaks when I introduce this line:

`var Buffer = window.IpfsApi().Buffer;`

It also breaks in

[2017-05-27 13:58] diasdavid commented on #558
You will have to use [babel](https://babeljs.io/) to transpile ipfs-api into ES5 compatible code. There is a tutorial on how to do it on the babeljs page -- https://babeljs.io/docs/setup/#installation -- and you can use https://github.com/ipfs/js-ipfs-api/tree/master/examples/bundle-webpack as an example to set your Webpack config.

[2017-05-27 19:17] #558 closed

[2017-06-04 19:31] maxlath commented on #513
@diasdavid would it be acceptable to introduce a new dependency such as [`follow-redirects`](https://github.com/olalonde/follow-redirects) to solve this issue?

[2017-06-08 08:53] MichaelMure opened #562 "add --nocopy not supported"
Hi,

I'm trying to use the --nocopy option of the filestore through js-ipfs-api but files added this way are stored in the regular blockstore. After a lot of digging I think it's due to how the file is streamed in the http request:

Capture of the multipart/form-data of a request made with the CLI:
[code]

Capture of the multipart/form-data of a request made with js-ipfs-api:
[code]

The absolute

[2017-06-08 09:32] MichaelMure opened #563 "no error when using a unknow option"
When using the go-ipfs command line, an unknow option will return an error:
[code]
It would help the debugging if js-ipfs-api would do the same.

[2017-06-13 09:38] Kubuxu commented on #562
cc @VictorBjelkholm when you got time.

[2017-06-13 21:58] skorokithakis opened #565 "Allow the API server to run under the gateway"
I'm writing an IPFS app, where I wanted the flow to be like this:

* Fetch a page from the gateway.
* The page communicates with the gateway API and writes files.

Instead, I discovered that the API server runs on a different port, which means that the user has to both set up the CORS headers and that it's impossible for me to just autodiscover this if the user has changed the host or port.

This

[2017-06-13 22:01] dryajov commented on #565
what do you mean by this:

[2017-06-13 22:02] skorokithakis commented on #565
I mean if the API were accessible under `http://localhost:8080/api/`.

[2017-06-13 22:10] dryajov commented on #565
I wouldn't serve directly from the gateway, instead I'd use nginx or something else to proxy request. But even  then, I'd think hard before exposing http api to the app directly if its going to be served over a network (i.e. internet). I would also simply allow the app to be configurable as to where the api is pointed to currently. If the use knows how to change the default port, he/she should be

[2017-06-16 10:22] MichaelMure opened #567 "more feedback from ipfs add"
Currently, `addFromFs` and `ipfs add` only trigger the callback when everything is done or if an error occured. This has two problem:
- there is no feedback of the progress during the operation.
- all the stream of event of the daemon is buffered in memory and that can be expensive for a directory with a lot of files
- there is no way to process the result during the operation. You have to wait an

[2017-06-16 18:14] diasdavid commented on #567
Agreed. This is also related with the progress bar support - https://github.com/ipfs/js-ipfs/issues/879

In js-ipfs-api case with go-ipfs, it is really due to the nature of how the multipart message is created and how a http request is formed. We are aware that we need to level up our http-api to support things like this, see:  https://github.com/ipfs/http-api-spec/issues/116

[2017-06-16 18:16] diasdavid commented on #562
@MichaelMure we don't yet support the filestore API from go-ipfs. Wanna help us by taking a stap at it?

[code]

[2017-06-17 00:38] diasdavid commented on #513
@maxlath looks promising! My first question was to make sure to check the deps it would bring and the increase in bundle size, but after skimming through follow-redirects, it seems it is the most compact solution we could use :) Move ahead! Thank you.

[2017-06-20 17:25] diasdavid commented on #535
This is now fixed and fully working. Documentation here: https://github.com/ipfs/interface-ipfs-core/tree/master/API/files#javascript---ipfsfilescatipfspath-callback

[2017-06-20 17:25] #535 closed

[2017-06-20 17:26] #527 closed

[2017-06-20 17:39] diasdavid commented on #541
@chrismatthieu that is a browser protection, a website can't dial to localhost ports, this would enable webapps to port scan your machine.

[2017-06-20 17:39] #541 closed

[2017-06-20 23:35] vith opened #569 "pubsub.publish mangles binary buffers"
I was trying to send a CBOR serialized object through the pubsub API and found that the bytes were not being round tripped intact. This is because the Buffer passes through a querystring on its way to the go-ipfs instance, and the qs library being used does not handle a binary buffer safely in this function: https://github.com/ljharb/qs/blob/v6.4.0/lib/utils.js#L88

I have a patch for js-ipfs-api

[2017-06-21 16:45] atfornes opened #571 "Add usage of dist/index.js as an install option"
ipfs-api npm package includes a dist folder with the "webpacked" sources.

To include `node_modules/ipfs-api/dist/index.js` file makes avaliable the IpfsApi object at window. This is simpler than the browserify/webpack options provided to use Ipfs API at browsers.

[2017-06-22 05:38] thisconnect commented on #535
thanks!

[2017-06-22 17:03] vith commented on #569
Fixed in https://github.com/ipfs/js-ipfs-api/releases/tag/v14.0.4

[2017-06-22 17:03] #569 closed

[2017-06-25 18:40] diasdavid commented on #522
@slothbag I believe it only issues 2 requests, correct?

We could skip the second one if this https://github.com/ipfs/go-ipfs/issues/4008 comes to happen.

Now that https://github.com/ipfs/js-ipfs-api/pull/561 is happening, we will see a ton of bundle size reduction for `ipfs-api/add` if we can avoid that extra RTT

[2017-06-25 18:41] diasdavid commented on #518
Oh wow! @Morantron wanna submit a PR with that feature? Can you make sure to add a check to see if the browser has WebWorker support?

[2017-06-25 18:44] diasdavid commented on #497
@Kubuxu is this correcT?

[2017-06-26 11:13] diasdavid commented on #571
Thanks for the suggestion @atfornes :) However, do note that would stop users from treeshaking it themselves. Plus, note that the bundled versions is only usable in browsers, it would break Node.js usage.

Closing this one.

[2017-06-26 11:54] atfornes commented on #571
thanks @diasdavid for considering the proposal.

Regarding the "treeshacking", is what I successfully did in my experimental branch https://github.com/atfornes/js-ipfs-api/tree/withDag where by adding a `prepare` npm script I am able to automatically build ipfs api on npm install https://github.com/atfornes/js-ipfs-api/commit/79e2fb0ad656f5945cfa850db200c95a7bc7adbb.

Actually, this makes it reall

[2017-06-26 13:21] diasdavid commented on #571
Thank you for following up @atfornes. I'll have to think a bit more about this and also check with others, but just for context, we already had tried this approach a year ago and it ended up to be super painful for the users and us to debug apps as it wasn't as trivial to pinpoint lines where errors were coming from and it required to educate users that we were doing that.

[2017-06-27 07:46] Morantron commented on #518
@diasdavid Sure! I'm gonna see if I can turn the hack into some kind of FetchController polyfill, and then make the needed changes in js-ipfs-api.

Looks like [IE11 does not support fetch](http://caniuse.com/#feat=fetch), so I guess PubSub won't work given that XHR does not play well with http streams.

[2017-06-27 16:08] diasdavid commented on #544
Done with #561 \o/

[2017-06-27 16:08] #544 closed

[2017-06-27 16:10] daviddias opened #572 "`createAddStream` test fails on Travis CI"
Only reproducible on Travis (works locally and on Circle)

[2017-06-27 21:03] nunofmn commented on #572
Sometimes I got the test failing locally also.

[2017-06-28 11:51] VictorBjelkholm commented on #572
What I can see it's failing on Travis and Circle ( https://travis-ci.org/ipfs/js-ipfs-api/jobs/247587662 and https://circleci.com/gh/ipfs/js-ipfs-api/1228 ). Most probably a performance issue, so we might want to try to increase the timeout for that test, decrease the amount of data the test uses and/or optimize the function to be faster.

[2017-06-28 13:08] diasdavid commented on #572
80000ms should be more than enough and the disparity between seeing success and failing suggests that there something that is not happening rather than happening late. It should be a typical streams race condition.

[2017-06-30 10:50] mariam-crissi opened #573 "Regarding file retrieval"
I am trying to add and retrieve file...I am using ipfs-api along with truffle.

I am using FileReader to read the content.Based on the content generate hash and store the hash in blockchain.

         var ipfsAPI = require('ipfs-api');
          myFunction:function(){
                  var file = document.getElementById("fileForUpload").files[0];
                            ipfs.files.add(new Buff

[2017-07-03 11:19] diasdavid commented on #573
Hi @mariam-crissi. What is the error you are seeing? Would you mind providing executable scripts?

[2017-07-03 11:30] diasdavid commented on #507
Something should be wrong with your Webpack config. It should pick up on the `fs: null` on the package.json for browser.

[2017-07-05 04:12] mariam-crissi commented on #573
I have updated the code to store file as follows...

         myFunction:function(){
                    var toStore = document.getElementById('fileForUpload').value;
                    ipfs.files.add(new Buffer(toStore), function (err, res){
                                 if(err || !res) return console.error("ipfs add error", err, res);
                                console.log(res);

[2017-07-08 09:12] diasdavid commented on #501
It is simply missing. Wanna take a stab at implementing it?

[2017-07-08 09:14] diasdavid commented on #553
@Souptacular is this a `js-ipfs-api` or `js-ipfs` report? I'm confused that you mention Promises, but you are using callbacks everywhere. Could you clarify?

[2017-07-08 20:23] lidel commented on #501
:) before I do, I need some clarification:

The relation between [interface-ipfs-core](https://github.com/ipfs/interface-ipfs-core/#interface-ipfs-core) and projects that implement it, such as `js-ipfs` and `go-ipfs` is confusing to me.
AFAIK `/api/v0/dns/` is so far only implemented by `go-ipfs` but not present in `interface-ipfs-core` nor `js-ipfs`.

Shouldn't it be added to `interface-ipfs-core

[2017-07-09 06:50] karthik-ir opened #574 "404 on Documentation"
I tried to check the documentation of  key.gen. It redirects to https://github.com/ipfs/interface-ipfs-core/tree/master/API/key#gen and I get a 404.

[2017-07-09 08:42] diasdavid commented on #501
Excellent question, I've been struggling myself on a way to clarify that better. First a bit of context:

- js-ipfs-api was initially a "commands library", more than a "api library"
- then we created js-ipfs and since the apps shouldn't have to worry which implementation to use, we created a standard interface to be applied, interface-ipfs-core
- we coalesced all the calls and tests of modules and

[2017-07-09 10:59] lidel commented on #501
Thank you for the insight on this.

AFAIK `/api/v0/dns/` was created as a _workaround_ for doing dnslink lookups in browser and browser addons (https://github.com/ipfs/go-ipfs/issues/1054, https://github.com/ipfs/ipfs-companion/issues/44).

Now that I think about it, it makes little sense to support this API it in `js-ipfs-api` without having a working implementation in "browserified" version of `

[2017-07-09 11:27] diasdavid commented on #501
Well, if we have to resort to DNS to do lookups, better just put those records on IPFS...

I believe that the _million dollar question here is_ how the bit is the dataset containing every single domain and its TXT records in the world? And, given that we added all of those to IPFS, wouldn't IPNS + files sharding be a more efficient way to distribute them anyways? We can probably make DNS faster an

[2017-07-09 19:19] diasdavid commented on #552
@zillerium let's try a couple of things.

- Try updating to go-ipfs 0.4.10
- Make sure that CORS headers are set https://github.com/ipfs/js-ipfs-api#cors
- Try with a local daemon first.

[2017-07-10 09:03] jmc265 opened #575 "examples/transfer-files doesn't work"
The transfer-files example fails in Chrome when you click the Start button with this error:

[code]

There are the steps to reproduce:
[code]

[2017-07-10 09:04] #575 closed

[2017-07-19 10:14] Annorstades opened #579 "IPNS Support"
Hi!

I was wondering if there is any documentation on interfacing with IPNS? I found an [old issue](https://github.com/ipfs/js-ipfs-api/issues/517) asking the same question, but the link in @diasdavid reply gives a 404. Any new info on this?

[2017-07-19 10:35] diasdavid commented on #579
@Annorstades IPNS API is `ipfs name`, see: https://github.com/ipfs/js-ipfs-api#name

There is an example of how to use it: https://github.com/ipfs/js-ipfs-api/tree/master/examples/name-api

tests show more examples of it working: https://github.com/ipfs/js-ipfs-api/blob/master/test/name.spec.js

[2017-07-21 10:34] VictorBjelkholm commented on #579
For future reference, these are David's links but with the commit instead so the URL will keep on working:

How to use: https://github.com/ipfs/js-ipfs-api/tree/0544dd378cf474c42a6f16626a83ac3bf5db9be2/examples/name-api

Tests: https://github.com/ipfs/js-ipfs-api/blob/0544dd378cf474c42a6f16626a83ac3bf5db9be2/test/name.spec.js

[2017-07-21 17:50] jedd-ahyoung commented on #518
Hey, all, hate to ask a potentially obvious (and stupid) question.....but why not just use standard XHR which is cancellable? Believe me, I support the fetch standard and I love what it provides, but if we aren't using a service worker to intercept requests or anything like that, the main difference comes down to error handling.

XHR requests are cancellable and would solve the issue until the fet

[2017-07-21 18:08] thisconnect commented on #408
Found this as I am having same effect "goes up to the root" when using `api.add` and `api.files.add` (wrongly) on Mac OS X

Passing an array of objects each with an absolute path (without a content property) does bubble up to root.

macos 10.12.5
ipfs-api 14.0.4
go-ipfs (from source) 0.4.10

Could not reproduce the same issue with `util.addFromFs` on MacOS

[2017-07-21 19:59] diasdavid commented on #518
@jedd-ahyoung xhr is not streamable, pubsub/subscribe is a stream. We need to use something like fetch or make this endpoint available Websockets.

[2017-07-21 20:34] mitar commented on #518
Yes, why not websockets? Or dataframes from WebRTC?

[2017-07-21 21:19] diasdavid commented on #518
This is not a decision at the level of this client library, it is rather at the http-api spec level. Moving to a complete RPC API where WebSockets is used as a transport has been proposed: https://github.com/ipfs/http-api-spec/issues/116

[2017-07-23 00:11] diasdavid commented on #579
Thanks @VictorBjelkholm

Closing this issue. @Annorstades let us know if you have any hurdles using it! :)

[2017-07-23 00:11] #579 closed

[2017-07-23 00:21] diasdavid commented on #572
![image](https://user-images.githubusercontent.com/1211152/28495462-31400f20-6f02-11e7-9421-5025ea43c2b2.png)

Travis is now looking good :)

[2017-07-23 00:31] diasdavid commented on #572
And now it is Circle..

![image](https://user-images.githubusercontent.com/1211152/28495508-99a4d130-6f03-11e7-8bba-5b1bdddbbd56.png)

[2017-07-24 23:47] jedd-ahyoung opened #580 "Public readonly method to get host and port from API instance"
Currently, if you have an instance of the ipfs-api object, it seems that there's no good way to tell what the configured port and hostname is. It'd be nice to expose these as read-only getters on the API object instance.

[2017-07-26 18:53] diasdavid commented on #572
fixed with - https://github.com/ipfs/js-ipfs-api/commit/335490135cbe87c352fe675443a9c796aefa50a3

[2017-07-26 20:56] #71 closed

[2017-07-26 20:56] #94 closed

[2017-07-26 20:57] #497 closed

[2017-07-26 21:01] diasdavid commented on #503
Closing this one as I never managed to replicate it.

[2017-07-26 21:01] #503 closed

[2017-07-26 21:04] diasdavid commented on #387
Never got back here. Closing. Let me know if this is still important and/or the solution provided is not enough.

[2017-07-26 21:04] #387 closed

[2017-07-26 21:05] diasdavid commented on #554
Hope that the above answered your question @SCBuergel, closing this issue.

[2017-07-26 21:05] #554 closed

[2017-07-26 21:08] diasdavid commented on #552
@zillerium did the above work? Let me know if it didn't. Closing the issue for now.

[2017-07-26 21:08] #552 closed

[2017-07-26 21:11] diasdavid commented on #565
Appreciate the suggestion, @skorokithakis. We won't be able to fulfill that request, Gateway and API were designed with different purposes:

- Gateway is Read-Only and has things like a file explorer.
- API is Read+Write.

You don't need to set up CORS for the Gateway as it only supports GET requests.

[2017-07-26 21:11] #565 closed

[2017-07-26 21:11] diasdavid commented on #532
Please follow up on this issue with an issue on `go-ipfs`.

[2017-07-26 21:11] #532 closed

[2017-07-26 21:12] diasdavid commented on #507
@aakilfernandes do you still have this issue? Never managed to reproduce it. Closing for now, let me know otherwise.

[2017-07-26 21:12] #507 closed

[2017-07-26 21:15] diasdavid commented on #580
Thanks for the suggestion, @jedd-ahyoung. Would you like to submit a PR?

[2017-07-26 21:16] diasdavid commented on #513
Work happening at https://github.com/ipfs/js-ipfs-api/pull/514

[2017-07-26 21:16] #513 closed

[2017-07-26 21:17] diasdavid commented on #316
Thank you @harlantwood :)

[2017-07-26 21:17] #316 closed

[2017-07-26 21:19] diasdavid commented on #529
@mitar is this still an issue?

[2017-07-26 21:20] diasdavid commented on #553
@Souptacular is this still an issue? Please verify and open it again in js-ipfs if that is the case.

[2017-07-26 21:20] #553 closed

[2017-07-26 21:21] skorokithakis commented on #565
Yes, this was misguided, sorry. I later discovered the [IPFS gateway API](https://discuss.ipfs.io/t/writeable-http-gateways/210), which turned out to be what I wanted.

Given how much trouble I had finding it, though, I would *strongly* recommend linking it to some more visible section. It's a very useful API and I spent days of research without coming across it.

[2017-07-26 21:21] diasdavid commented on #511
Going to close this one for now. It won't be a feature we support as default, you can still take the route I suggested above.

[2017-07-26 21:21] #511 closed

[2017-07-26 21:45] Kubuxu commented on #529
Yes, it will still be an issue. JSON output includes all notifications that are being executed, CLI just filters them and outputs. js-ipfs-api should probably include consts defining DHT notification types.

[2017-07-27 18:37] Souptacular commented on #553
Hello. This is no longer an issue. Thanks!

[2017-08-04 10:07] ylebre commented on #517
The url mentioned on Jan 29 isn't working anymore, the file can be found here:
https://github.com/ipfs/js-ipfs-api/blob/master/test/name.spec.js

[2017-08-04 12:31] ijazm commented on #552
I am also getting the same error only in chrome after setting the CORS header also

[2017-08-04 17:52] sjeeva opened #581 "ipfs behind proxy"
I am running my IPFS behind an ngnix proxy and redirected port 5001 of IPFS to` http://<IPAddress>/ipfs`

We are developing a Web Interface from which we want to access `http://<IPAddress>/ipfs`, however js-ipfs-api supports ipfsAPI which seems to be accepting only IP address / port as shown below
var ipfs = ipfsAPI(`'ip4/<IPAddress>/tcp/5001'`, {protocol: 'http'})

Is there any option that would

[2017-08-05 00:53] diasdavid commented on #581
Hi @sjeeva, I'm not sure if I understand your question, but let me try to answer it and you tell me what I missed.

When you create an ipfsAPi instance with `/ip4/<some-ip-addr>/tcp/5001`, you are using the [multiaddr](https://github.com/multiformats/multiaddr) format, which translates to http://<some-ip-addr>:5001.

Does this answer your question? What is the `http:///ipfs` (triple `/`) that you

[2017-08-05 02:52] sjeeva commented on #581
Opps!! few details where missing due to github formatting...

How do we translate ``http://<IPAddr>:<Port>/path/subpath" in multiaddr format

[2017-08-05 03:06] ReisenB opened #582 "js-ipfs-api not compatible with the new go-ipfs name system (with multiple keys)"
Recently go-ipfs got a cool upgrade where the daemon could maintain more than one IPNS address, and in my experience it seems to work quite well. However, js-ipfs-api does not yet support this new feature, and only has bindings for the old resolve and publish functions without allowing for the selection/creation of a different key.

[2017-08-05 05:54] dryajov commented on #581
@sjeeva should be `/ip4/<IPAddress>/tcp/5001/http` or `/ip4/<IPAddress>/tcp/5001/https` same for websockets (ws/wss).

[2017-08-05 06:13] diasdavid commented on #581
@sjeeva I see, you want to hit a path so that it gets routed in nginx. `http` paths are not part of the multiaddr spec (although it has been considered).

Wanna add support for that specific feature to this module?

[2017-08-05 07:23] sjeeva commented on #581
@diasdavid, yes.. if you give me a few pointer in the code, I can work on this feature...

[2017-08-05 07:45] diasdavid commented on #581
The parsing happens here -- https://github.com/ipfs/js-ipfs-api/blob/master/src/index.js#L9-L44 --, you should just have to test for the multiaddr + path case.

[2017-08-11 20:11] lockelost opened #583 "adding very small file"
Hi,
I tried add very small file (40 byte) with this
https://github.com/ipfs/interface-ipfs-core/tree/master/API/files#add
but if I try to get this file with the result hash from my local machine, it gives me nothing.

But if I add the same text file from the shell prompt, with following command

it gives the same hash, and I can get the file.

Bigger files (over 256kb, as described in ipfs whitepa

[2017-08-17 07:38] Kubuxu opened #584 "Bundle size updates"
Currently js-ipfs-api creates bundle of 1.3MB (I might be wrong).
This means that it can be hardly used in websites as for its huge size. As it is supposed to be just a connector to go-ipfs/js-ipfs, is there a way to make it smaller?

[2017-08-17 07:50] diasdavid commented on #584
@Kubuxu where are you getting that number? Depends on bow you are bundling it. It should be just ~660KB.

660KB is still big and that is why we pushed the endeavour of enabling modular support which was completed by @nunofmn. See submodule bundle sizes here:
https://github.com/ipfs/js-ipfs-api/blob/master/examples/sub-module/bundles-size-KBs.csv

[2017-08-17 07:51] diasdavid commented on #584
Also, when this https://github.com/ipfs/go-ipfs/pull/4082 gets released, we will be able to complete https://github.com/ipfs/js-ipfs-api/issues/522

[2017-08-20 11:00] ReisenB commented on #582
I eventually got around to poking into the code and realize I was wrong: it _does_ in fact support this already, it's just not documented.

Here's how you generate a key:
[code]

And here's how you publish something to it:
[code]

[2017-08-23 06:23] diasdavid commented on #584
@Kubuxu ?

[2017-08-23 10:23] Kubuxu commented on #584
It was information I was given on IRC. 600KB is much better yet it is still quite big.

There is also https://github.com/SilentCicero/ipfs-mini

[2017-08-23 10:31] diasdavid commented on #584
Thanks for reminding me, @Kubuxu. I had in mind opening a issue on that module once the modularization of js-ipfs-api was done.

Issue opened now: https://github.com/SilentCicero/ipfs-mini/issues/6

[2017-08-27 09:04] diasdavid commented on #584
Closing, let me know if this question is asked again.

[2017-08-27 09:04] #584 closed

[2017-08-30 13:04] Powersource opened #586 "ipfs.pin.rm gives unclear error"
I'm using `ipfsd-ctl` underneath this api and when I'm trying to remove the default pins I'm getting an unclear error. This is my output (not the prettiest copy paste):

[code]

[My code.](https://github.com/viddist/viddist/blob/cadc7d0f94101c0d0d775bcafbed90293c75467a/index.js)

[code]

(Maybe unrelated, the program doesn't get past printing 'running' the majority of the time, any clue what's cau

[2017-08-31 23:56] petethomas opened #587 "Support "+" character in file paths"
Adding a file that includes ```+``` characters in ```path``` can result in a stored path that uses spaces instead.  For example:

[code]
Current result:

    [ { path: 'ti,c64x megamod-pic.txt',
        hash: 'QmZJsQUWUes6vz6DzDT3z6383k1Y4hFYUKun9UkPN1PYSX',
        size: 15 } ]

Expected result:

    [ { path: 'ti,c64x+megamod-pic.txt',
        hash: 'QmZJsQUWUes6vz6DzDT3z6383k1Y4hFYUKun9UkPN1PYS

[2017-09-01 04:15] #587 closed

[2017-09-02 10:44] diasdavid commented on #582
HI @ReisenB, mind writing an example on how to do this?

Thank you for being a trooper and figuring it out :)

[2017-09-02 10:46] diasdavid commented on #583
Hi @brucewangkorea, this sounds like a bug, however, it is strange because we run tests with things as small as just 10 bytes strings.

Can you create a test that replicates this issue?

[2017-09-02 10:48] diasdavid commented on #572
And it is back

https://travis-ci.org/ipfs/js-ipfs-api/jobs/271122936#L3141-L3143

[2017-09-02 11:08] diasdavid commented on #572
Nope, just go-ipfs that got slower and it was timing out the test

[2017-09-02 12:01] Powersource commented on #586
I think @diasdavid suggested we add a verbose option to the function?

[2017-09-02 12:16] diasdavid commented on #586
@Kubuxu does the above suggest something to you?

[2017-09-02 12:26] Powersource commented on #586
Trying this on a different computer and with a slightly newer go-ipfs:

`{"diskinfo":{"free_space":636385632256,"fstype":"61267","total_space":586358910976},"environment":{"GOPATH":"/home/me/prj/go","IPFS_PATH":""},"ipfs_commit":"ce1ca6ab8","ipfs_version":"0.4.11-dev","memory":{"swap":0,"virt":235376000},"net":{"interface_addresses":["/ip4/127.0.0.1","/ip4/192.168.1.123","/ip4/172.17.0.1","/ip4/17

[2017-09-02 12:33] Powersource commented on #586
After starting `ipfs daemon` in the background (even after turning it off) (this *should*n't affect this since I use the disposableApi right?) I'm back to the original error:

[code]

[2017-09-02 15:48] Kubuxu commented on #586
@diasdavid sorry but no. AFAIK `ipfs pin rm` returns streaming response, does js-ipfs-api handle it?

[2017-09-02 19:29] diasdavid commented on #572
Sometimes it times out 80s, which is a lot. Definitely needs more investigation

[2017-09-02 21:29] diasdavid commented on #572
It has been a long day..

[2017-09-04 23:23] dignifiedquire opened #592 "No more unsafe eval"
I started moving all deps that still use protobufs to compiled versions using https://github.com/dcodeIO/protobuf.js

- https://github.com/ipfs/js-ipfs-unixfs/pull/18
- https://github.com/ipld/js-ipld-dag-pb/pull/39
- https://github.com/libp2p/js-libp2p-crypto/pull/107

[2017-09-05 11:38] victorb opened #593 "Speeding up tests"
Note: Let's not spend too much effort on speeding up the tests. I just want to reach a baseline of performance where the tests are not timing out anymore (currently, tests time out for me on Ubuntu with a 3.30GHz processor)

Currently, we're doing some inefficient things in the tests that we can quickly fix to make the tests run a lot faster. Some suggestions from @dignifiedquire in IRC:

* run go

[2017-09-06 08:27] diasdavid commented on #522
Now that https://github.com/ipfs/go-ipfs/pull/4082 has been merged and released, we can finish this up.

[2017-09-06 08:49] diasdavid commented on #408
With https://github.com/ipfs/js-ipfsd-ctl/pull/164 (thanks @thisconnect) I would be down to add appveyor CI to this module since we have so many users of go-ipfs and js-ipfs-api in Windows.

Thoughts?

[2017-09-06 10:37] diasdavid commented on #522
Now that the Dragon is gone (once released) https://github.com/ipfs/js-ipfsd-ctl/pull/165#issuecomment-327443185 I'll be able to PR for this issue in this issue :)

[2017-09-06 13:47] diasdavid commented on #522
Seems that I was wrong, the feature required in go-ipfs is only going to be released in 0.4.11. Nevertheless, I went ahead and developed the PR for it once it gets released -> https://github.com/ipfs/js-ipfs-api/pull/595

Closing this one, let's track on the PR itself https://github.com/ipfs/js-ipfs-api/pull/595

[2017-09-06 13:47] #522 closed

[2017-09-06 14:05] diasdavid commented on #584
It is going to get even smaller, @Kubuxu see: https://github.com/ipfs/js-ipfs-api/pull/595/commits/a5cb06e62dca0195eb2d5e8eb2b717ee47fce6af#r137276795

[2017-09-08 17:35] #592 closed

[2017-09-11 08:52] PurgingPanda opened #599 "Unresolved link in README (Line 256-259)"
The ipfs.name.* documentation has a link attached that points to a 404 page: https://github.com/ipfs/interface-ipfs-core/tree/master/API/name.

[2017-09-11 09:11] diasdavid commented on #599
It doesn't exist yet. We should update that to not link anywhere, it might be confusing users.

@PurgingPanda if you are looking for how to use the .name API, check this example https://github.com/ipfs/js-ipfs-api/tree/master/examples/name-api hope it helps :)

[2017-09-15 11:13] santiagorp commented on #509
What happens with this? I saw a branch containing with this which was deleted today.

[2017-09-15 15:07] Powersource commented on #586
Wow, just had a several day long problem with `cat` and ended up realizing now I misunderstood the function signature that's supposed to go in `then()`, mixed it up with the callback style. The code works if I change the end of line 15 to `.then(unpinned => {`.

I think the problem lies in the documentation since it only shows how to use the callbacks (for both `cat` and `rm`). You have to go into

[2017-09-21 08:22] thisconnect opened #600 "add DAG api ?"
Currently there is no DAG when using `js-ipfs-api` with a local go-ipfs daemon.

will dag be added in `js-ipfs-api`?

[2017-09-21 09:43] atfornes commented on #600
I developed a branch to be able to use dags in js-ipfs-api. I believe it has not been merged because it does not allow protobuff nodes, but works for my needs: https://github.com/atfornes/js-ipfs-api/tree/withDag

It is a bit outdated and a rebase from master could be great.

[2017-09-25 10:28] thisconnect commented on #600
Thanks for the reply I leave this issue open for now.

[2017-10-01 10:43] futpib opened #603 "Naive `refs.local` will probably eat your RAM"
This module should provide lazy (maybe with a stream or iterator) variant of `ipfs.refs.local()`.

[2017-10-09 13:36] diasdavid commented on #600
@thisconnect lots of work towards this here https://github.com/ipfs/js-ipfs-api/pull/534. Let's use the PR thread to keep discussing this.

[2017-10-09 13:36] #600 closed

[2017-10-11 07:18] lidel commented on #573
**tl;dr** it is not a bug, its a feature ;-)

More background:

Depending on your use case you can either remove fake path:

[code]

or access the original path like this:

[code]
or even:
[code]

[2017-10-12 10:31] theodorDiaconu opened #605 "[14.3.5] Using IPFS upload from browser does not get into the callback"
I'm using macOS and Chrome Version 61.0.3163.100
I'm using it inside a Meteor App, and I use the ipfs-api npm package.

Using it like:
[code]

If pass an invalid argument instead of a real buffer, it is ok, the callback is called with an error.

The interesting part is that the file really gets uploaded, but the callback is not called:

This is while inspecting the Network XHR:
[code]

After addin

[2017-10-12 10:37] theodorDiaconu commented on #605
This is my code snippet if it has any relevance:
[code]

[2017-10-12 11:26] theodorDiaconu commented on #605
I can see clearly that there are tests for this:
https://travis-ci.org/ipfs/js-ipfs-api/jobs/286944705#L2557

And they seem to work. Tried it with Firefox as well, same issue, callback not being called. How can this be possible ?

[2017-10-12 14:26] beingmohit opened #606 "Node PubSub Not Working"
`
TypeError: Cannot read property 'publish' of undefined
    at Function.publish.promisify (/home/mohit/projects/somethingcool/node_modules/ipfs/src/core/components/pubsub.js:54:19)
    at /home/mohit/projects/somethingcool/node_modules/promisify-es6/index.js:41:20
    at Promise (<anonymous>)
    at Object.publish (/home/mohit/projects/somethingcool/node_modules/promisify-es6/index.js:35:16)

[2017-10-12 14:28] beingmohit commented on #606
Sorry, wrong repo :/

[2017-10-12 14:28] #606 closed

[2017-10-13 07:15] vurumadla commented on #389
i am facing this issue during building through dev.js. can anyone sugegst the solution.

WARNING in ./~/ipfs-js/~/ipfs-api/dist/ipfsapi.min.js
Critical dependencies:
1:461-468 This seems to be a pre-built javascript file. Though this is possible, it's not recommended. Try to require the original source to get better results.
 @ ./~/ipfs-js/~/ipfs-api/dist/ipfsapi.min.js 1:461-468

ERROR in ./~/ipf

[2017-10-13 10:49] VictorBjelkholm commented on #389
@vurumadla I edited your comment to add code tags, making errors easier to read.

Did you try the example over at https://github.com/ipfs/js-ipfs-api/blob/master/examples/bundle-webpack? Specifically, if you use https://github.com/ipfs/js-ipfs-api/blob/12802eb9d1db63c6a3ba57ee906005015daf5a76/examples/bundle-webpack/webpack.config.js#L28-L32 in your webpack config, it should fix your issue

[2017-10-15 01:18] dryajov opened #607 "Correctly propagate errors sent with trailer headers"
The changes in https://github.com/ipfs/js-ipfs/pull/1036 have introduced errors through `Trailer` headers (`x-stream-error`), however, due to the way trailer headers are and our use of streams we can't correctly propagate them.

This is mainly a chicken and egg problem:

1) we can't get Trailer headers unless the response ends
2) we can't propagate the error, because the response stream ended

Sin

[2017-10-15 01:19] dryajov opened #608 "Awesome progress bar endeavor"
This issues is here to track the progress bar functionality effort

## Tasks required to complete this endeavor:

- [x] Document this feature in spec https://github.com/ipfs/interface-ipfs-core/tree/master/API/files#files-api
- [x] Create big file and directory tests
- [x] Move tests to https://github.com/ipfs/interface-ipfs-core/tree/master/src
- [x] Test against js-ipfs too
- [x] Make sure that

[2017-10-17 12:05] diasdavid commented on #486
@VictorBjelkholm we need to bring this back as soon as possible. Is it possible to have it with Jenkins?

[2017-10-18 12:11] VictorBjelkholm commented on #608
Updated the table to reflect that the interface-ipfs-core tests have been merged and published already.

[2017-10-18 12:14] dryajov commented on #608
We'll need to make another release of interface-ipfs-core tho, there are some discrepancies with js-ipfs and go-ipfs reporting that I let slip, which cause the tests fail under js-ipfs. I have a patch coming soon.

[2017-10-18 17:15] diasdavid commented on #522
Released with `v14.3.7` 🚀

[2017-10-18 17:41] diasdavid commented on #593
go-ipfs is "offline" for what is worth, MDNS and Bootstrapping is off.

We've been there. We moved to have tests self contained

[2017-10-18 17:48] diasdavid commented on #605
@lidel mind reviewing this one?

[2017-10-18 18:14] diasdavid commented on #567
Released on  v14.3.7 \o/

[2017-10-18 18:14] #567 closed

[2017-10-18 21:33] lidel commented on #605
Hm.. I am not sure how to reproduce. We are using the same version of `ipfs-api` in [ipfs-companion](https://github.com/ipfs/ipfs-companion) and upload works fine under both Firefox and Chrome:   [quick-upload.html](https://github.com/ipfs/ipfs-companion/blob/a5fa00bf73dde2d30f373a016cd9bcf7d9a783fb/add-on/src/popup/quick-upload.html) and [quick-upload.js#L13-L26](https://github.com/ipfs/ipfs-comp

[2017-10-18 22:57] dryajov commented on #608
@diasdavid

This issue (https://github.com/ipfs/js-ipfs/pull/1036), is also ready for another review pass. In general, all required functionality has been implemented and tests are passing with latest interface-ipfs-core and ipfs-api.

I left this comment regarding some possible code duplication here - https://github.com/ipfs/js-ipfs/pull/1036#pullrequestreview-70362921.

Also, https://github.com/

[2017-10-19 11:40] diasdavid commented on #608
Woot! All merged :D This feature will come out in the next js-ipfs release. Thank you @dryajov <3

Please handle this with https://github.com/ipfs/js-ipfs/issues/1041

[2017-10-19 11:40] #608 closed

[2017-10-19 13:16] lidel commented on #608
Is it compatible with `go-ipfs` v0.4.11, or do we need to wait for  v0.4.12?

[2017-10-19 16:53] kenshyx opened #610 "Snyk detects 1 high severity vulnerability"
https://snyk.io/test/npm/ipfs-api/14.3.5

[2017-10-19 17:09] diasdavid commented on #608
It should work today! The change wasn't in go-ipfs, it was just js-ipfs-api.

[2017-10-19 22:44] lidel commented on #610
More details:

- https://maustin.net/articles/2017-10/static_eval
- https://github.com/substack/static-eval/pull/18

[2017-10-20 14:24] povi opened #611 "UglifyJS"
Running `npm run build` results in error:

[code]

when trying to build a react.js project that has ipfs-api as a dependency.

As suggested by https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify , the project should be published pre-compiled.

[2017-10-20 15:33] atfornes commented on #611
I did some work on this, providing a prepublish routine for npm at https://github.com/atfornes/js-ipfs-api/commit/bd3a68ed814646bcb0672f29ec60356b48c8ceea.

Please, let us know if it helped

[2017-10-22 16:37] bellaj opened #612 "hex is not a function error"
Hi
I have installed the js-ipfs-api module under ubuntu without any issue But when i try in node (ipfs running) the commands below
[code]
 i get the following error :
[code]
[code]
any advices?

[2017-10-22 16:52] bellaj commented on #612
I've figured out that the node version is the source of this error. i've upgraded from v4.2.6 to V6 using
[code]

[2017-10-22 16:52] #612 closed

[2017-10-30 14:02] dominic-healid opened #620 "Load js on iOS webkit"
Hey guys, does this API support iOS Webkit? I tried to load the html file to be able to run JS code through the iOS app but it doesn't seem to work.

Any ideas or pointers?

[2017-11-03 14:08] diasdavid commented on #620
@dominic-healid I confirmed that there is support for js-ipfs today (see https://twitter.com/daviddias/status/926430950183010309).

js-ipfs-api should work too. However, it is important to remember that you still need a remote node when using js-ipfs-api. This is just the http client https://github.com/ipfs/js-ipfs-api#--.

[2017-11-03 14:08] #620 closed

[2017-11-03 14:08] diasdavid commented on #573
Thank you @lidel !

@mariam-crissi let us know if you still have questions

[2017-11-03 14:08] #573 closed

[2017-11-03 14:09] diasdavid commented on #426
Everything should work now! :) js-ipfs is now fully supported (and js-ipfs-api is not doing anything more fancy than js-ipfs) https://twitter.com/daviddias/status/926430950183010309

[2017-11-03 14:09] #426 closed

[2017-11-07 00:22] adrianmcli commented on #611
@atfornes Can you make a PR and ask the maintainers to republish the package with the pre-compiled code?

[2017-11-08 15:47] diasdavid commented on #486
@VictorBjelkholm any updates on this one?

[2017-11-12 07:32] richardschneider opened #623 "Running on Windows"
The tests do not run on windows.

[code]
*lots more of failed tests with "before all"*

[2017-11-12 07:43] richardschneider commented on #623
The first thing that jumps out is the ENOENT from `ipfsd-ctl`.  Its trying to run `...\ipfs` but on Windows it should be `...\ipfs.exe`.

[2017-11-12 09:30] thisconnect commented on #623
@richardschneider good you could reproduce that, I had a fix, but then couldn't really reproduce it anymore and CI passed without it. Also my windows pc burned down.

please have a look https://github.com/thisconnect/js-ipfsd-ctl/commit/03ea8d538e141aa2bafb2ace81771f948684c03d#diff-6ff379484cbabad48301d485db111c08R31

[2017-11-12 10:36] richardschneider commented on #623
@thisconnect I've just spent 2 hours debugging this.  It looks like windows is happy without the `.exe`!

It appears to be NPM.  We are trying to spawn `<blah>\js-ipfs-api\node_modules\ipfsd-ctl\node_modules\go-ipfs-dep\go-ipfs\ipfs `.  But `node_modules\ipfsd-ctl\node_modules` does not exist.

I think the new NPM moves all "sub node_modules" to the top-level `node_modules`.

How it works on *nix,

[2017-11-12 10:51] thisconnect commented on #623
well since npm3 NPM tries to deduplicate everything, that is why there is still some npm2 code https://github.com/ipfs/js-ipfsd-ctl/blob/master/src/daemon.js#L33 (which we probably could remove now)

You say it tries to spawn `<blah>\js-ipfs-api\node_modules\ipfsd-ctl\node_modules\go-ipfs-dep\go-ipfs\ipfs`, that looks like the npm2 path :/

Do you use a really old npm version?

[2017-11-12 10:54] thisconnect commented on #623
So the try/catch npm3 path seems to fail for you https://github.com/ipfs/js-ipfsd-ctl/blob/master/src/daemon.js#L37 are you sure it is not because of `.exe`?

[2017-11-12 10:56] richardschneider commented on #623
Just read about [folder parsimony](https://docs.npmjs.com/files/folders#cycles-conflicts-and-folder-parsimony). I'm running NPM 5.4.2, which is pretty current.

[2017-11-12 11:00] richardschneider commented on #623
@thisconnect You are good! spawning without `.exe` is okay for window, but the checking for the file without `.exe` fails.

[2017-11-12 11:03] richardschneider commented on #623
This is also explains why running the `ipfsd-ctl` test work on windows.  It just falls back NPM 2 path, which is valid when working directly with the package.

[2017-11-12 11:10] richardschneider commented on #623
Just did a quick hack and its looks to be working!

If you are ever in NZ, I'll buy the beers.

You are awesome.

[2017-11-12 21:24] richardschneider commented on #623
With the new `js-ipfsd-ctl`, 254 passing,  12 pending and 18 failing tests.

The failures can be summarised as

  - diag.sys [Error: this operation is not supported on your platform]
  - dial attempt failed: context deadline exceeded
  - .swarm.addrs  Uncaught AssertionError: expected [] not to be empty
  - .swarm.peers timeout
  - various issues with addFromFs
  - a few tests are getting differen

[2017-11-12 22:12] diasdavid commented on #623
@richardschneider  mind opening a PR on js-ipfs-api?

We can have a flag that disables this test for Windows, it's ok.

Do you know what it was trying to dial to?

Sounds like this failed due to the previous dial fail

Increase the timeout?

Reported here https://github.com/ipfs/js-ipfs-api/issues/408

Weird, which ones?

[2017-11-12 22:17] richardschneider commented on #623
[test-results.txt](https://github.com/ipfs/js-ipfs-api/files/1465164/test-results.txt)

[2017-11-14 03:41] richardschneider commented on #408
Looks like PR #624 will fix this problem.

[code]

[2017-11-14 05:10] richardschneider commented on #623
Transferred to PR #624

[2017-11-14 05:10] #623 closed

[2017-11-14 09:04] diasdavid commented on #408
[Merged](https://github.com/ipfs/js-ipfs-api/pull/624) and released as v15.1.0. Thank you @richardschneider ! :D

[2017-11-14 09:04] #408 closed

[2017-11-14 09:07] diasdavid commented on #486
Ping :)

[2017-11-15 08:42] pgte opened #628 "createAddStream implementation buffers instead of streaming"
`ipfs.createAddStrean` does not stream. Instead, if buffers all the files with open readable streams, which can eventually lead to file descriptor exhaustion.

Symptom well described in: https://github.com/ipfs/js-ipfs/issues/823

[2017-11-16 09:56] GoodBoy962 commented on #611
@atfornes Could I simply add prepublish in node_modules/ipfs-api/package.json file?

[2017-11-17 08:12] GoodBoy962 commented on #611
@povi add `help wanted` label, please.

[2017-11-17 09:23] atfornes commented on #611
@GoodBoy962, @adrianmcli, I am going to have a look into this today, hopefully sharing a useful pull request.

[2017-11-17 10:59] diasdavid commented on #339
Seeing positive results in https://github.com/ipfs/js-ipfs-api/pull/619

[2017-11-17 17:51] atfornes commented on #611
@GoodBoy962 @adrianmcli, please let me know if the pull request #630 solves your issues.

[2017-11-17 19:08] diasdavid commented on #339
Spoke too soon. This is still a thing, although less frequently!

[2017-11-20 10:47] #628 closed

[2017-11-21 09:28] GoodBoy962 commented on #611
@atfornes Thanks! Waiting for pr confirmation

[2017-11-21 09:50] diasdavid commented on #611
Hi all!

For a time, we published all of our dependencies transpiled for a while and then we decided to revert back. The reasons where the following:

- It would increase bundle size
- There are no source maps that can bring you back to the original line of code (for when a error happens) forcing you to npm link everything when debugging
- One more step to maintain

The reality at the time was tha

[2017-11-21 09:53] diasdavid commented on #611
Related, @hacdias hit the same issue using hjs-webpack and here is how he solved it:

- https://github.com/ipfs/webui/pull/605#issuecomment-345961216
- https://github.com/HenrikJoreteg/hjs-webpack/pull/349#pullrequestreview-78050901

[2017-11-21 10:01] atfornes commented on #611
thanks @diasdavid,

The only issue that remains for me is that the `dist/` files are only available from official releases, and cannot be accessed from any commit/branch. This would be solved with a npm `prepare` instruction calling `aegir build`. Is there any chance that something like that would be merged?

[2017-11-21 11:25] GoodBoy962 commented on #611
@diasdavid
Here is the next fail:
`
Failed to minify the code from this file:
 ./node_modules/ipfs-api/dist/index.min.js:1:33639
`

[2017-11-21 12:11] atfornes commented on #611
@GoodBoy962, using my pull request you could include `lib/index.js` which is transpiled, so it should not fail.

[2017-11-21 14:53] Timer commented on #611
Uglify may support minifying ES6, but the code will then not run in IE 9 (syntactically).
We expect support for compiling package code sometime next year, so this package will probably remain broken or require you to eject until then.

[2017-11-21 19:14] GoodBoy962 commented on #611
@atfornes which file should i change in node_modules?

[2017-11-22 09:03] diasdavid opened #633 "config.replace stopped working"
@pgte with the new multipart streams PR, config.replace stopped working which I believe is just because it is using the wrong way to send the file. Mind checking?

[2017-11-22 09:08] diasdavid commented on #633
ref: https://github.com/ipfs/webui/pull/605#issuecomment-345954414

[2017-11-22 09:13] atfornes commented on #611
@GoodBoy962, I would not manually change any file in the node_modules, but instead install the modified branch with:
```npm install --save atfornes/js-ipfs-api#transpiled```

[2017-11-22 10:27] #633 closed

[2017-11-22 11:36] GoodBoy962 commented on #611
@atfornes I have got such a stack trace:

WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning EINTEGRITY: sha512-q4spe4KTfsAS1SUHLO0wz8Qiyf1+vMIAgpRYioFYDMNqKfHQbg+AVDH3i4fvpl71/P1L0dBl+fQi+P37UYf0ew== integrity checksum failed when using sha512: wanted sha512-q4spe4KTfsAS1SUHLO0wz8Qiyf1+vMIAgpRYioFYDMNqKfHQbg+AVDH3i4fvpl71/P1L0dBl+fQi+P37UYf0ew== but got sha1-Y

[2017-11-22 13:32] atfornes commented on #611
@GoodBoy962 please try a clean npm install, previously removing node_module folder and package-lock.json file. I have installed it with the same instruction without  problems.

this issue gives more details about those errors https://github.com/npm/npm/issues/16861

[2017-11-22 15:40] GoodBoy962 commented on #611
@atfornes thanks! That helped me to install your custom dependency.
But the build is still in fail.
`
./node_modules/ipfs-api/lib/utils/module-config.js:7
`

[2017-11-22 15:50] atfornes commented on #611
@GoodBoy962, can you share what is the content of that line in that file?

In my instalation is `var multiaddr = require('multiaddr');` which should not bring errors.

can you also share what is the error message?

[2017-11-23 07:29] GoodBoy962 commented on #611
@atfornes  Here is the whole file. My 7th line is different
`
'use strict';

const getConfig = require('./default-config');
const requestAPI = require('./request-api');
const multiaddr = require('multiaddr');

module.exports = arg => {
  const config = getConfig();

  if (typeof arg === 'function') {
    return arg;
  } else if (typeof arg === 'object') {
    return requestAPI(arg);
  } else if (t

[2017-11-23 10:53] diasdavid commented on #486
@VictorBjelkholm is this in progress with the new CI?

[2017-11-23 11:13] atfornes commented on #611
@GoodBoy962, It is weird that a file in lib folder is not transpiled... (does not have arrow functions, for instance).

I am sorry I cannot continue following this issue, please try again to do a clean npm install and check that babel (the transpiler that transforms original code in src/ to transpiled code in lib/) process is run.

Please let us know if you found how to fix that issue.

[2017-11-23 12:31] joaosantos15 opened #635 "How to get discovery and PubSub in the browser?"
Hello,
My name is João and I'm using IPFS for my M.Sc Thesis (I made a full introduction about myself and my project on [ipfs/notes](https://github.com/ipfs/notes/issues/268)) 😁 .

I am working on a JS application that runs on the browser, where multiple users are able to make claims (json files) about pages listed on the website and then other users can retrieve all the claims made about each pag

[2017-11-23 12:52] diasdavid commented on #518
### Update

The decision on this one is to either do:

a) Enable PubSub and fake subscriptions - https://github.com/ipfs/js-ipfs-api/issues/518#issuecomment-298729383
b) Use WebWorkers to cancel subscriptions - https://github.com/ipfs/js-ipfs-api/issues/518#issuecomment-302868838

Either is fine as a first iteration.

[2017-11-23 12:53] diasdavid commented on #635
Thanks for the very comprehensive description @joaosantos15 😅

In summary, what you need is to be able to use PubSub in the browser from js-ipfs-api. Did you happen to find this issue: https://github.com/ipfs/js-ipfs-api/issues/518? It can be your first contribution, I added a comment to make it clear on what needs to happen https://github.com/ipfs/js-ipfs-api/issues/518#issuecomment-346610738.

[2017-11-23 13:26] joaosantos15 commented on #635
Thanks! I'll check it out :)

[2017-11-23 14:07] GoodBoy962 commented on #611
@atfornes are you sure that after installing your custom solution I should have a file which is not the same as I published here?
Which result do you have after making next steps : 1) clean npm install, 2) npm install your custom ipfs ?

[2017-11-23 14:46] diasdavid commented on #635
Closing this one, let's continue the convo in #518 :)

[2017-11-23 14:46] #635 closed

[2017-11-24 19:13] atfornes commented on #611
you are right @GoodBoy962, I missed the babel config file, which is fixed now by https://github.com/ipfs/js-ipfs-api/pull/630/commits/a1504c663c8d25c92d639b3b85a8feb7441faa9c.

Please try again now.

[2017-11-24 22:52] dryajov commented on #607
issues has been handled in - https://github.com/ipfs/js-ipfs-api/pull/636

[2017-11-24 22:52] #607 closed

[2017-11-24 23:19] nunofmn commented on #518
It's important to notice that Edge 16 and Firefox 57 now can cancel fetch requests by using [AbortController](https://developer.mozilla.org/en-US/docs/Web/API/AbortController/AbortController) and [AbortSignal](https://developer.mozilla.org/en-US/docs/Web/API/AbortSignal). But Chrome still doesn't support this API...

[2017-11-24 23:36] richardschneider opened #637 "Recursive add on Windows"
`js-ipfs` is adding extra folders when running on Windows.  Also the parent folder `test/fixtures/` should be removed from the output.

This was detected by the [refs.spec](https://github.com/ipfs/js-ipfs-api/blob/9ffe84803733eeab82cca2b8bec96c2ba1021d45/test/refs.spec.js) and discovered in [PR 636](https://github.com/ipfs/js-ipfs-api/pull/636)

[code]

[code]

[2017-11-24 23:41] richardschneider commented on #637
There is a [related issue](https://github.com/ipfs/js-ipfs/issues/1079) on `ipfs ls`

[2017-11-25 04:41] richardschneider commented on #637
The above should fix this issue.  But I can  not install `ipfsd-ctl` anymore (see https://github.com/ipfs/js-ipfsd-ctl/issues/177) and cannot proceed with testing. :(

[2017-11-25 06:54] diasdavid commented on #637
Thank you @richardschneider. Seems that you opened this issue in the wrong repo (js-ipfs-api vs js-ipfs) but I got the memo that the fix is at https://github.com/ipfs/js-ipfs/pull/1108 and that you need https://github.com/ipfs/js-ipfsd-ctl/issues/177

[2017-11-25 09:22] richardschneider commented on #637
Yes, I bug can crop up in one place, put is squashed in another place.

[2017-11-26 09:13] GoodBoy962 commented on #611
@atfornes That helped! Thank you a lot!
Unfortunately there is another the same error with cids(it is ipld) module.

[2017-11-26 15:24] atfornes commented on #611
@GoodBoy962, you can propose a similar PR for that module then. Please let us know when it is ready.

[2017-11-26 21:16] diasdavid commented on #637
@richardschneider I didn't follow your last comment, could you rephrase?

[2017-12-01 09:48] #637 closed

[2017-12-10 14:10] FedericoCapello opened #642 "Connect to Infura IPFS Node"
Hi everyone, first, thank you for the amazing work.

I'm currently testing one of the sample apps provided (https://github.com/ipfs/js-ipfs-api/tree/master/examples/name-api) and I would like to use the Infura IPFS node, however, when I change this line:

`const ipfs = window.IpfsApi('/ip4/127.0.0.1/tcp/5001')`

to this line:

`const ipfs = window.IpfsApi('ipfs.infura.io', '5001', {protocol: 'http

[2017-12-10 23:27] diasdavid commented on #642
@FedericoCapello sounds like that the Infura nodes do not have CORS enabled. This is not really up to the client library, it needs to be set up in the daemon. Learn more about it here: https://github.com/ipfs/js-ipfs-api#cors

@kumavis @hermanjunge is there a reason why CORS is disabled on those nodes?

[2017-12-11 00:04] hermanjunge commented on #642
Ping to @maurycyp and @egalano as they are running INFURA's Ferryman middleware.

[2017-12-11 00:07] hermanjunge commented on #642
@diasdavid I re-issued the ticket in INFURA. So you can close this one.

[2017-12-11 09:47] diasdavid commented on #642
@FedericoCapello seems like you got your call for support at the Infura project, follow up at https://github.com/INFURA/infura/issues/45

Thanks @hermanjunge :)

[2017-12-11 09:47] #642 closed

[2017-12-11 11:33] FedericoCapello commented on #642
Thank you all

[2017-12-13 11:10] kenshyx commented on #610
This seems to be fixed.

[2017-12-13 11:10] #610 closed

[2017-12-14 05:44] #411 closed

[2017-12-14 05:44] diasdavid commented on #411
Thanks @hacdias for shipping this :)

[2017-12-14 07:54] hacdias commented on #411
It was my pleasure :)
On Thu, 14 Dec 2017 at 05:44, David Dias <notifications@github.com> wrote:

[2017-12-15 22:20] richardschneider opened #645 ".refs test on Windows"
The [.refs test](https://github.com/ipfs/js-ipfs-api/blob/master/test/refs.spec.js) uses a symlink file that is in the **git repository**.  On *nix `ipfs add` will use the contents of the target file.  On Windows, the file is not a symlink, so `ipfs add` uses the contents of the file not the target.

This breaks the tests, because the hash of the top level directory is now different on Windows. Se

[2017-12-16 01:04] richardschneider commented on #645
It looks like https://github.com/ipfs/js-ipfs-api/issues/637 was closed prematurely.

[2017-12-16 08:32] richardschneider commented on #645
From https://www.quora.com/How-does-git-handle-symbolic-links-on-Windows

[2017-12-17 21:39] #645 closed

[2017-12-20 02:02] joaosantos15 opened #649 "ipfs.files.add(Buffer) > TypeError: content.once is not a function"
Hello, I'm using the ipfs-js-api and am having a problem with `ipfs.files.add()` when adding a Buffer.

I'm following the [this usage example](https://github.com/ipfs/js-ipfs-api/blob/master/examples/name-api/index.js) from  `js-ipfs-api/examples/name-api/index.js`:
[code]
This is my  code:
[code]
And I'm getting this output (in Node.js):
[code]
In the browser, I can solve the problem by putting t

[2017-12-20 12:49] joaosantos15 commented on #649
*Solved:*
Turns out I, in Node.js, was using a [Buffer package](https://www.npmjs.com/package/buffer) that is not supported. That's why in Node I got the
`Error: "files" must be a buffer, readable stream, or array of objects`, as it was failing the check:
[code]

[2017-12-20 12:58] diasdavid commented on #649
@joaosantos15 actually, it should work as Buffer should just be a shim to replicate all the same functionality. This is a bug, we should test with the Buffer module on that assertion.

[2017-12-20 13:13] joaosantos15 commented on #649
@diasdavid Got it.
The error is being thrown in this check:
[code]
I tried this in Node,
[code]
And got `false`. Do you think that by changing the `const ok` check to check for the other Buffer package as well would suffice? Or is it deeper and there may be some other incompatibilities in other places?

[2017-12-20 13:21] diasdavid commented on #649
I believe that all your issues will be solved if you put at the top of the file where that `const ok ...` assertion is done a

`const Buffer = require('buffer').Buffer`

As the module buffer will yield true for buffers created by the Node.js Buffer and itself.

[2017-12-20 13:45] joaosantos15 commented on #649
I believe what you're saying is equivalent to this,
[code]
And it still yields `false`.

[2017-12-20 14:07] joaosantos15 commented on #649
@diasdavid
I explicitly required `Buffer`, but an getting another error.
`src/files/add.js`:
[code]
I'm using this to test:
[code]
Output:
[code]

[2017-12-20 16:42] diasdavid commented on #649
@joaosantos15 This is an fairly easy reproducible case, better adding a failing test to the test suite as a PR so that the fix can be worked from there, rather than sharing snippets of code and repro cases.

[2017-12-24 07:00] mattermoran opened #654 "Uploading big files crush page in Chrome"
So I'm doing as in this example https://github.com/ipfs/js-ipfs-api/tree/master/examples/upload-file-via-browser and everything works fine. But when I try to upload files that more than 3gb page crushes.
![screen shot 2017-12-14 at 5 29 13 pm](https://user-images.githubusercontent.com/29712386/34324845-1615900c-e8bb-11e7-9245-448743bc334b.png)

[2017-12-27 14:52] sterlu commented on #509
Any news on this?

[2018-01-05 18:01] #582 closed

[2018-01-05 18:28] mitra42 opened #660 "Differences between JS and IPFS-Interface docs"
Are the differences between:
https://github.com/ipfs/js-ipfs-api#api and https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#get intentional  e.g. the latter says Javascript has  ipfs.files.getReadableStream and ipfs.files.getPullStream but the former only lists cat,get,createAddStream() and "add().

I'm not sure if the interface is intended to contract to that listed in the JS d

[2018-01-06 09:37] #660 closed

[2018-01-06 09:37] diasdavid commented on #660
Good catch. Fixed it with #662. Thanks!

[2018-01-07 10:49] binhnd-socicom opened #663 "Add files: progress options doesn't work"
I'm trying to get prgress when adding a big file as below

[code]

It throws an error: **callback is not a function** as the callback now is pointing to options param.
If I remove the option, it works fine.

Am I make mistake somewhere?

[2018-01-07 11:07] diasdavid commented on #663
@binhnd-socicom which version of js-ipfs-api are you using?

[2018-01-07 14:08] binhnd-socicom commented on #663
@diasdavid Oh sorry. I found my mistake. I'm using version in **bundle-browserify** example as 11.2.
It's ok now in latest version.

Thank you.

[2018-01-07 14:08] #663 closed

[2018-01-09 19:23] mitra42 commented on #660
That still looks really wrong e.g.
JS-IPFS says ipfs.files.addReadableStream([options]) but refers to the interface-ipfs-core for the details where it has the same interface but doesnt show what the options are and the example talks about WRITING to the stream, not reading from it.

I guess we are just going to have to hope that the options/events are the same as node stream options ?

[2018-01-10 14:49] diasdavid commented on #660
Yes, we have the SPEC and Tests for the core API in the package https://github.com/ipfs/interface-ipfs-core.

https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#addreadablestream

<img width="866" alt="image" src="https://user-images.githubusercontent.com/1211152/34778301-e2013fa2-f614-11e7-857e-be93e40cc129.png">

This is the `addReadableStream`, a ReadableStream is just one ty

[2018-01-10 16:36] alanshaw commented on #649
I'm getting this same error when using `files.add`. Looking at `Multipart._pushFile` from the stack, it looks as though it's assuming the buffer is a stream.

The `Buffer.isBuffer` check is failing, but it is correct to be failing, because `content` is not a buffer, it's an object!:

<img width="753" alt="screen shot 2018-01-10 at 16 31 38" src="https://user-images.githubusercontent.com/152863/347

[2018-01-10 18:04] alanshaw commented on #649
I've submitted #666 which is for a slightly different issue that causes the same error.

I'm not certain there is an issue here, above some better validation that could be done on the inputs. @joaosantos15, you need to not use `require('buffer/').Buffer` and just use the global `Buffer` object.

I think `require('buffer/')` is giving you a buffer object from your node_modules. This buffer is desig

[2018-01-10 18:07] mitra42 commented on #660
Thanks David … this would be funny if the lack of documentation wasn’t a significant barrier to using IPFS - wasted most of an afternoon trying to figure out how to read a stream from IPFS and ending up with pulling IPFS stream support from our library because I couldnt find a function that appears (see below) to be there.

The pages https://github.com/ipfs/js-ipfs-api#api (since the commit notes

[2018-01-10 18:48] diasdavid commented on #660
I see, their pointers to those API calls didn't get update across the board and so it was unclear what was the latest API. Thanks for catching that :)

Just updated it everywhere:
- https://github.com/ipfs/js-ipfs-api#files
- https://github.com/ipfs/js-ipfs#files

[2018-01-16 18:18] lidel commented on #501
Oh! This seems to be delivered by #665 and released in [v17.3.0](https://github.com/ipfs/js-ipfs-api/releases/tag/v17.3.0) :)

@hacdias is this done and ready for use? can we close this?

[2018-01-16 18:24] hacdias commented on #501
I think it is @lidel 😄

[2018-01-16 18:24] #501 closed

[2018-01-17 11:50] girards commented on #611
Hey I'm getting  `Module not found: Error: Can't resolve 'ipfs-api' in '/Users/nicolasgirardot/PleaseCom/please-web/src/components/AddListing/Place'` when trying to use your fix, I tried clean installing and all.. Hopefully you can help me fix this !

[2018-01-17 19:33] GTRI-nathan commented on #339
I think I might be running into this error, but it happens every time for me. I made a quick and dirty paired down testcase here: https://github.com/GTRI-nathan/js-ipfs-api-test
Does this seem to be the same thing or should I open a new issue?

Thanks!

[2018-01-18 22:23] nithinkrishna opened #671 "Question: Error Invoking put with Links"
Consider the following example, where I look to create a simple chain of objects. `d1 -> d2 -> d3`.

[code]

`D3` gets created. However creation of `D2`throws an ` Error: multihashes do not match` error from https://github.com/ipfs/js-ipfs-api/blob/dae62cb38aa17c3b966087e395389c223d1022fc/src/object/put.js#L111.

After a little debugging, I realized that it's happening because the hash returned fr

[2018-01-20 06:45] olstenlarck opened #673 "ipfs.util.addFromURL to support passing options"
Heya. Just playing with the APIs here. Looking on the code it seems that `ipfs.util.addFromURL` not support passing options to the request. So i think it need to have in case you need adding CORS request headers.

My case

[code]

and so INFURA fails, cuz want `Access-Control-Allow-Origin`.

[2018-01-20 07:07] olstenlarck commented on #673
Doh. Missing docs on available params of the constructor. This helped https://github.com/INFURA/Infura/issues/2

[code]

[2018-01-20 07:07] #673 closed

[2018-01-20 07:17] olstenlarck commented on #673
Btw, hardly found that INFURA has RPC, is there official one that we can use?

[2018-01-20 21:15] olstenlarck opened #674 "addFromURL to support pinning, through `pin: true` option"
Probably most easier way is along these lines:

1. Change `const sendOneFile = SendOneFile(moduleConfig(arg), 'add')` to `let`

2. after the check of is valid url, add check for `opts.pin === true` and recreate `sendOneFile`

[code]

[2018-01-22 20:21] lidel commented on #674
I am not sure what is your goal here, to pin when `addFromURL` ?
AFAIK `ipfs.add` pins by  default already:

[code]

[2018-01-22 23:10] olstenlarck commented on #674
Hm. Didn't know that.

[2018-01-22 23:10] #674 closed

[2018-01-24 10:37] shishi614 opened #677 "Install arise error,why? thanks"
mac system
192:ipfs-http-demo iinda$ npm install --save ipfs-api
npm ERR! Error while executing:
npm ERR! /usr/bin/git ls-remote -h -t ssh://git@github.com/dignifiedquire/webcrypto-shim.git
npm ERR!
npm ERR! xcrun: error: active developer path ("/Applications/Xcode.app/Contents/Developer") does not exist
npm ERR! Use `sudo xcode-select --switch path/to/Xcode.app` to specify the Xcode that you wish

[2018-01-24 13:37] VictorBjelkholm commented on #677
Seems it wants you to try running `xcode-select --install` to install the command line developer tools.

[2018-01-25 21:07] diasdavid commented on #677
@shishi614 you can find a helpful guide on how to get Node.js and npm set up at http://blog.teamtreehouse.com/install-node-js-npm-mac

That should solve your issue :)

[2018-01-25 21:07] #677 closed

[2018-01-25 21:58] diasdavid commented on #649
Let's continue the convo on https://github.com/ipfs/js-ipfs-api/pull/651 around the failing test

[2018-01-25 21:58] #649 closed

[2018-01-25 22:48] diasdavid commented on #486
ANy update here?

[2018-01-26 00:49] shishi614 commented on #677
thanks,i  am installed well ,the reason is xcode is not install.

[2018-01-26 19:42] diasdavid commented on #139
Work happening at https://github.com/ipfs/js-ipfs-api/pull/664

[2018-01-26 19:42] #139 closed

[2018-01-26 20:23] diasdavid commented on #583
Closing given lack of response.

[2018-01-26 20:23] #583 closed

[2018-01-27 10:40] MichaelMure opened #681 "p2p commands are not supported"
The `p2p` command (https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#ipfs-p2p) is available in go-ipfs since the 0.4.10 version. If supported in js-ipfs-api this could be very useful to implement custom protocols on top of ipfs.

For Arbore (https://github.com/MichaelMure/Arbore) I would use it to replace the pubsub in 1-to-1 communications.

[2018-01-27 11:07] lgierth commented on #681
We'll start implementing dedicated go-libp2p and js-libp2p daemons soon, and the `p2p` commands are something we'll likely move there and not continue supporting in the ipfs daemon itself.

[2018-01-27 12:23] MichaelMure commented on #681
Do you mean that I will need to run both daemon ?
What about the ipfs keystore ? Will it be possible to do message signing and encryption ?

[2018-01-27 17:51] sudeepshop opened #682 "XHR Error in Digital Ocean Node while adding file to ipfs"
Hello Everybody.

I am new to ipfs, but I managed to upload to ipfs from browser using js-ipfs-api (Angular 5). In my localhost it is successfully uploading to ipfs and producing hash using which i can browse the file (https://ipfs.io/ipfs/xxxxxx---hash----xxxxx).

I built the app for production (ng build --prod) and uploaded the files to my digital ocean droplet. http://46.101.14.145/

(I am runn

[2018-01-27 18:34] diasdavid opened #683 "Understand why Webpack is running out of Memory"
Currently, CI fails with:

[code]

This issue was created with the upgrade to the new ipfsd-ctl. The cause is that WebPack is trying to bundle multiple versions of the ipfs-api into the client that spawns nodes in the browser, making it run out of memory.

@dryajov wanna take the lead on fixing this given your work on ipfsd-ctl?

[2018-01-27 18:58] dryajov commented on #683
sure thing, taking a look now.

[2018-01-28 10:41] sudeepshop commented on #541
@chrismatthieu did you solve your problem? I have a similar issue.

[2018-02-01 00:25] JonKrone commented on #509
It looks like `files.add` does not support `onlyHash` right now but the unix dagNode creator thing (still trying to figure it all out), [ipfs/js-ipfs-unixfs-engine](https://github.com/ipfs/js-ipfs-unixfs-engine), does so I think we might just need to connect the two.

js-ipfs-unixfs-engine can handle an `onlyHash` option as of https://github.com/ipfs/js-ipfs-unixfs-engine/pull/183.

In a little te

[2018-02-01 06:15] diasdavid commented on #681
I have a humble request. Can we put the network commands behind `net`, so `ipfs net <command>`? It feels more intuitive to me than `p2p`. The same way that IPLD is behind the word `dag`, because it is the Graph API, the same way that what we are adding is the Network API.

Pretty please 🙏🏽

[2018-02-01 10:05] MichaelMure commented on #681
I'm going to take the occasion to say that this *is* an important feature. If you want to build apps on top of ipfs, being able to communicate between node is quite useful. Pubsub does part of the job, but broadcasting is not always an option, nor it is efficient.

[2018-02-01 19:48] diasdavid commented on #681
@lgierth my intention with the Network API proposal is to move all of those commands behind `ipfs net`

- `ipfs net pubsub`
- `ipfs net peers` (previous ipfs swarm peers)
- `ipfs net dial` (previous ipfs swarm connect + ipfs p2p dial)
- `ipfs net dht`
- `ipfs net ping`

[2018-02-05 20:42] leNicDev opened #687 "Error when adding file: "TypeError: First argument must be a string or Buffer""
When calling the add function, I'm getting the following error:

`TypeError: First argument must be a string or Buffer`

My service class (Angular/Typescript):
[code]

When checking whether `readFileSync(file.path)` returns a buffer by calling `Buffer.isBuffer(readFileSync(file.path))`, false is returned.

### Environment:
Angular: 5.2.0
Electron: 1.7.11
Node: 8.9.3 (Windows 10)

[2018-02-07 04:18] dryajov commented on #687
Perhaps setting the explicit encoding to 'buffer' might help? Tho the docs do state (https://nodejs.org/docs/latest-v9.x/api/fs.html#fs_fs_readfilesync_path_options) that unless an encoding is specified, `Buffer` will be returned, this might be a windows oddity of some sort?

[2018-02-07 04:19] dryajov commented on #687
Ooh... I just realized, does this run in the browser?

[2018-02-07 10:29] diasdavid commented on #683
@dryajov any progress? Not having CI fully green is troublesome.

[2018-02-07 10:37] diasdavid commented on #683
@dryajov I just noticed **none of the tests is using the ipfsd-ctl server to spawn the nodes**. All the tests are trying to spawn a daemon from their own process.

[2018-02-07 14:05] leNicDev commented on #687
This is an Electron application which should technically be the same as running it on Node. I can try running it on an Ubuntu machine today.

[2018-02-07 15:35] dryajov commented on #687
Have you tried the explicit 'buffer' encoding?

[2018-02-07 15:42] dryajov commented on #683
@diasdavid by default, when running in node it will spawn a process directly, when running in browser it will spawn it using the server. It should work as expected right now. I don't believe we need #688. Take a look at the `remote` parameter here - https://github.com/ipfs/js-ipfsd-ctl#daemon-factory-class

[2018-02-07 16:18] leNicDev commented on #687
Yes, the problem persists:
[code]

[2018-02-07 16:21] dryajov commented on #687
I meant to add it to the `readFileSync(<path>, {encoding: 'buffer' })` (https://nodejs.org/api/fs.html#fs_fs_readfilesync_path_options), not to the `files.add` method - sorry about the confusion.

[2018-02-07 16:24] leNicDev commented on #687
That results in the following error:
[code]

[2018-02-07 16:27] dryajov commented on #687
Ah, interesting. Would you mind providing a quick sample project that I can take a look at?

[2018-02-07 16:30] dryajov commented on #687
To work around the problem right now, it seems like `readFileSync` is returning a string for some reason, you can always use `Buffer.from()` on that string, and pass that to the `files.add`. I believe that this might be electron specific thing.

[2018-02-07 16:42] leNicDev commented on #687
You can use this repo for testing: https://github.com/leNicDev/ipfs-gui
You can run the app using `npm install` and `npm start`. After choosing a file, the error occurs for me.

[2018-02-07 17:49] dryajov commented on #687
thanks!

[2018-02-09 17:48] leNicDev commented on #687
After trying a lot of things, I also experienced the same error in this Node.js + Koa example app: https://github.com/koajs/examples/tree/master/upload

[code]

[2018-02-09 19:24] dryajov commented on #687
thanks @leNicDev - I'm currently investigating this issue, but I'm hesitant to say where the problem is, we have specific tests that verify this functionality which pass fine for the same version you're using.

[2018-02-10 08:38] diasdavid commented on #139
https://github.com/ipfs/js-ipfs-api/pull/664#issuecomment-360982038 //cc @lgierth @hacdias

[2018-02-10 17:07] thiagodelgado111 commented on #536
#578 fixed it. :+1:
Took me a year but I've updated the spec and added tests here: ipfs:interface-ipfs#217 :smile:

[2018-02-12 10:04] diasdavid commented on #687
related: #651

[2018-02-12 12:24] diasdavid commented on #683
Temporary fix with #688

[2018-02-12 12:35] diasdavid commented on #687
Now ref: https://github.com/ipfs/js-ipfs-api/pull/689

[2018-02-14 19:11] charleenfei opened #691 "Unable to retrieve DAGNode object containing more than one link."
Creating a DAGNode object and adding two links to it successfully returns a new, modified DAGNode (head).

However, trying to get this head node results in a timeout.
Trying to `dht find provs` the multihash of this node also results in a timeout.
When I trying to manually `dht provide <multihash>` I get an:

`Error: block <multihash> not found locally, cannot provide`

If I store only one link, t

[2018-02-15 19:10] charleenfei commented on #691
I've sorted out this issue, it had to do with how I was passing in the multihash :)

[2018-02-15 19:24] charleenfei commented on #691
It seems to be hanging on the cache.get(cidb58Str), the node is never returned. The LRU cache that is instantiated has 0 key/value pairs in the Map. This seems somehow off.

[2018-02-17 14:16] MichaelMure opened #694 "Cancellable api request"
Hi,

Is there a way to cancel a request ?

In particular, I'm doing some `ipfs pin add` to trigger a download but the request stay active until completion. There is cases where I no longer want to complete the download. How can I do that ?

Thank you

[2018-02-19 11:37] diasdavid commented on #682
@sudeepshop have you set up CORS? https://github.com/ipfs/js-ipfs-api#cors

[2018-02-19 11:54] diasdavid commented on #694
To have that, we would need cancellable requests which are not supported by the Fetch API (xhr can cancel, but doesn't support streams) and/or evolve our HTTP API as proposed in https://github.com/ipfs/http-api-spec/issues/116.

[2018-02-19 13:26] MichaelMure commented on #694
For the next guy:

- for node, `js-ipfs-api` use node's http(s) api which is cancellable (https://nodejs.org/api/http.html#http_request_abort)
- for the browser, `js-ipfs-api` use `stream-http`: which is also cancellable and claim to support "true-streaming" for chrome and "pseudo-streaming" with a good browser coverage

  Chrome
 Safari >= 5, and maybe older
 IE >= 10
 Most other Webkit-based bro

[2018-02-19 23:57] vmx opened #696 "Response body is empty if X-Chunked-Output header is set"
When the `X-Chunked-Output: 1` header is set, then the body of a HTTP request isn't passed along correctly.

[Line 34 in send-request.js](https://github.com/ipfs/js-ipfs-api/blob/de8d97c953447b605e2a1de68d198b5372419724/src/utils/send-request.js#L34) it's responsible for a different code path is `X-Chunked-Output: 1` is set. This relates to https://github.com/ipfs/go-ipfs/issues/4721.

If this cod

[2018-02-20 00:05] vmx commented on #696
If this is too vague, I've pushed a branch, showing that issue: https://github.com/ipfs/js-ipfs-api/tree/issue-696

Check it out and run:

    npx mocha --inspect-brk --timeout 5000 --ui bdd --colors --exit test/interface/dag.spec.js

Compare those code paths with (where things work as expected):

    npx mocha --inspect-brk --timeout 5000 --ui bdd --colors --exit test/interface/block.spec.js

The

[2018-02-20 07:47] diasdavid commented on #696
@pgte will have a clear answer here as he refactored the send-request.js code last. If not I'm happy to dive deep into this with you.

[2018-02-20 08:29] pgte commented on #696
on it.

[2018-02-20 09:02] pgte commented on #696
@vmx I think I know what the problem is.
[send-files-stream.js pipes the response through a converter stream](https://github.com/ipfs/js-ipfs-api/blob/issue-696/src/utils/send-files-stream.js#L135), which is expecting a response like the one from the files api (expects objects with the shape `{ Name, Hash, Size }`). These sets of utils function are only used in the files API.

Perhaps you could, i

[2018-02-20 09:26] vmx commented on #696
@pgte Thanks for the quick reply, it makes sense.

`block/put` returns just `{Name, Size}`, which seems to be good enough. I wonder if the API should be more uniform and `dag/put` should also return `{Name, Size}`?

Could the converter be renamed? Just "converter" sounds so general purpose (hence I didn't really spot it as an issue). Would it make sense to rename it to something like `IpfsFileConv

[2018-02-20 09:28] pgte commented on #696
@vmx Agree, should be renamed for clarity, I would say something like `FileResponseConverter`?

[2018-02-20 10:16] vmx commented on #696
@pgte I had another look. So `block/put` doesn't return `{Name, Size}`, but `{Key, Size}`. Is it correct, that if the `X-Chunked-Output` header is not set, then the converter isn't run? Is it intentional or an inconsistency?

[2018-02-20 11:37] pgte commented on #696
Well, `converter` should be called `converter-stream`. It's used to filter out progress values (which feed the progress bar) from the user.

`X-Chunked-Output` signals a streaming output, but if `converter` gets renamed to something like `FileResponseConverterStream`, I think this starts making sense..  :)

[2018-02-20 12:07] vmx commented on #696
So `converter` renames fields, converts types and filters out things from a stream (btw, the filtering is not mentioned on in the comments).

Does this mean `send-one-file` and `send-one-file-multiple-results` should only be used if the response is a stream? Or should they even only be used with the file related endpoints? I'm asking because `block/put` is also using `SendOneFile` which I wouldn't

[2018-02-20 12:16] pgte commented on #696
@vmx good point, you're absolutely right!
Hmm... I see two options here:

1. Take out converter, no longer filtering the response. This leaves specific endpoints having to create a `FileConverterStream` and pipe it.
2. Each endpoint opts in into the converter somehow, as an option or an extra builder
3. Each endpoint injects or specifies the converter to use

@vmx thoughts?

[2018-02-20 12:28] vmx commented on #696
@pgte I would follow Python's "explicit is better than implicit". That would mean that each endpoint would add its converter as an option.

[2018-02-20 12:34] pgte commented on #696
@vmx I'm all for it 👍, I also prefer explicit rather that these nasty surprises..

[2018-02-21 10:49] vmx commented on #696
@pgte Will you be working on this?

[2018-02-21 11:30] pgte commented on #696
@vmx I didn't plan to, but I can help you review this is you're interested..

[2018-02-22 12:42] GoodBoy962 commented on #611
Any changes for that bug?

[2018-02-24 22:17] Timer commented on #611
We now compile dependencies starting in `react-scripts@^2`, give it a try!

[2018-02-25 23:54] VictorBjelkholm commented on #518
Seems Chrome has done some work on it, last patch from February 5th this year https://bugs.chromium.org/p/chromium/issues/detail?id=750599

WebKit, no status yet: https://bugs.webkit.org/show_bug.cgi?id=174980

[2018-02-26 12:14] diasdavid commented on #683
@VictorBjelkholm just saw a OOM in Jenkins too:

<img width="1551" alt="image" src="https://user-images.githubusercontent.com/1211152/36669963-ad2985da-1ac4-11e8-801d-f475a4632bdd.png">

url https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs-api/detail/PR-700/4/pipeline

Apparently it just happens some of the times.

[2018-02-26 15:15] pgte opened #702 "src/utils/send-files-stream.js converter does not do back-pressure"
When applying a converter to the stream, the data piping is done by hand, preventing back-pressure from happening.

[2018-02-27 11:54] VictorBjelkholm commented on #683
@diasdavid was this after https://github.com/ipfs/js-ipfs-api/pull/688/files was merged? In that case, our `--max-old-space-size=8192` fix doesn't actually fix the issue...

Also, anectodotal, I've been building some pretty large applications with webpack, and never hit this issue before. Are we sure we are not doing something silly when building?

[2018-02-27 12:06] VictorBjelkholm commented on #683
Tried building the module itself with aegir, and it works even if setting max-old-space-size to 512 so definitly something weird with the tests.

[2018-02-27 12:28] VictorBjelkholm commented on #683
Disabling source maps gives a bit better insight into a possible cause, a very long string!

![image](https://user-images.githubusercontent.com/459764/36728728-130e35b4-1bc2-11e8-871d-d21f609ae367.png)

[2018-02-27 15:08] achingbrain commented on #574
@karthik-ir Is this still the case?  I can't find that URL anywhere in the repo.  The correct location is: https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/KEY.md#gen or for the JS specific version: https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/KEY.md#javascript---ipfskeygenname-options-callback

[2018-02-27 15:15] diasdavid commented on #687
This should not be an issue in the latest version. @leNicDev please confirm.

[2018-03-01 20:57] leNicDev commented on #687
Using ipfs-api@18.1.1, I'm still getting the same error [here](https://github.com/leNicDev/ipfs-gui/blob/master/src/app/providers/ipfs.service.ts#L53):
[code]

Results in: `TypeError: First argument must be a string or Buffer`

[2018-03-01 21:43] diasdavid commented on #687
@leNicDev print that `typeof files[0].content` to see what type it is.

[2018-03-02 19:14] leNicDev commented on #687
`typeof files[0].content` print `object`.

[2018-03-02 19:40] jamesmorgan commented on #642
Seems to work on INFURA now see https://github.com/INFURA/infura/issues/45 👍

[2018-03-05 17:38] vmx commented on #683
I hope that this is a viable solution to the problem: https://github.com/ipfs/aegir/pull/203

[2018-03-06 11:58] vmx opened #706 "Tests fail on Windows"
On Jenkins the Windows tests constantly fail: https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs-api/detail/PR-705/3/pipeline/15/. It looks like an actual issue, not like a CI problem.

I'll take a look.

[2018-03-07 10:18] MichaelMure commented on #696
Is there a fix incoming for this issue ? It's going to be blocking for me quite soon.

[2018-03-07 10:36] vmx commented on #696
@MichaelMure Yes, the fix is at https://github.com/ipfs/js-ipfs-api/pull/701. Things are currently kind of blocked due to the CI failing. Getting the tests working again is currently my top priority.

[2018-03-07 10:38] MichaelMure commented on #696
Awesome, thanks :)

[2018-03-07 16:53] KimGulmatico commented on #611
I got a simple fix on production build with `create-react-app` with 'js-ipfs/js-ipfs-api', add `<script src="https://unpkg.com/ipfs/dist/index.min.js"></script>` in index.html then you can use `const IPFS = window.Ipfs;` on `.js` file like this:

index.html

`<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,

[2018-03-07 16:56] KimGulmatico commented on #611
I got a simple fix on production build with `create-react-app` with 'js-ipfs/js-ipfs-api', add `<script src="https://unpkg.com/ipfs/dist/index.min.js"></script>` in index.html then on your javascript file declare it like this:

`const IPFS = window.Ipfs;
const node = new IPFS();

node.on('ready', () => {
  console.log('Node ipfs is ready');
})`

[2018-03-10 18:47] vmx commented on #706
More tests fail due to: https://github.com/ipfs/js-ipfs-api/pull/711

[2018-03-10 18:51] vmx commented on #706
Often on Windows (but not exclusively) stopping the go-ipfs fails. In the Browsers the error message is different from Node, hence the test fails: https://github.com/ipfs/interface-ipfs-core/pull/235

[2018-03-11 15:54] charlescrain opened #712 "Using a multiaddr with DNS fails connect to IPFS node"
Hey!

Below is the code I'm using to connect to the infura ipfs node. From what I've read this is an appropriate use of multiaddr but perhaps I'm wrong and would appreciate understanding how to correctly turn `https://ipfs.infura.io` into a multiaddr.

[code]

`js-multiaddr` seems to support `dns4` and `https` but maybe I've misunderstood.

Thanks for any help guys!

-Charles

[2018-03-12 10:07] kostysh commented on #654
I am facing the same issue

[2018-03-12 17:29] diasdavid commented on #712
@charlescrain we actually never added DNS support to js-ipfs-api client, but it definitely should work. Looks like this is a good first contribution for anyone to take. Would you like to give it a try?

[2018-03-12 18:26] vmx opened #713 "Getting CI green"
This is a meta issue to collect all the PRs to get the CI Green

 - [x] https://github.com/ipfs/js-ipfs-api/pull/711
 - [x] https://github.com/ipfs/interface-ipfs-core/pull/235
 - [x] https://github.com/ipfs/interface-ipfs-core/pull/236
 - [ ] Fix of https://github.com/ipfs/interface-ipfs-core/pull/227#issuecomment-372696424
 - [ ] https://github.com/ipfs/jenkins/issues/95
 - [ ] Fix of https://gi

[2018-03-12 18:50] vmx commented on #706
I'm closing this on in favour of https://github.com/ipfs/js-ipfs-api/issues/713

[2018-03-12 18:50] #706 closed

[2018-03-13 02:30] julientregoat commented on #654
I have the same issue, except with files over 50-100mb crashing it. I've tried ReadableStream, PullStream, buffer instances... nothing working. Smaller files get there just fine. Running node 8.10

[2018-03-14 00:32] diasdavid commented on #713
@vmx double check, but I think you also need https://github.com/ipfs/js-ipfs-api/pull/695

[2018-03-14 01:20] diasdavid commented on #654
@julientregoat -- https://github.com/ipfs/js-ipfs/issues/952 -- says that things are good uploading over 1GB on js-ipfs. Here, you are using js-ipfs-api, the HTTP Client library and talking with a go-ipfs daemon, it is a different scenario.

This should just be a buffering/streaming issue when creating the HTTP request. If anyone is available to tackle this, it would be great to have it solved.

[2018-03-14 01:31] julientregoat commented on #654
@diasdavid ah got it! sorry, I didn't understand. still new to this but will try to play with it to see if I can get anything going.

[2018-03-14 13:06] vmx commented on #713
@diasdavid So far it doesn't seem that I need #695, except if it fixes https://github.com/ipfs/interface-ipfs-core/pull/227 (i haven't tried yet)

[2018-03-14 14:30] #696 closed

[2018-03-14 14:47] diasdavid commented on #687
This has been solved in the latest released version. Please verify. Thanks for reporting :)

[2018-03-14 14:47] #687 closed

[2018-03-14 14:48] diasdavid commented on #572
@vmx while you are at it, can you check this one as well?

[2018-03-14 14:48] diasdavid commented on #486
@VictorBjelkholm any update?

[2018-03-14 18:21] vmx opened #715 "DHT provide test is broken"
Due to a10e3d57f0d71e934faa26ba63d371edcd86df92 the DHT provide test is broken.

You can reproduce it locally with running:

    npx aegir test -t node --files test/interface/dht.spec.js

The error is:

[code]

[2018-03-14 22:13] vmx commented on #713
With the outstanding PRs merged and these three reverted:

 - https://github.com/ipfs/js-ipfs-api/commit/a10e3d57f0d71e934faa26ba63d371edcd86df92
 - https://github.com/ipfs/js-ipfs-api/commit/b08f21a8dea1852064518d045cf17706bf90b821
 - https://github.com/ipfs/interface-ipfs-core/commit/de72184d45aab5153818d96e6d0d3b38ea8b6076

CI is quite often green. It's still not reliable, but as different test

[2018-03-15 10:36] vmx commented on #486
I did a one time run locally with 0.14rc1 and a lot of tests failed. I think it's important to have the tests run before the final release.

If that's hard to do automatically on CI, I think a short term solution would be to open a PR on js-ipfs-api which always uses the most recent RC. That would at least give some indication of broken things.

[2018-03-15 10:41] Kubuxu commented on #486
@vmx can you share the test failures. We don't want to release something that breaks js-ipfs-api.

[2018-03-15 11:32] vmx commented on #486
@Kubuxu It's a lot of tests failing (31): https://friendpaste.com/72TbssZSoSxmdOpKxT67je

What I did to run it locally. Checkout js-ipfs-api and after an `npm install` replace the `ipfs` in `node_modules/go-ipfs-dep/go-ipfs` with the new one.

[2018-03-15 12:41] Kubuxu commented on #486
As a reference, `master` branch builds of `go-ipfs` are available as artefacts on Jankins.

[2018-03-16 11:08] charlescrain commented on #712
Yeah I'll give her a shot!

[2018-03-16 16:00] vmx commented on #713
@diasdavid Everything from my side is merged now. The test runs are quite stable now. Now only the tests broken by the commits mentioned above need to be fixed. Who will fix those? The authors of those commits?

[2018-03-16 17:49] diasdavid commented on #713
@vmx would you have the chance to fix those too? thanks!

[2018-03-16 18:00] vmx commented on #713
@diasdavid Not sure when, but I can have a look if it isn't fixed in the meantime.

[2018-03-16 19:03] diasdavid commented on #715
We now have all tests passing on master.

[2018-03-16 19:03] #715 closed

[2018-03-16 19:04] diasdavid commented on #713
@vmx I went through it. the files.stat was failing because it was expecting features that haven't been released on go-ipfs. ALl good now :)

[2018-03-16 19:04] #713 closed

[2018-03-16 19:23] vmx commented on #713
Thanks David for fixing those! I'm looking forward to have js-ipfs-api green *fingerscrossed*.

[2018-03-16 22:42] #599 closed

[2018-03-17 19:47] bvand commented on #702
@pgte I'm new to the project, happy to try to help apply back-pressure here.
I read through https://nodejs.org/en/docs/guides/backpressuring-in-streams/ and https://nodejs.org/api/stream.html#stream_event_drain and some other documentation - let me know if I'm understanding the flow (no pun intended) of usage & back-pressure here:

* src/utils/multipart.js wraps files in a Transform stream for pro

[2018-03-19 09:58] pgte commented on #702
@bvand It looks like there is no back-pressure problem here. It was just my pessimistic personality trait acting up. :)

Read on if you want to know my train of thought on this and an illustration of how the various streams are wired together here:

@bvand that's all accurate.

[These lines](https://github.com/ipfs/js-ipfs-api/blob/master/src/utils/multipart.js#L93-L104) are pausing the source fil

[2018-03-19 09:58] #702 closed

[2018-03-19 16:36] julientregoat commented on #339
Can't tell if this was related, but --
I was trying to add files in the API as an array of objects. Following the example from [the IPFS API docs](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#add)

`const files = [
  {
    path: '/tmp/myfile.txt',
    content: (Buffer or Readable stream)
  }
]

ipfs.files.add(files, function (err, files) {
  // 'files' will be an array of

[2018-03-19 16:47] julientregoat commented on #339
I think the same was happening to me. When I try to create a directory of files using `ipfs.files.add([{path: /dir}, {path: /dir/filename.type}])`, it only creates the directory, then stops at the next file.

I get the error from my daemon'expected at least one child dir'. But outside of an array of objects, it's working completely fine. Not sure if this is the same problem but it seemed similar s

[2018-03-19 17:42] JonKrone commented on #536
@diasdavid Closable?

[2018-03-20 04:08] bvand commented on #702
@pgte I see, thanks for the in-depth explanation.

Are there currently any performance tests that can help confirm whether or not back-pressure is implemented correctly moving forward? Or do you think it's worthwhile to create another issue for these types of tests?

[2018-03-20 08:49] pgte commented on #702
@diasdavid no, there are no tests that are specific to back-pressure. I think back-pressure is a good characteristic, so I think we should test for it so that we don't lose it in future changes..

BTW, I don't think we need to test back-pressure benchmarking performance: it would "suffice" to create a dummy API server endpoint that takes a *long* time to reply and see if the source gets paused whe

[2018-03-21 04:51] diasdavid commented on #486
@VictorBjelkholm is tracking this also in https://github.com/ipfs/wg-qa-testing-dx/issues/15

[2018-03-21 09:55] Kubuxu commented on #486
getting 404.

[2018-03-23 00:25] 6uliver commented on #671
I had the same problem. I figured out that I have to pass name and size too, not just the hash and the size must not be zero. Now it works perfectly for me.

[code]

Maybe we should check these fields if they are required and throw a more specific error, for example "Missing field from link: name".

[2018-03-23 03:02] bvand commented on #702
@pgte that makes sense, I can create an issue for that and get working on it - does that sound good?

[2018-03-23 10:50] olizilla opened #722 "Error passing a filepath string to files.add"
The interface spec suggests that from node you can call `ipfs.add` with a Path.
https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#add

Where `data` may be:

a Readable Stream
a Pull Stream
**a Path (caveat: will only work in Node.js)**
a URL
an array of objects

Trying to pass a file system path as a string throws an error

[code]

Do I need to update the spec, or fix the imple

[2018-03-23 16:16] diasdavid commented on #722
The plan was to merge add, addFromUrl and addFromFs into just add with -- https://github.com/ipfs/interface-ipfs-core/pull/162#issue-148011840 -- endeavor, that last bit was postponed and didn't get done.

What this means is that, yes the docs are wrong for the current implementation but what we would like is to improve the implementation to actually support it. Thanks @olizilla for catching this

[2018-03-24 22:26] OR13 opened #724 "Ability to Modify Default Headers"
As far as I am aware, best practice for securing IPFS is to use an api gateway or proxy to restrict access to the ipfs api.

https://github.com/ipfs/go-ipfs/issues/1532

Bearer Authentication is common, here are some more details on the practice:

https://swagger.io/docs/specification/authentication/bearer-authentication/

I have tested using Kong to secure IPFS in this way and had success, but I

[2018-03-26 17:36] #722 closed

[2018-03-26 18:57] #683 closed

[2018-03-27 03:02] #536 closed

[2018-03-27 07:06] aiFreak commented on #509
Hello, can you tell me the function to produce only-hash using javascript.

[2018-03-27 09:22] vmx commented on #509
@aiFreak A good starting point is the tests: https://github.com/ipfs/js-ipfs-api/blob/3f3ce8a998b42b15623aaed3ed80606cf5ed91cc/test/files.spec.js#L106-L117 You call `ipfs.files.add()` with `{onlyHash: true}` as option.

[2018-03-27 10:52] aiFreak commented on #509
@vmx Thanks for your valuable suggestion but i want to generate ipfs hash on webpage without uploading so, that i can compare the hash. so, i want javascript or any client side code for web to generate multihash of ipfs.

[2018-03-27 11:14] vmx commented on #509
@aiFreak You can use https://github.com/multiformats/js-multihashing-async to hash the actual data and then https://github.com/multiformats/js-multihash to create a multihash out of it.

[2018-03-27 11:25] aiFreak commented on #509
@vmx Actually i have added the data to ipfs using ipfs.add() inside javascript code that gives a ipfs hash. Now, i want to genrate that same hash of the data without running the daemon means outside of ipfs so, for that i need javascrip function or code to generate the ipfs hash through webpage.

[2018-03-27 11:29] aiFreak commented on #509
Actually there is a code in node js that gives the same hash but that is in nodejs but i want the code in javascript so that i can use it inside <script> tag.
(https://github.com/ipfs/faq/issues/208)

[2018-03-27 17:30] vmx commented on #509
@aiFreak It seems to be supported in js-ipfs (https://github.com/ipfs/js-ipfs/blob/8e3ea44ce260bdd56dd8691e907f55b0eea86c4c/src/core/components/files.js#L26). So you should be able to do something like:

[code]

Please note that I haven't tried that, but I hope you get the general idea.

[2018-03-29 12:30] vmx opened #725 "ping tests on Windows fail a lot"
Probably due to https://github.com/ipfs/js-ipfs-api/pull/718 the ping tests on Windows got flaky:

 - https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs-api/detail/master/61/tests
 - https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs-api/detail/master/62/tests
 - https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs-api/detail/master/63/tests

[2018-03-29 12:51] VictorBjelkholm commented on #725
Quick fix would be to add logic in the test to be able to flag a test as "flaky" and if it has that tag, retry it X times before actually failing.

[2018-03-29 13:02] vmx opened #726 ".files .add a BIG buffer with progress enabled core test is flaky"
The interface core test .files .add a BIG buffer with progress enabled core test is flaky. It fails a lot on CI. I was able to reproduce it locally a few times (not always) with running:

    cpulimit -l 80 -- node ./node_modules/.bin/aegir test -t browser --files test/core/bitswap.spec.js test/core/bootstrap.spec.js test/core/config.spec.js test/core/create-node.spec.js test/core/files-sharding.s

[2018-04-01 23:46] bvand opened #727 "Test Back-Pressure"
There are currently no tests confirming that back-pressure is working correctly. We should add such a test so that future changes don't break back-pressure.

The test could "create a dummy API server endpoint that takes a long time to reply and see if the source gets paused when the high water mark is reached" (see https://github.com/ipfs/js-ipfs-api/issues/702).

[2018-04-02 16:34] wraithgar commented on #724
(Assuming jwt is the bearer schema being used)

Since the API is still on `hapi@16` this would be implemented in the server by [`hapi-auth-jwt@7`](https://github.com/dwyl/hapi-auth-jwt2) (version 8 is when it moved to `hapi@17`.

If the API were to move to `hapi@17` we would probably want to use [`@now-ims/hapi-now-auth`](https://github.com/now-ims/hapi-now-auth)

[2018-04-03 11:36] vasco-santos commented on #406
Hello @diasdavid

I read the [Issue 525](https://github.com/ipfs/js-ipfs/pull/525), particularly your comment previously referenced and the PRs associated. I have been analyzing how to implement this feature for both `js-ipfs` and `js-ipfs-api`.

1.  In the `js-ipfs`, I am thinking on the following:

https://github.com/ipfs/js-ipfs/blob/master/src/core/index.js#L131
After this line, add an export

[2018-04-03 13:57] diasdavid commented on #406
We should call it `types` instead of util. Another option being or `util.types`

[2018-04-03 15:33] vasco-santos commented on #406
So, in the `js-ipfs` already exists the `types` in the [class instance](https://github.com/ipfs/js-ipfs/blob/master/src/core/index.js#L56). I can add the remaining ones in there?

For the `js-ipfs-api` repo, I will create the `types` as in the other repo.

[2018-04-03 16:02] #580 closed

[2018-04-03 17:02] diasdavid commented on #406
Go for it :)

[2018-04-03 20:04] JonKrone commented on #726
Possible case: https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs/detail/PR-1045/16/pipeline/

[2018-04-04 17:56] vasco-santos commented on #563
I think that we should try to standardize the CLI responses among `js-ipfs` and `go-ipfs`.

# **GO**

**1. Empty**

[code]

**2. Unkown Command**

[code]

**3. Unkown Option**

[code]

# **JS**

**1. Empty**

[code]

**2. Unkown Command**

[code]

Nothing happens here.

**3. Unkown Option**

[code]

# Approach

Since we are using `yargs`, I understand that we do not have the same flexibility as th

[2018-04-04 19:53] diasdavid commented on #563
@vasco-santos Thanks for the complete proposal. It is a good goal to have but very low priority compared to others and one that will require a good amount of time to fix given that as you analyzed, it would require changing the CLI library.

[2018-04-04 21:02] vasco-santos commented on #563
All right! Then, I will create a PR for this issue, only displaying the default `yargs` error when the option is not valid, which is, in fact, this issue. Afterward, I create a new issue with low priority for uniforming the CLI with GO, using another CLI library.

[2018-04-04 21:15] diasdavid commented on #726
@dryajov mind checking ?

[2018-04-04 23:32] dryajov commented on #726
checking 👍

[2018-04-05 15:05] #406 closed

[2018-04-10 11:00] vasco-santos commented on #581
Hey @diasdavid and @sjeeva

I have deployed IPFS behind a proxy and I have analyzed this problem.

Basically, the problem is in [here](https://github.com/ipfs/js-ipfs-api/blob/master/src/index.js#L18). There is a default port defined by [getConfig](https://github.com/ipfs/js-ipfs-api/blob/master/src/utils/default-config.js#L10). As a consequence, when `ipfsAPI` receives a `http://<IPAddress>/ipfs`

[2018-04-10 15:43] daviddias opened #733 "Apply same readme revamp that js-ipfs had"
see https://github.com/ipfs/js-ipfs/pull/1294 //cc @mr0grog

[2018-04-11 07:54] prettymuchbryce commented on #724
I think this would be appropriate as I find myself in the same situation as @OR13 . Perhaps as a more general solution would be to allow configuration of custom headers to be sent with any request. This could then extend beyond authentication and a more tailored authentication solution could be implemented if/when the API moves to `hapi@17`.

Thoughts?

[2018-04-11 13:08] vasco-santos commented on #529
After a deep analysis of this problem, I managed to understand what is received using the `js-ipfs-api`.  Shortly, `go-ipfs`, and more precisely, `go-libp2p-routing` uses routing notifications for exchanging routing information among peers, such as the `findprovs`.

Unfortunately,  in the `js-ipfs` context, `findprovs` core component is still not being used, along with all dht core features. So, I

[2018-04-11 14:38] olizilla commented on #529
https://github.com/ipfs/js-ipfs-api#cors documents the CORS setup. Perhaps it should be mentioned sooner in the doc.

[2018-04-11 15:24] vasco-santos commented on #712
Hello @charlescrain @diasdavid ,

I gave a look at this issue and I have a few notes regarding it.

Firstly, the currently supported format for a Multiaddr is `{IPv4, IPv6}/{TCP, UDP}`, or in other words, `{Internet Layer}/{Transport Layer}` as shown [here](https://github.com/multiformats/js-multiaddr/blob/master/src/index.js#L356). Since `DNS` is an application layer and it is usually sent over t

[2018-04-11 20:27] vasco-santos commented on #712
Are you using a multiformat address with `dns` @dryajov ?

[2018-04-12 02:59] VictorBjelkholm commented on #529
@olizilla I'm unsure. It's mentioned in the readme as many people hit that issue, but it's also already pretty far up + is not a IPFS issue or specific to how go-ipfs works, it's simply how the web works and does not happen in all scenarios, only when you do cross-origin requests. `it is necessary to set Access-Control-Allow-Origin in order to use the API` is only true when doing cross-origin requ

[2018-04-12 04:13] maitrungduc1410 opened #736 "Cannot use files.write api"
Hi everyone,
I have an issue and try to fix it but nothing works.
I upload a file using files.write.api. but everything it throws an error: 'file does not exist' (see in picture below)
above the error, I log the buffer of file I want to upload, it looks ok, but the api doesn't work.
Try to find another example but I couldn't find out anything even in this repository
If anyone has this problem befo

[2018-04-12 07:53] cancue opened #737 "Cannot work with babel"
I'm developing dapps.
I use vue-cli + truffle, and transpile codes by babel.
Our dapp can not use in ie11 browser because of ipfs-api.

Without ipfs-api, babel works perfectly.
But ipfs-api does not transpiled by babel.

I've tried a temporary solution to include ipfs-api to babel-loader option, but not work(dependency problem).
Since other node_modules written in es6 works well,
I think there is

[2018-04-12 08:54] vasco-santos commented on #529
Yes, I agree that it is clear enough. I didn't get it in the `README.md` because I only got the problem using a `GO peer`. As I read `README.md` when I started using it with `js-ipfs` I did not recall the CORS section.

@VictorBjelkholm It is strange that in the same conditions that I used both implementations, it only occurred in GO. And that is why I think we may add additional information in th

[2018-04-12 09:26] VictorBjelkholm commented on #736
What is `path` in this scenario? MFS doesn't automatically create the paths so if path is `/my-directory/my-file`, you would need to create `/my-directory` before you can write to `/my-directory/my-file`. You also need to add the `--write` flag if the file does not exists since before.

[2018-04-12 09:53] maitrungduc1410 commented on #736
How lucky with your help, I add option {create:true} in case of the file doesn't exist and it works, thank you so much!

[2018-04-12 09:56] VictorBjelkholm commented on #736
Great to hear! :+1: (sorry for the confusion with `--create`, you're correct with it being `{create: true}` instead)

[2018-04-12 09:56] #736 closed

[2018-04-12 14:20] vmx opened #738 "Use js-ipld for DAG API"
Basic support for the DAG API landed with https://github.com/ipfs/js-ipfs-api/pull/534.

Though not all formats are supported and you can't traverse through different types of formats. I.e. you couldn't follow a link from a dag-cbor node to a dag-pb node.

The solution is to use js-ipld instead of hard-coding the formats (currently dag-cbor and dag-pb).

Using js-ipld is not straight forward. The

[2018-04-14 02:17] maitrungduc1410 opened #739 "IPFS and Blockchain. What is the benefit?"
I read on the landing page ipfs.io. it says: "IPFS and the Blockchain are a perfect match! You can address large amounts of data with IPFS, and place the immutable, permanent IPFS links into a blockchain transaction. **This timestamps and secures your content**, without having to put the data on the chain itself."
I don't know why it can secure my content. And is that any other benefit when I use

[2018-04-15 18:35] OR13 commented on #724
Here is a PR which should support custom headers for all requests made by the library.

https://github.com/ipfs/js-ipfs-api/pull/741

[2018-04-16 15:03] alanshaw commented on #406
For `ipfs-postmsg-proxy` I'm having to add `ipld-dag-cbor`, `multibase`, `multihashes`, `libp2p-crypto` and `is-ipfs` as direct dependencies although _the library does not use them_ and has no guarantee that any consumers of the library use them.

It also doesn't depend on `js-ipfs` so these dependencies definitely would not normally be in the bundle unless the consumer app uses them. I feel like

[2018-04-16 15:37] vasco-santos commented on #406
Hey @alanshaw

I agree that there are several cases where the bundle size was increased with no benefit. That's why I mentioned the increase in the bundle size on the [PR](https://github.com/ipfs/js-ipfs-api/pull/732). However, I think that if we support this on `js-ipfs`, we have to support this on `js-ipfs-api` for consistency. Therefore, we should support it in both, or in none of them.

Moreov

[2018-04-16 16:08] doniaZaela commented on #394
Hi,
I am getting the same error:
![image](https://user-images.githubusercontent.com/34517889/38821356-ad2d4836-4176-11e8-82a7-ab31448c39c1.png)

and when I run "npm i npm -g", I get the following error:

![image](https://user-images.githubusercontent.com/34517889/38821546-2e88789c-4177-11e8-919c-c6c849aced41.png)

Any clues?

[2018-04-17 07:36] VictorBjelkholm commented on #712
multiaddr as-is does miss some features to be specified, having proper DNS support is one of them and is why `DNS` is reserved for now, until then we have dns4 and dns6 to resolve A and AAAA records. In this case, dns4 would be the correct one. That's the first part of the multiaddr, `/dns/ipfs.infura.io`

The second part would be which port to use, in this case we want to use `/tcp/5001` as that'

[2018-04-17 09:13] lgierth commented on #712
Yes, what @VictorBjelkholm said - and `/tls` and `/http` could/should actually take one more thing each, the TLS SNI header and the HTTP Host header.

In http(s) URLs, the hostname serves three purposes: DNS lookup, TLS SNI, and HTTP Host, all at once. This coupling of course limits applications in networking stack constructions they can express. [Domain fronting](https://www.bamsoftware.com/paper

[2018-04-17 09:42] vasco-santos commented on #712
I see @VictorBjelkholm and @lgierth. Thanks for your complete explanation, I will give it a try now.

[2018-04-18 10:01] VictorBjelkholm commented on #581
There seems to be two issues here. First is how js-ipfs-api handles traditional strings, those are fine to fix for now (I have no opinion on the specific implementation). But the general plan is to move everything to multiaddrs, which means we should also be able to support paths in `/http`. This has yet to been defined in multiaddr, so I opened this issue about it: https://github.com/multiformats

[2018-04-18 10:32] vasco-santos commented on #581
Thanks for your analyze @VictorBjelkholm

Regarding the `multiaddr`  I agree with you, it should definitely support what you described in https://github.com/multiformats/multiaddr/issues/63. I will subscribe this issue as well, in order to help in its advances.

For the `js-ipfs-api` multiaddr error fallback, since you do not have any particular opinion, I will remove the default port by now, and

[2018-04-19 11:34] vmx commented on #739
For general questions we also have a forum at https://discuss.ipfs.io/. There is a bigger active crowd than on this issue tracker, so you might have better chance getting your questions answered there.

[2018-04-19 11:49] VictorBjelkholm commented on #739
@maitrungduc1410 already created a topic on our forum, so let's continue there: https://discuss.ipfs.io/t/ipfs-and-blockchain-what-is-the-benefit/2672

[2018-04-19 11:49] #739 closed

[2018-04-19 21:13] eolszewski commented on #724
@diasdavid this pull request allows IPFS consumers to use Bearer Authentication with a half-line of code.

This will allow us and others to remove our forks and stay up to date with the progress y'all are making. Can you please merge this?

[2018-04-20 09:33] alanshaw opened #745 "files.add with pull stream does not work"
- **Version**: 20.0.1
- **Platform**: macOS Node.js 9.11.1
- **Subsystem**: files

#### Type: Bug

#### Severity: High

#### Description:

Using `files.add(pull stream)` does not work

#### Steps to reproduce the error:

1. addPullStream with chunks of { content: [pull stream] }

[code]

    output:

[code]

2. add with pull stream (promise)

[code]

    output:

[code]

3. add with pull stream (c

[2018-04-22 12:51] alanshaw opened #747 "dag.get for cid with codec not dag-pb or dag-cbor never calls callback"
https://github.com/ipfs/js-ipfs-api/blob/563baa3c2204e266755a70c22978e01ac4bd6d41/src/dag/get.js#L42-L49

I have a `git-raw` CID. What should happen? Callback with error? Related to #738?

[2018-04-22 23:08] salamantos opened #748 "Problems with adding files over 15MB with progress handler"
I tried to create progress bar to my file uploading. I used this code:
[code]

When I upload 1MB files, it's ok, but on 30MB files I got this error in Chrome:
[code]

How to fix it?

[2018-04-23 08:28] diasdavid commented on #406
We need that tree-shaking, it will come once ESM support is everywhere :)

[2018-04-23 08:29] diasdavid commented on #724
Sounds good to me. Can we get both https://github.com/ipfs/js-ipfs-api/pull/741 and https://github.com/ipfs/js-ipfs-api/pull/740 to converge and get them documented?

[2018-04-23 13:53] fsdiogo commented on #611
Check https://github.com/ipfs/js-ipfs/issues/1321 for more info.

[2018-04-23 13:53] #611 closed

[2018-04-23 14:56] alanshaw commented on #747
ok, shall we fix for now by calling back with an error?

[2018-04-24 08:28] #712 closed

[2018-04-24 08:39] #745 closed

[2018-04-24 19:12] OR13 commented on #724
I'm working out some lint errors, but this is my approach:

[code]

[2018-04-25 14:53] hacdias commented on #140
@diasdavid is this issue still valid? As far as I know, the `wrap` option is called `wrapWithDirectory` and it actually works:

[code]

Prints:

[code]

[2018-04-26 11:01] diasdavid commented on #747
@alanshaw 👍 agreed, it should notify the user that is not supported yet.

[2018-04-30 07:17] hacdias commented on #509
The `onlyHash` option is supported since https://github.com/ipfs/js-ipfs-api/pull/717 😄

[2018-04-30 07:17] #509 closed

[2018-04-30 09:25] #140 closed

[2018-04-30 15:04] #397 closed

[2018-04-30 16:53] evildido opened #752 "Check if source file exist during (or before) pin it"
Hi.

I'm currently developing a bot that collect video content (hash) on the steem blockchain.
In some case, the content doesn't have a seed and connot be pinned.

I'm searching a way to detect that the content cannot be pinned.
Do you have any ideas ?

Thx

[2018-04-30 16:58] VictorBjelkholm commented on #752
It's hard to know with exact certainty if you can get the content or not. One thing you can try is to call `dht.findprovs(hash)` and it'll return the peers that say they have the content. If it returns below X amount of peers, assume that the content is non-gettable.

[2018-04-30 21:06] evildido commented on #752
oh great. I see findprovs timeout if no peer has the content.
it could be cool to have the same for timeout pin add.

[2018-05-01 12:31] blockChainB opened #753 "at exports._exceptionWithHostPort (util.js:1049:20) at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1090:14) code: 'ETIMEDOUT', errno: 'ETIMEDOUT', syscall: 'connect',"
const ipfs = ipfsAPI('lfx.imcia.com',"8080", {protocol: 'http'})
console.log(ipfs);
return;
const buffer = Buffer.from('this is a my  demo')
ipfs.add(buffer)
    .then( rsp => console.log(rsp[0].hash))
.catch(err => console.error(err))

return a error

 at exports._exceptionWithHostPort (util.js:1049:20)     at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1090:14)   code: 'ETIMEDOUT',   err

[2018-05-01 15:52] alanshaw commented on #738
If no-one else is working on this I'd like to have a stab at it. We need the DAG API to work properly for the IPLD Explorers to work with JS-IPFS.

I'm thinking create an `IPLDResolver` with a block service that uses an "API exchange" (a bitswap exchange that just uses the `block` API to retrieve blocks it doesn't have).

At least, from reading the commentary on #534 that seems to be the idea.

An

[2018-05-01 19:28] alanshaw commented on #738
Is it as simple as this? I added IPLD to `js-ipfs-api` and it now `dag.get` **git** dags 😮

<img width="1280" alt="screen shot 2018-05-01 at 20 24 52" src="https://user-images.githubusercontent.com/152863/39489626-1f5aa86e-4d7e-11e8-84ae-1e1312ba8b30.png">

[2018-05-09 05:00] lukas2005 opened #759 "When i try to publish a IPNS name on Travis Ci i get this Error: failed to find any peer in table"
Full error:
[code]
Repo: https://github.com/Decentracord/Decentracord-Web
Deploy script: https://github.com/Decentracord/Decentracord-Web/blob/master/app/deploy.js
Travis Log: https://travis-ci.org/Decentracord/Decentracord-Web/builds/376512233#L1514

[2018-05-11 13:26] alanshaw commented on #752
Closing as I think that answers your question @evildido :D

[2018-05-11 13:26] #752 closed

[2018-05-11 13:32] alanshaw commented on #753
hey @blockChainB if you want to use the API to talk to your IPFS node you'll need to connect to port 5001 (by default). Port 8080 is the gateway port, for accessing IPFS content over HTTP.

See https://github.com/ipfs/js-ipfs-api#running-the-daemon-with-the-right-port for more info.

Hope that helps!

[2018-05-11 13:32] #753 closed

[2018-05-11 13:46] alanshaw commented on #759
hey @lukas2005 did you resolve this issue?

It looks to me like that error would occur when the IPFS node cannot find any peer with the hash you pass to `name.publish`. By default it ensures it exists before publishing:

https://github.com/ipfs/go-ipfs/blob/3f6519b420f0793aa4995b3773e55e3277c8a11f/core/commands/publish.go#L174

Maybe this is an issue with the Travis environment?

[2018-05-11 14:06] alanshaw commented on #737
hey @cancue, this project isn't transpiled and uses language features that the IE11 JS engine does not have. You haven't pasted any error messages so I can't help debug this issue.

The example apps for bundling with browserify and webpack might highlight any config you're missing or that is different:
https://github.com/ipfs/js-ipfs-api#in-a-web-browser-through-browserify

If you're still having

[2018-05-11 14:11] alanshaw commented on #727
@bvand are you working on adding these (as you mentioned in #702)?

[2018-05-11 14:13] alanshaw commented on #726
@dryajov did you find anything?

[2018-05-11 14:51] dryajov commented on #726
I don't think I was able to reproduce the issue locally, and moved on to serving else. I'll try one more time and report back here.

[2018-05-11 15:32] bvand commented on #727
@alanshaw I haven't done any work on this, feel free to pick it up!

[2018-05-11 19:03] lukas2005 commented on #759
I have no idea if that's true but maybe? I just have no idea what in the Travis env would cause such a issue

[2018-05-11 20:49] lukas2005 commented on #759
Hmm ill add that info tomorrow and yeah i know i plan on setting up ipfs on my RPI 3 and on users machine if they use my electron app (it loads my web app from IPFS)

[2018-05-13 08:39] lukas2005 commented on #759
go-ipfs version is: 0.4.14 (added using a npm package go-ipfs-dep (specified in package.json))
And when i tried modifying the publish code to this:
[code]
My travis build just timeouts: https://travis-ci.org/Decentracord/Decentracord-Web/builds/378301249

[2018-05-15 10:26] alanshaw commented on #726
related to #748?

[2018-05-16 07:22] sravanth-space opened #765 "example/upload_file_via_browser"

[2018-05-16 07:22] #765 closed, assigned to nobody

[2018-05-16 07:23] sravanthbaratam opened #766 "example/upload_file_via_browser"
after npm install
npm start
`ERROR in /Users/sravanthbaratam/js-ipfs-api/src/utils/default-config.js
Module not found: Error: Cannot resolve module 'json-loader' in /Users/sravanthbaratam/js-ipfs-api/src/utils
 @ /Users/sravanthbaratam/js-ipfs-api/src/utils/default-config.js 3:12-41

ERROR in /Users/sravanthbaratam/js-ipfs-api/~/browserify-aes/browser.js
Module not found: Error: Cannot resolve mod

[2018-05-16 08:56] alanshaw commented on #766
@sravanthbaratam did you get any errors when you did your `npm install`? `json-loader` is [listed as a dependency](https://github.com/ipfs/js-ipfs-api/blob/faa51b4c26abc047fd94b78535e77ca2dc95630f/examples/upload-file-via-browser/package.json#L17).

[2018-05-16 09:00] alanshaw commented on #766
I've just installed and ran the example and it works fine for me, note that you have to cd into the example directory before running `npm install` e.g.

[code]

[2018-05-16 09:58] sravanthbaratam commented on #766
@alanshaw no errors with npm install
Json loader is listed in dependency
I changed the directory to upload file via browser folder where the package.json file is there.

[2018-05-16 10:02] alanshaw commented on #766
Could you tell me your Node.js and npm version and OS?

[2018-05-16 11:17] sravanthbaratam commented on #766
@alanshaw
npm -v
6.0.1
node -v
v8.10.0
macos high sierria 10.13.4

[2018-05-16 19:49] wraithgar opened #769 "process.env.IPFS_TYPE is incorrectly checked"
In the ipfsd-daemon.js file, as far as I can tell, the module `truthy` is being used to check `process.env.IPFS_TYPE`, and only if that returns true is it then used to override the default of `go`

Code here: https://github.com/ipfs/js-ipfsd-ctl/blob/a0d2e3746ee06c5ade273cd705d75a90f4aaf314/src/ipfsd-daemon.js#L44-L46

[code]

Since `truthy('js')` returns false, it will never be used.

[2018-05-16 19:55] wraithgar commented on #769
Oops opened this in the wrong repo. Sorry!

[2018-05-16 19:55] #769 closed

[2018-05-17 15:19] lukas2005 commented on #759
Hmm so i guess i should wait some time to let ipfs to connect to peers?

[2018-05-18 09:35] alanshaw commented on #581
@sjeeva you can use `api-path` and initialise your API like this:

[code]

Let me know if you have any other probs.

[2018-05-18 09:35] #581 closed

[2018-05-18 15:42] alanshaw commented on #766
Ah, I know the answer, the example [overrides the ipfs-api dependency to point at the project root](https://github.com/ipfs/js-ipfs-api/blob/master/examples/upload-file-via-browser/package.json#L16). That means that you **also** need to run `npm install` in the project root.

So the steps should be:

[code]

Please try that and let me know if it doesn't solve your issue.

[2018-05-18 15:42] #766 closed

[2018-05-18 15:50] alanshaw commented on #759
We'll have a new version of ipfs-api out soon to fix that issue but until then try waiting some time before calling `name.publish` so your node can connect to peers.

I'm going to close this issue in the hope that that fixes your issue. Please comment here again if not and I'll re-open.

[2018-05-18 15:50] #759 closed

[2018-05-18 15:51] alanshaw commented on #737
@cancue did that answer your question?

[2018-05-18 15:55] alanshaw commented on #725
Windows tests have consistently failed since https://github.com/ipfs/js-ipfs-api/commit/427322d8ed0a8833854ab42d50acf05676cfe969 when we switched to `go-ipfs-dep@0.4.14`.

[2018-05-18 17:41] cancue commented on #737
@alanshaw No. IE11 does not support 'const' and '() => {}' syntax.
The example and built versions on CDN still use the 'const' and '() => {}' syntax, so the way you tell me does not solve the problem.

Considering compatibility, I think this project should provide a transpiled version, or a way to transpile with babel. (currently, ipfs-api package's es6 modules are entangled, and built versions on

[2018-05-18 18:41] sravanthbaratam commented on #766
@alanshaw
i got this after first npm install

WARN tar ENOENT: no such file or directory, open '/Users/sravanthbaratam/js-ipfs-api/node_modules/.staging/libp2p-webrtc-star-05883b38/dist/index.js.map'
events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: write after end
    at writeAfterEnd (_stream_writable.js:236:12)
    at PassThrough.Writable.write (_stream_writable.js:287:5)

[2018-05-21 10:14] alanshaw commented on #766
Try removing your `node_modules` folder in the root and the example directory and start again from scratch.

[2018-05-22 12:08] sjkyspa commented on #605
any update about this issue? I have got the same issue.

[2018-05-22 12:38] alanshaw commented on #605
Could you post what version of IPFS and what version of IPFS API you're using?

[2018-05-23 07:04] sjkyspa commented on #605
@alanshaw I have use the ^20.2.0 ipfs-api and ipfs 0.4.15. And I am using the react native.

[2018-05-24 22:14] daviortega opened #779 "files.get works, files.stat === 'SyntaxError: Unexpected token p in JSON at position 4'"
Hi all,

This is my code:
[code]
running I get:
[code]

switch `ipfs.files.get` to `ipfs.files.stat` leads to this:
[code]

Any suggestions!?

[2018-05-25 08:30] alanshaw commented on #779
This probably has something to do with the fact you're using `gateway.ipfs.io`. Does it work if you run your own daemon and point your API at it?

[2018-05-25 11:45] alanshaw commented on #779
@daviortega yes confirmed, `gateway.ipfs.io` is read only and exposes only a limited subset of the API routes.

Details here: https://github.com/ipfs/go-ipfs/blob/9abf485d1ece2da5fbb43358893352f923410958/core/commands/root.go#L150-L183

Hope that helps!

[2018-05-25 11:45] #779 closed

[2018-05-25 19:04] daviortega commented on #779
Hi @alanshaw, thank you for your response.

I understand now that the error is because `js-ipfs-api` tries to parse the `404 page not found`  (see the `p` at the position 4?).

Wouldn't be better if there was a general catch for `404` and other errors since `js-ipfs-api` is suppose to work with remote and local gateways?

[2018-05-25 19:28] daviortega commented on #779
My next, but somewhat related question is: Why is `files/stat` not consider a read-only operation?

I am trying to get the hash of a specific file, but I guess I will have to use `ls` for that.

[2018-05-27 19:03] jukbot opened #780 "ES6 module implementation"
Any plan migrate this library to support native es6 modules?
I'm try to implement js-ipfs-api in my lit-element project. But it seem that some part of library doesn't use ES6-modules. Any consideration?

Thanks

[2018-05-30 08:05] leonprou opened #781 "Add timeout for the ipfs api calls"
I would like to restrict the api call to a certain timeout, and if response not received to have some TimeoutError. Like an HTTP call. Looking into the docs didn't find that option.

[2018-05-30 08:49] diasdavid commented on #748
@salamantos mind creating a test that reproduces this issue?

[2018-05-30 14:04] lukas2005 opened #783 "`IpfsApi("localhost", "5001")` hangs with no error / message"
I have this bit of code:
[code]
I am using webpack and js-ipfs-api v21.0.0
Console output:
[code]

EDIT:
This doesn't happen if I use
[code]
instead of lazy-loading

[2018-05-30 14:12] alanshaw commented on #783
Is `IpfsApi` `null` by any chance? Maybe try adding a catch block?

How do I run this code?

[2018-05-30 15:30] alanshaw commented on #783
I get `Cannot GET /` when running it - does it need a html file?

[2018-05-30 15:34] lukas2005 commented on #783
ohh

[2018-05-30 15:36] lukas2005 commented on #783
Try now

[2018-05-30 15:46] alanshaw commented on #783
[code]

Hope that helps

[2018-05-30 15:50] lukas2005 commented on #783
Huh weird. Thanks

[2018-05-30 15:50] #783 closed

[2018-06-04 08:09] diasdavid commented on #738
Woot! Great work @alanshaw ❤️ Let's finish this feat convo up on https://github.com/ipfs/js-ipfs-api/pull/755

[2018-06-04 08:09] #738 closed

[2018-06-04 10:48] daveseco7 commented on #529
Hi @diasdavid @alanshaw @vasco-santos, is the approach of filter out the results other then **provider**, the best approach here? I would be interested in submitting a PR with that approach. Further more on this subject, shouldn't the return of a call to `ipfs.dht.findprovs(_hash_)` be an simple array of Strings containing only the hashes of the providers ?

[2018-06-04 11:55] leonprou commented on #781
@diasdavid hey, what's the `ready` tag means? Maybe I can give a hand in this?

[2018-06-04 12:03] diasdavid commented on #781
Thanks for offering to help! The `ready` label comes from Waffle, see https://github.com/ipfs/js-ipfs/blob/master/MGMT.md to learn what which label mean.

This feature needs https://github.com/ipfs/interface-ipfs-core/issues/58 which is the crux to have timeouts.

[2018-06-04 13:54] leonprou commented on #781
@diasdavid I did some digging at the code, under the hood you're using the `request` of the `http` module.  This module got a `setTimeout` method.

So I added the following code after:
https://github.com/ipfs/js-ipfs-api/blob/master/src/utils/send-request.js#L165

[code]

It did throwing an error, so if I'm not missing something we can start with it as a prototype.

[2018-06-10 07:47] leonprou commented on #781
@diasdavid hey, any comment?

If the contributors are ok with that approach I'd like to make a PR

[2018-06-17 12:26] topealabi opened #787 "Using remote ipfs nodes"
Hi my goal is to set up a webpage where I can upload images and make use of a public ipfs node like http://ipfs.io. Is there a way to do something like this?

ipfsAPI('http://ipfs.io', '5001')

if not how could I accomplish this?

[2018-06-18 10:05] alanshaw commented on #787
Hi @topealabi,

From the browser you can:

1. **add files to a js-ipfs node running in your browser**

2. **add files via the API** to a node you're running that you **have write access to**. The public IPFS gateway's are read only, meaning that you'll **not be able to upload directly to them**

If you choose option 1, then the file will only be available to other peers while the user has their br

[2018-06-18 16:59] topealabi commented on #787
Awesome explanation, thanks @alanshaw

[2018-06-18 17:42] #787 closed

[2018-06-19 12:11] liao1k opened #788 "upload-file-via-browser can only upload file size less than 165MB"
Hi JS-IPFS-API Development Team,
   I use upload-file-via-browser to upload file into IPFS, it can only upload the file size less than 160MB. Any file size large than 160MB, the web browser just stay here, no returning file hash id link showing on the web browser. Also Does "upload-file-via-browser" support upload multiple files?  The current version can only support upload one single file at a ti

[2018-06-19 12:43] diasdavid commented on #486
Track at https://github.com/ipfs/testing/issues/15

[2018-06-19 12:43] #486 closed

[2018-06-19 18:49] liao1k commented on #788
This is my demonstration web site: http://ipshare.info:3000/
Visit the above web site and upload a file which size is less than 160MB. The web browser can return the hash id, then try to upload a large file and you will see the local browser crashed. See the screenshot in the attachment.
![uploadlargefile](https://user-images.githubusercontent.com/37547030/41617572-d6fcad8e-73ce-11e8-8a4d-d12cb450

[2018-06-20 15:10] liao1k commented on #788
Hi Hugo Dias,
   Any updates? Let me know. Thanks.

[2018-06-21 01:52] mikeal opened #790 "dag.tree() is missing :("
Didn't see an issue tracking this yet. It's in the docs but isn't actually implemented yet.

[2018-06-21 22:06] mallendeo opened #791 "Is it possible to reference a hash when adding files?"
Is there a way to calculate the `cid` and append it to the current upload?

e.g:

[code]

[2018-06-22 14:35] alanshaw commented on #725
Looks like there _is_ a peer discovery regression on Windows. I've opened https://github.com/ipfs/go-ipfs/issues/5146

[2018-06-22 17:09] mikeal opened #792 "block.rm() is missing :("
Was surprised to find that this API was missing. It's in the go ipfs command line but isn't in `js-ipfs-api` and isn't documented in https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/BLOCK.md

[2018-06-22 17:51] lidel commented on #791
AFAIK no: `content` needs to be a Buffer, Readable Stream or Pull Stream with the contents of the file.

_However,_ you can use [`ipfs.object.patch.addLink(multihash, link, [options, callback])`](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/OBJECT.md#objectpatchaddlink) to add a new file using any CID to any directory and get a new CID in return:

[code]

[2018-06-22 18:39] mallendeo commented on #791
Thanks @lidel!

[QmbWqxBEKC3P8tqsKc98xmWNzrzDtRLMiMPL8wBuTGsMnR](https://ipfs.infura.io/ipfs/QmbWqxBEKC3P8tqsKc98xmWNzrzDtRLMiMPL8wBuTGsMnR) nice meme btw

[2018-06-22 18:39] #791 closed

[2018-06-25 11:03] diasdavid commented on #792
Interesting, this must be new. I remember specifically implementing this endpoint for js-ipfs and then later removing as go-ipfs team was uncomfortable (@whyrusleeping) having a command that would delete something from the store without passing through the pinning/gc.

It seems it got added meanwhile. @whyrusleeping @Stebalien shall we just implement it?

[2018-06-25 17:21] whyrusleeping commented on #792
@diasdavid yeah. The command was implemented with the caveat that it do a pin check on that hash. Which makes it *really* slow.

[2018-06-25 17:21] whyrusleeping commented on #792
In general, if youre using `ipfs block rm` its *likely* you are doing something wrong.

[2018-06-25 17:22] mikeal commented on #792
That's good to know, and should probably be in the docs. It means that, for the specific use case I had for this, it's actually not usable.

[2018-06-25 17:23] whyrusleeping commented on #792
Yeah, and i just noticed a typo in the helptext too. Ripe for a PR

[2018-06-28 10:01] lidel commented on #788
I believe the Chrome crash is is the same issue as https://github.com/ipfs/js-ipfs-api/issues/654

I did some investigation on this as a part of https://github.com/ipfs-shipyard/ipfs-companion/issues/464  and in my case it seems an upload to an external node over js-ipfs-api breaks for files bigger than 128MB in size.  AFAIK switching to streaming APIs does not help, because in browser context js-

[2018-06-28 12:58] lidel opened #797 "ipfs.files.add is missing error handling on invalid response from go-ipfs"
### The Bug

Sometimes (for specific multipart payloads in browser context) the `ipfs.files.add`  backed provided by go-ipfs returns an error in the middle of payload:

[code]

Then, upon receiving this payload, `js-ipfs-api` does not throw an error, but silently ignores the last line and returns a partial result list with only two first items. ([screenshot](https://user-images.githubusercontent.c

[2018-06-29 11:50] lidel commented on #797
FYSA workaround for now is to either patch go-ipfs (https://github.com/ipfs/go-ipfs/issues/5168#issuecomment-401230566) or disable progress reporting (https://github.com/ipfs/go-ipfs/issues/5168#issuecomment-401330761).

[2018-06-29 20:44] lidel commented on #797
Ok, so Client-side workaround for `http: invalid Read on closed Body` at HTTP API is to force HTTP client to sent upload request with  `Connection: close`  (https://github.com/ipfs/go-ipfs/issues/5168#issuecomment-401417420).

While it sounds like something  `js-ipfs-api`  could do, there are limitations in the browser context: [XHR Spec](https://xhr.spec.whatwg.org/) defines `Connection` as  "[a

[2018-06-30 13:36] PascalPrecht commented on #142
@diasdavid is this still something that should be addressed?

I can give this a spin. Will have to figure out what and how to test this, but I'm happy to get my feet wet with it with some guidance/pointers :)

[2018-07-02 19:54] obo20 opened #799 "Error: multihash too short. must be > 3 bytes."
If you submit a request to get a file using ipfs.files.cat, and you have a hash that is greater than 3 bytes, you still get the error message: "Error: multihash too short. must be > 3 bytes."

For example:

`ipfs.files.cat(/ipfs/QmUzdHisA7ouM8DM5rVAKursVK7t7tKeqDYGvmaCdJw5jEeesdlfjsldkfjsldkfjsdlkfjskldfj` will return that error message

[2018-07-02 19:55] obo20 commented on #799
From looking at the package itself, the only code I could find with this error message was as follows:

`  if (buf.length < 3) {
    throw new Error('multihash too short. must be > 3 bytes.')
  }`

From the looks of it, it should be working, so I'm not sure why this is erroring out like it is

[2018-07-03 09:56] alanshaw commented on #799
@obo20 TLDR; the error message is deceptive but it's failing because `QmUzdHisA7ouM8DM5rVAKursVK7t7tKeqDYGvmaCdJw5jEeesdlfjsldkfjsldkfjsdlkfjskldfj` is not a valid CID.

---

`ipfs.files.cat` calls `cleanCID` on `/ipfs/QmUzdHisA7ouM8DM5rVAKursVK7t7tKeqDYGvmaCdJw5jEeesdlfjsldkfjsldkfjsdlkfjskldfj` here:

https://github.com/ipfs/js-ipfs-api/blob/a8f9a43064930c816b0e73dbc1674a313cf1baca/src/files/cat

[2018-07-04 09:29] alanshaw opened #803 "Remove reliance on external services for util.addFromURL tests"
The `addFromURL` tests call out to URLs on the internet to add content to IPFS. This makes our tests dependent on the availability and response time of these services. Instead we should spin up a mock node server to respond to these requests for each test.

https://github.com/ipfs/js-ipfs-api/blob/a8f9a43064930c816b0e73dbc1674a313cf1baca/test/util.spec.js#L115-L197

[2018-07-04 09:52] alanshaw commented on #799
I would like to use something like [`explain-error`](https://www.npmjs.com/package/explain-error) to give better context to errors throughout js-ipfs, js-ipfs-api and it's dependencies.

For the time being I think in this case the best solution would be to fix `files/cat.js` to only call `cleanCID` if the input is not determined to be a valid IPFS path as `cleanCID` only expects input as a buffer,

[2018-07-04 12:34] PascalPrecht commented on #799
@alanshaw I'm looking into this and was wondering what you prefer:

This means, we basically wanna check for Buffer, isCID, cidString and ipfsPath beforehand. However, with how it is now, that would mean we'd only conditionally clean the hash e.g.:

[code]

with `checkValidInput()` looking something like

[code]

In other words, if `hash` doesn't pass that check, whatever `hash` is at this point w

[2018-07-04 12:51] PascalPrecht commented on #799
Here's a proposal. Happy to change it as to your needs: https://github.com/ipfs/js-ipfs-api/pull/804

[2018-07-06 13:11] PascalPrecht commented on #792
Hi,

maybe I can help out with this one. Do I get it right that everybody here agreed `block.rm()` should be implemented?

I'm not super familiar with the `Block` APIs yet, but I can read it up and give it a spin.

[2018-07-09 14:31] alanshaw opened #807 "Request logging broken in Electron"
See https://github.com/ipfs/js-ipfs-api/pull/798#issuecomment-403464753

[2018-07-09 15:11] requilence commented on #807
Thanks for the quick response @alanshaw
I made the PR https://github.com/ipfs/js-ipfs-api/pull/808

[2018-07-10 07:10] #807 closed

[2018-07-12 20:30] dpxcc opened #809 "Error: Cannot find module 'debug'"
'debug' package is used at ipfs-api/src/utils/send-request.js:12:13, but is not listed as a dependency.

[2018-07-16 05:57] yashwanth2804 opened #812 "I am not react guy, can some one add example basing simple javascript or jquery file upload implementation to docs"
It says buffer not defined,I like to use cdn instead of  node  implementation

[code]

[2018-07-16 07:16] alanshaw commented on #812
@yashwanth2804 you can use Buffer from `ipfs.types.Buffer` if you're not using a bundler that provides a shim. Hope that helps!

[2018-07-16 08:55] yashwanth2804 commented on #812
Thanks working with the following code.
**But path I provided "Pictures" folder** , but i didn`t found any file moving there.but i got the hash.
1 . Is file added to the ipfs repo ?
2 . If I pin the file with provided hash can it stay without gc taking away ?

[code]

[2018-07-16 12:41] yashwanth2804 opened #814 "Mixed Content issue while adding file to ipfs"
request.js:119 Mixed Content: The page at 'https://myrepo.github.io/iop/index3.html' was loaded over HTTPS, but requested an insecure resource 'http://myip:5001/api/v0/add?recursive=true&stream-channels=true'. This request has been blocked; the content must be served over HTTPS.

[2018-07-17 09:15] vaibhav6233m commented on #529
I am using the` js-ipfsd-ctl` and `js-ipfs-api` inside one of my electron application.

As per @vasco-santos comment,

I came to know that the actual providers for the given hash are all  ` "Type": 4 `. All other records should be some routing notifications for exchanging routing information among peers.
This info could be really helpful for the people who wants to use dht functions in their proje

[2018-07-17 16:40] PascalPrecht commented on #799
@alanshaw you're prolly super busy with things, but maybe you'll find 2 minutes to give my last comment here a quick thought? :)

I'll then update the PR accordingly and serve it on a golden plate (and stop annoying you with it).

[2018-07-17 20:57] miguelmota opened #815 "block.put ignores CID argument"
Hello, I'm having an issue where `block.get` is hanging and never returns the block.

Here's the example code:

[code]

Output

[code]

It works using the CLI though:

[code]

Any help is appreciated, thanks.

[2018-07-17 21:12] miguelmota commented on #815
It looks like the CID is being ignored in https://github.com/ipfs/js-ipfs-api/blob/master/src/block/put.js

[2018-07-18 06:50] PascalPrecht opened #816 "Installing dependencies fails due to missing git hook"
Same issues as described in: https://github.com/ipfs/js-ipfs/issues/1444

Unfortunately, as discussed in the issue linked above, it doesn't seem like this can be easily fixed without action by users. So we should update the README in this repo accordingly as well.

[2018-07-18 06:53] PascalPrecht commented on #816
Nevermind. I confused the two repos on my local machine. 🤦‍♂️

Closing

[2018-07-18 06:53] #816 closed

[2018-07-18 07:54] alanshaw commented on #799
Apologies I completely forgot about this one - I have commented on your PR now, let me know what you think!

[2018-07-18 09:18] PascalPrecht commented on #799
No worries. We've all got stuff to do :)

I've read your comment and am working on updating the PR. Trying to come up with a test as well, so we can verify the expected behavior. Stay tuned.

[2018-07-18 10:41] alanshaw commented on #812
The file is added to the IPFS repo and will not be garbage collected as `ipfs.files.add` will pin files by default. Pinning files ensures they are not garbage collected.

If you want to add your file(s) to a directory, you'll need to use the `wrapWithDirectory` option.

See the docs for `ipfs.add` here:
https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#filesadd

[2018-07-18 10:41] #812 closed

[2018-07-18 10:47] alanshaw commented on #814
Hi @yashwanth2804,

Resources served from a secure context cannot make AJAX requests to insecure contexts. This is a browser restriction and not an issue with js-ipfs-api.

You'll need to access your IPFS API over HTTPS if your want https://myrepo.github.io/iop/index3.html to be allowed to talk to it. Commonly people run an nginx or apache server as a TLS termination proxy to the API.

Alternative

[2018-07-18 10:47] #814 closed

[2018-07-18 10:51] alanshaw commented on #815
Yes and because of that, the block is being stored under a version 0 CID so you can't get it back using your version 1 CID - which explains the hanging.

[2018-07-18 10:52] alanshaw commented on #815
Also, according to the spec the second arg should be an object with a `cid` property, not the CID itself.

https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/BLOCK.md#blockput

[2018-07-18 10:56] alanshaw commented on #725
This was resolved by https://github.com/ipfs/interface-ipfs-core/pull/311

[2018-07-18 10:56] #725 closed

[2018-07-18 11:04] alanshaw commented on #737
Our browser targets are the latest versions of Chrome and Firefox. Unfortunately IE11 support isn't something we have the resources to devote to right now.

I'm going to close this as we can't commit to supporting it. However, if you can get the transpile working, would you be willing to send a PR to the examples to show how?

[2018-07-18 11:04] #737 closed

[2018-07-18 17:28] syeo66 opened #817 "Uploading string content from the Browser."
I'm trying to upload a string to ipfs using ipfs-api. Just without luck. I was able to upload the same string using curl without any problem. So I figure it should be possible with ipfs-api, too.

This little testscript seems not to work and I can't figure out why.
[code]

![bildschirmfoto 2018-07-18 um 19 27 02](https://user-images.githubusercontent.com/1178021/42897556-9f7215d0-8ac0-11e8-9a5a-92

[2018-07-18 20:52] syeo66 commented on #817
Okay, this can be closed. Stupid me did not realize that Privacy Badger was messing with the connection. It works now.

[2018-07-18 20:52] #817 closed

[2018-07-19 22:17] neodon commented on #815
I'd like to give this a try.  New here, not sure what the process is for asking to be assigned to an issue.

[2018-07-20 07:25] alanshaw commented on #815
@neodon that would be awesome, please send a PR! Would you mind also adding a test to https://github.com/ipfs/interface-ipfs-core/blob/master/js/src/block/put.js for this?

You need to use `npm link` to run the test you add against this repo. You should be able to tweak https://github.com/ipfs/js-ipfs-api/blob/master/test/interface.spec.js to [run only the test](https://github.com/ipfs/interface-i

[2018-07-21 00:03] Pneumaticat commented on #748
I get the same error, but on files > ~1 MB, through a nginx reverse proxy. Turning off `progress` fixes the issue. I get a timeout on the backend after 1 minute from nginx.

[2018-07-21 07:49] nineblu opened #818 "Can't install ipfs-api. Command“npm install --save ipfs-api” don't work on Ubuntu 18.04"
after i input command "npm install --save ipfs-api", it is stopping at "loadDep:webcrypto-shim" and the progress bar don't move any longer.
Just like this: [https://ipfs.io/ipfs/QmRFhvQZBfHBDfHQwwJzixgr3oG7nwftusxufHWukbtdUQ](url)
![ax](https://user-images.githubusercontent.com/24690674/43033531-73dc10ac-8cfe-11e8-8c8b-d0404f9a2da1.jpg)

Could anyone help to solve this problem? Thanks very much!

[2018-07-23 08:13] alanshaw commented on #818
Do you have git installed? Looks like a dependency depends on a git repo that npm needs to clone.

[2018-07-23 08:44] nineblu commented on #818
Yep, I have git installed successfully. But maybe it's my network's problem rather than git. And now it works!

[2018-07-23 08:50] alanshaw commented on #818
\o/

[2018-07-23 08:50] #818 closed

[2018-07-26 05:07] channprj commented on #654
It works on Safari. Just crashes in Chrome. How can I handle this? Does anybody work on it?

[2018-07-27 08:02] derekchiang opened #820 "pull-stream based API does not work with go-ipfs"
Not sure if this is a known issue, but I was unable to use `ipfs.files.getPullStream` against a `go-ipfs` node, but the same code works against a `js-ipfs` node.  Meanwhile `ipfs.files.get` works against both nodes.

[2018-07-27 08:03] derekchiang commented on #820
This is with `go-ipfs 0.4.16` and `js-ipfs 0.30.1`.

[2018-07-29 22:57] alanshaw commented on #820
@derekchiang do you have an error message you can post or some example code we can run to verify the issue?

[2018-07-31 19:09] hacdias opened #822 "ipfs.config.get() returns different value types"
If the API is connected to a Go node, calling `ipfs.config.get()` returns a `Uint8Array`.

If the API is connected to a JS node, calling `ipfs.config.get()` returns, well, an object with the config.

Interface IPFS Core says "[the result] is a JSON object containing the configuration of the IPFS node" which is also confusing to me.

Should we normalize it to a simple object everywhere?

[2018-08-02 04:12] wanyvic opened #824 "js-ipfs-api cann't call ipfs.key.list()"
js-ipfs-api: { version: "0.4.17", commit: "acd4b38", repo: "7" }
go-ipfs: version 0.4.17
I want to use the js-ipfs-api to gen a new key to my keypair.
so I make a demo(/js-ipfs-api/examples/bundle-browserify) to list all of my keys,just call func ipfs.key.list()
but error:TypeError: ipfs.key is undefined
console.log(ipfs),I cant find the 'key' function
<img width="703" alt="wx20180802-120731 2x" s

[2018-08-02 07:03] hacdias commented on #822
/cc @diasdavid

[2018-08-02 07:41] hacdias commented on #822
This happens because JS-IPFS sets the Content-Type header to `application/json` and GO-IPFS to `text/plain`.

[2018-08-02 17:32] alanshaw commented on #824
@wanyvic the `ipfs-api` dependency in that example is really old! Try updating to the latest version and you should be able to use that API. Would you be willing to send a PR to update the example?

[2018-08-03 11:15] hacdias commented on #822
@diasdavid done on https://github.com/ipfs/js-ipfs-api/pull/825 and https://github.com/ipfs/interface-ipfs-core/pull/343.

[2018-08-06 13:29] alanshaw commented on #820
ping @derekchiang

[2018-08-06 13:29] alanshaw commented on #815
@neodon did you get anywhere with this?

[2018-08-06 14:15] #822 closed

[2018-08-06 18:04] VictorBjelkholm commented on #518
According to https://developer.mozilla.org/en-US/docs/Web/API/AbortController#Browser_compatibility most browsers now work with AbortController (except IE, shocker)

![image](https://user-images.githubusercontent.com/459764/43733127-e6049a02-99b3-11e8-9a47-b45761cd99f6.png)

[2018-08-07 23:10] neodon commented on #815
@alanshaw I've spent quite a bit of time digging through the layers in js-ipfs-api and js-ipfs.  Currently going through the go-ipfs implementation to get more context.  Any hints or insight would be helpful.  I can't seem to determine that js-ipfs-api actually supports setting a custom cid.

[2018-08-08 09:49] meteorplus commented on #605
same issue why??

[2018-08-10 07:02] tech-somish opened #828 "Can't resolve 'https'"
I have included the latest version of ipfs-api in an angular project of mine but when building the project with ng serve, I am getting this error

`ERROR in ./node_modules/ipfs-api/src/utils/request.js
Module not found: Error: Can't resolve 'https' in 'D:\-\node_modules\ipfs-api\src\utils'`

The error is generated by this line
`const httpsRequest = require('https').request`

if i change the https

[2018-08-12 10:35] kasperfish opened #829 "Error: Can't resolve 'async/eachSeries'"
I'm trying to use the ipfs-api with vue/quasar. I think this is a webpack error but don't know how to solve it.
![image](https://user-images.githubusercontent.com/5130772/44001112-01e0f3f2-9e2c-11e8-9251-d4d5a59a11e7.png)

[2018-08-12 19:55] aphelionz opened #830 "ES5 Build Options"
We are admittedly being rather extreme in our intentions to support older devices. For example, we have users reporting problems on iOS 10 (complaining about `let`, of all things), and we'd like to support them. Is there a way to use the source code to build a version of js-ipfs-api that

Alternatively, might such a version already exist on a CDN that we can link to?

Thanks!

[2018-08-13 08:28] alanshaw commented on #829
I'm not sure if I can help with this - I've double checked `async` is a dependency and with a fresh install of `ipfs-api` I can see `node_modules/async/eachSeries.js`. So, I don't think this is an issue with `ipfs-api`...have you tried removing your `node_modules` and `package-lock.json` and re-installing?

[2018-08-13 08:41] #829 closed

[2018-08-14 02:15] ashah917 commented on #828
I will take this one

[2018-08-14 07:34] ashah917 commented on #815
I took a look -- is the issue just that the CID is not being properly passed in the call of sendOneFile on line 29? Also the need to handle the different possible types of CID objects being passed into the function

[2018-08-15 07:45] #803 closed

[2018-08-15 15:51] sorleone opened #835 "How can use the P2P API path to send private messages?"
js-ipfs-api does not seem to provide p2p commands. How can I access these commands? Can you explain how can I extend this library so that I can send encrypted private direct messages? Like sendTo of the ipfs-pubsub-room? They seem to use libp2p dial:

https://github.com/ipfs-shipyard/ipfs-pubsub-room/blob/8fa55b222f904166e6fb98714b078d623ee12d80/src/connection.js#L51

What about the HTTP API path

[2018-08-15 22:26] noxonsu commented on #835
encode your messages using aes

[2018-08-16 02:20] zy445566 opened #836 "webui's BUG"
![image](https://user-images.githubusercontent.com/14976489/44183509-dac1a180-a13d-11e8-91fd-0da1eaa9c826.png)
Maybe not use "toString" but "JSON.stringify"?

[2018-08-16 02:25] zy445566 commented on #836
sorry,it's js-ipfs BUG

[2018-08-16 02:25] #836 closed

[2018-08-21 15:13] alanshaw commented on #649
@dkelsen would you mind opening a fresh issue with some example code demonstrating the issue?

[2018-08-21 15:19] dkelsen commented on #649
@alanshaw I was able to fix this issue by using Buffer.from() on my ArrayBuffer in ipfs.files.add()

[2018-08-23 14:32] Bowfish opened #838 "upload a json array to ipfs"
How can I upload a json array to ipfs? My array looks something like this:

[code]

[2018-08-26 22:06] magik6k commented on #835
The API is getting refactored - https://github.com/ipfs/go-ipfs/pull/4929. There is a plan to expose separate interface to libp2p streams (https://github.com/ipfs/go-ipfs/issues/5341)

[2018-08-26 22:46] magik6k opened #839 "DNS tests failing in go-ipfs"
https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fgo-ipfs/detail/PR-5053/110/tests/
[code]

`ipfs dns ipfs.io` needs to be called with `-r` flag as `ipfs.io` uses 2-level dnslink (`/ipns/ipfs.io` -> `/ipns/website.ipfs.io` -> `/ipfs/QmWebsite`)

Blocks https://github.com/ipfs/go-ipfs/pull/5053

[2018-08-27 09:07] diasdavid commented on #839
These tests pass on js-ipfs-api master which gets tested with the latest go-ipfs released (0.4.17).

[2018-08-27 10:16] the-owl opened #840 "Error with node >= 6.0.0 and < 7.7.0"
js-ipfs-api declares support of nodejs >= 6.0.0 in package.json. But in fact it does not support versions below 7.7.0.

My node version is 6.10, and I get this when calling `ipfs.refs.local()`:
[code]

Support for `ClientRequest.getHeaders()` was added only in 7.7.0: https://nodejs.org/api/http.html#http_response_getheaders

`engines.node` field in package.json should probably be raised to `>=7.7.

[2018-08-27 10:43] magik6k commented on #839
I use v24.0.1 + go-ipfs master. Testing locally, `ipfs dns ipfs.io` on 0.4.17 returns the same error. Can you test with go-ipfs master?

[2018-08-27 10:45] magik6k commented on #839
(this is how the test is run: https://github.com/ipfs/go-ipfs/pull/5053/files#diff-b7ff5824046cf0b1acd30703f283738dR140)

[2018-08-28 07:41] shunkino commented on #518
Hi, I'm new to the ipfs community and impressed by the all works done so far.
I find the PubSub functionality very interesting and which it be work in browsers too.

Here are my findings. Maybe I'm totally off the track, please let me know if anything is wrong.
In my understanding, the problem here is that we can't cancel requests in browser by the code bellow.
https://github.com/ipfs/js-ipfs-api/

[2018-08-28 11:08] alanshaw commented on #518
This sounds reasonable to me @shunkino - I'd ❤️ to see a proposal PR 😄

[2018-08-28 11:19] alanshaw commented on #838
[code]

Also check out the examples here for more: https://github.com/ipfs/js-ipfs-api/tree/master/examples

[2018-08-28 11:19] #838 closed

[2018-08-28 11:27] alanshaw commented on #828
ping @ashah917 - did you get a chance to look at this yet?

[2018-08-28 11:27] alanshaw commented on #820
closing due to inactivity

[2018-08-28 11:27] #820 closed

[2018-08-29 10:34] the-owl commented on #840
@alanshaw yes, I'll send a PR soon

[2018-08-29 10:43] lidel opened #842 "Streaming versions of ipfs.files.add buffer entire data in memory before doing HTTP POST"
[code]
## Problem Summary

Streaming over HTTP does not work the way people expect: it ends before HTTP transport and entire thing is buffered in memory before HTTP POST is called with entire thing in its payload.

This is bad because:
- breaks progress reporting (https://github.com/ipfs/js-ipfs-api/issues/748)
  (0% until entire thing is received by remote server, then 100% instantly)
- web brows

[2018-08-29 10:47] hacdias commented on #842
cc https://github.com/ipfs-shipyard/ipfs-webui/issues/762

[2018-08-31 09:08] thpun opened #845 "Error: pump requires two streams per minimum"
#### Version
`node` : 8.11.3
`js-ipfs-api`: 22.0.1

#### What I did
[code]

#### Expected behaviour
Return array of PeerInfo as said in API documentation

#### Actual behaviour
[code]

[2018-09-01 14:16] shunkino commented on #839
Hi @magik6k, I think I also had a same problem.

I was able to successfully execute the test by modifying codes as follows to enable recursive ipns resolve as you pointed out in the first post. Thank you.
https://github.com/ipfs/interface-ipfs-core/blob/master/js/src/miscellaneous/dns.js#L37
`ipfs.dns('ipfs.io', {r: true}, (err, path) => {`

https://github.com/ipfs/interface-ipfs-core/blob/master/

[2018-09-01 18:24] koalalorenzo opened #848 "Doesn't work inside a service-worker on Firefox"
By playing around with `js-ipfs-api` inside a service worker, I have noticed that it works perfectly on Safari and Chrome, but apparently not on Firefox.

The error reported is related to the usage of `XMLHTTPRequest`.

I guess this is the cause: https://www.fxsitecompat.com/en-CA/docs/2015/xmlhttprequest-is-no-longer-available-in-service-workers/

Any guess how to solve/fix this to support also F

[2018-09-01 19:54] lidel commented on #839
cc upstream issue: https://github.com/ipfs/go-ipfs/issues/4293#issuecomment-416301815
(the issue is that `ipfs dns` is not recursive and recently `ipfs.io` switched to indirect dnslink)

[2018-09-02 05:38] koalalorenzo commented on #848
I will try to find the time for it 👍

Should I update it for all the requests? I was diving a little and I found this line:
https://github.com/ipfs/js-ipfs-api/blob/231c4d78723d41152e6a695a5f171feae2274c19/src/utils/send-request.js#L174

That connects to:
https://github.com/ipfs/js-ipfs-api/blob/master/src/utils/request.js

I see from the code that there is a lot of dependency on how we are using

[2018-09-02 10:01] haggins opened #850 "File added as directory"
By adding a file via `readStream` it gets always stored as a directory. Is there another preferred method to stream files from nodejs to IPFS?

[code]
**Output:**

[2018-09-02 11:01] haggins commented on #850
It works when I use `fs.readFile('ipfs.png', (err, data) => {` instead.

[2018-09-03 09:40] vasco-santos commented on #848
Nice research!

I believe that we should have `fetch` for every single request, since each api call should be accessible through a `service worker` as well.

Yes, I suppose it will not be an immediate and easy change, as you say, some of the request's building blocks have to be implemented according to the fetch API. Let's wait for @alanshaw input here.

[2018-09-04 08:13] alanshaw commented on #839
@shunkino if you're able to send a PR to `interface-ipfs-core` that would be fantastic ✨. Shout if have any questions.

We shouldn't really be relying on external services in our tests but I don't have a better idea right now :( Suggestions and PRs welcome 😎

[2018-09-04 23:14] hugomrdias commented on #848
In the browser we use `stream-http` package that is suppose to use fetch if it's available we should report this problem to them

[2018-09-05 07:42] alanshaw commented on #839
yes, there was - @lgierth should be able to comment (apologies I saw you explained this in IRC but I forgot the reason)

[2018-09-05 14:43] lgierth commented on #839
We wanted the dnslink to be in a different zone than the MX records, so that we can safely updated automatically via Jenkins. It wasn't a hard requirement, just general security hardening.

[2018-09-06 11:17] mccoysc opened #852 "pubsub support"
why not support pubsub while run in browser?

[2018-09-06 11:29] alanshaw commented on #852
Hi @mccoysc please see the discussion here: https://github.com/ipfs/js-ipfs-api/issues/518

[2018-09-06 11:29] #852 closed

[2018-09-07 05:09] shunkino commented on #518
I've made a change to the /src/pubsub.js according to my findings above. But something is still wrong, and I was debugging that these few days. Unfortunately, I'm stack now and need help...

I modified the pubsub.js as below. It's basically adding condition to detect whether the browser have the AbortController functionality.
https://gist.github.com/shunkino/baf26def13aca1ae6949d3ff1e0f939b

Modif

[2018-09-10 00:08] shunkino commented on #518
I just noticed on my Firefox (Quantum 61.0.2 64bit on macOS) the code worked...
Maybe there's some browser dependent code causing [above mentioned problem](https://github.com/ipfs/js-ipfs-api/issues/518#issuecomment-419324459).

[2018-09-10 04:48] shunkino commented on #848
HI @koalalorenzo, I think this is because `ReadableStream()` is disabled in Firefox by default.
This function should be available for `stream-http` to work as a fetch() mode.

Could you test your code after enabling `ReadableStream()` by procedure below?

https://developer.mozilla.org/en-US/docs/Web/API/ReadableStream
[code]

[2018-09-10 06:05] seungwon-kang opened #853 "Add bl module to package.json dependencies"
Hi, I'm using ipfs-api (and I don't use js-ipfs) in my electron project.

bl is used in https://github.com/ipfs/js-ipfs-api/blob/master/src/files/cat.js#L6

but in package.json, it is not in dependencies, so error occurs when executing my electron program builded. (Of course, if I add "bl": "^2.0.1" module to package.json dependencies in my project, it works)

Can you add it to package.json?

[2018-09-10 07:08] koalalorenzo commented on #848
The error that I am getting when I am doing a simple list of pinned elements is reporting a `XMLHTTPRequest` so I am not sure how much that is related to `ReadableStream`, but I could be wrong.

<img width="472" alt="screen shot 2018-09-10 at 09 06 47" src="https://user-images.githubusercontent.com/33528/45281704-eb64fd80-b4d8-11e8-9d5a-5f38c4e2dea8.png">

https://www.fxsitecompat.com/en-CA/docs/2

[2018-09-10 07:13] koalalorenzo commented on #848
Enabling ReadableStream on Firefox it doesn't fix the problem.

[2018-09-10 07:53] hugomrdias commented on #848
I'm looking into stream-http for other stuff I'll check this out.

[2018-09-10 07:55] jhiesey commented on #848
@hugomrdias let me know if you need help with `stream-http`. I'm the maintainer of that module and also working for Protocol Labs.

[2018-09-10 08:11] koalalorenzo commented on #848
Can anybody explain to me why it is `stream-http` the cause of this?

[2018-09-10 08:13] shunkino commented on #848
It's because js-ipfs-api uses `stream-http` as an alternative of `http` in browser environment.
https://github.com/ipfs/js-ipfs-api/blob/master/package.json#L11

[2018-09-10 09:40] shunkino commented on #848
@koalalorenzo
Hi again, sorry for sending comments frequently. Thank you for testing my previous post. Sorry to hear that it didn't worked out for you. 😢

I just tested ServiceWorker inside Firefox and was able to call `ipfs.pin.ls()` from it. My environment: Firefox (Quantum 61.0.2 on MacOS). Only change I did is enabling `ReadableStreaming()`

This is the screenshot of my console.
![image](https

[2018-09-10 11:57] koalalorenzo commented on #848
Well, I can't ask the users to enable `ReadableStreaming` :(
@jhiesey maybe you can help here

[2018-09-10 13:39] alanshaw commented on #853
Thanks for reporting @seungwon-kang - would you mind sending a PR to fix?

[2018-09-10 18:09] seungwon-kang commented on #853
Of course! I sended PR :)

[2018-09-11 06:48] mitra42 opened #855 "version forbidden ?"
I'm seeing an issue with the js-ipfs-api where "version" is forbidden.

Its unclear to me if this is a JS-IPFS-API issue or a GoLang daemon issue?

I call `ipfs.version` and see in the console.log :
[code]
Request headers are:
[code]
and Response is:
[code]
Running `ipfs -D daemon` generates the following debugging:
[code]

[2018-09-11 16:05] parkan commented on #855
the check for "local" access [here](https://github.com/ipfs/go-ipfs-cmds/blob/12b0d43018ee7b8abbde4308d5b62ab9d0dbea0f/http/config.go#L81) is only looking for empty referrer/origin, so you may need to configure CORS like

[code]

but... the other requests in this context work?

[2018-09-11 21:35] mitra42 commented on #855
I don't know if other requests work - when it fails the "version" test, it assumes there is no usable local ipfs instance, falls back and loads js-ipfs instead of js-ipfs-api.  I'm assuming any other request from the browser is also going to fail if it calls the same "allowOrigin()" function.

I can't follow the Go code enough to understand where  cfg.AllowedOrigins is coming form, but
It sounds t

[2018-09-13 10:16] maroodb opened #857 "How to encrypt file using a public key before add it to IPFS ?"
Is it possible to encrypt a file using a public key before add it to IPFS?

Example:
Alice want to add file that only Bob can open it.

Alice encrypt file using Bob pubkey than add it to IPFS.
Bob get the file hash and download the file, than decrypted using its private key.

[2018-09-14 10:54] alanshaw commented on #857
You could use tweetnacl.js. See example here: https://github.com/dchest/tweetnacl-js/wiki/Examples

[2018-09-14 10:54] #857 closed

[2018-09-14 10:56] maroodb commented on #857
tweetnacl is an external library. I need to encrypt file using public key of the IPFS node.

[2018-09-14 10:59] alanshaw commented on #855
I think @parkan has answered this, CORS prevents `localhost:8081` from making requests to `localhost:5001` unless the server has CORS headers setup correctly. You'll need to add `localhost:8081` to the list of origins allowed to make requests to `localhost:5001`.

Shout if that didn't fix it for you @mitra42.

[2018-09-14 10:59] #855 closed

[2018-09-14 11:12] olizilla commented on #797
This is a blocker to releasing the share files feature in the new web ui, as it's purpose is to let the user upload multiple files for sharing with others.

https://github.com/ipfs-shipyard/ipfs-share-files/issues/22

[2018-09-14 12:15] alanshaw commented on #857
yep - is that an issue?

You can get hold of the public key for your node using `(await ipfs.id()).publicKey`

[2018-09-14 13:06] maroodb commented on #857
I meant I wont use an external library for encryption,
I want to use the keys of IPFS for encryption. the question is how to encrypt data using IPFS keys.

[2018-09-14 21:44] mitra42 commented on #855
I haven't been able to test this yet, if it works it will fix one (of three) cases we are interested in, where we have installed the local ipfs daemon ourselves.

In dweb-mirror we plan on distributing a docker with an http image and either an integrated, or a separate docker with IPFS. It doesn't currently fix that case because I can't figure out how to set config variables on a docker-based IPFS

[2018-09-17 16:01] vmx opened #858 "block/rm API is missing"
The API to remove a block is currently missing.

[2018-09-17 16:41] mikeal commented on #858
I remember reading somewhere that people were concerned about this feature. Specifically, they were worried about allowing people to remove blocks that may still be needed by graphs that have been pinned. Without this feature, the only way to remove blocks is via `gc` which avoids the problem.

[2018-09-17 18:02] parkan commented on #855
You can configure this in a Dockerfile, like

[code]

can discuss that offline

this is a reasonable security policy and applies to any kind of local HTTP API, not just IPFS: imagine arbitrary websites being able to run commands against your local servers, potentially leaking private data

IPFS companion has per-site access policies that are presented in a friendly UI and will probably be the best

[2018-09-17 22:10] lidel commented on #848
FYSA [Streaming API is very close to be enabled by default](https://bugzilla.mozilla.org/show_bug.cgi?id=1389628) in Firefox:

[2018-09-18 15:12] alanshaw commented on #797
I think this might be where we might want to throw an error rather than ignore/smother: https://github.com/ipfs/js-ipfs-api/blob/63682dd7078197af5d820234e66aff29552288d4/src/utils/file-result-stream-converter.js#L32-L34

Looks like there's a PR open for go-ipfs now so hopefully this will go away soon, however if someone wants to do something in the mean time I'd start looking there ^^^

[2018-09-19 15:56] Nanofortress opened #859 "Cannot read property 'x-stream-output' of undefined"
### Environment
I am having this problem when trying to use this module on React Native. I am using the ipfs-api version 24.0.1 imported to React Native with rn-nodeify version 10.0.0 with the following steps:
[code]
Then uncomment require('crypto') in shim.js at the root of React Native project.
Then go to this file:
[code]
and add
[code]
before ```module.exports``` line in the file.
Finally run:

[2018-09-19 18:54] Nanofortress commented on #859
Ops before I didn't have the ipfs daemon open. But now after having it open I am getting a slightly different error.
![e3](https://user-images.githubusercontent.com/22304190/45774607-689c1b00-bc1b-11e8-89ae-056932eb4146.png)

So now it cannot read x-stream-error.
This error only happens when I try ipfs.files.add, ipfs.files.write, basically anything that pushed data to ipfs.
Calls like ipfs.files.

[2018-09-20 18:54] #815 closed

[2018-09-20 19:11] Nanofortress commented on #859
It seems like the response from ipfs is corrupted or malformed. The picture below shows the Wireshark tracking the packet sent from ipfs to my app and the data is malformed.

![e6](https://user-images.githubusercontent.com/22304190/45840610-6900e880-bce5-11e8-80cd-357cc8f938c9.png)

This shows that in the packet inside trailer the x-stream-error is specified so there is indeed a x-stream-error to

[2018-09-21 08:37] mmsaffari commented on #845
Has this been solved? I still get the same behavior on js-ipfs-api@24.0.1
Is there a workaround?

[2018-09-21 18:31] ekanath25 opened #861 "addreadblestream file in the alreadycreated IPFS dir"
I am creating a dir using mkdir command, i want to add a file in the created dir.

Please help me Thanks in advance

[2018-09-22 09:21] rohitkhatri opened #862 "Hangs when trying to fetch non existing hash"
When I try to fetch a non existing `hash`, the sdk hangs.

Here's what my code looks like:

[code]

When I try to fetch a valid address using the below code works fine:

[code]

But when I try to fetch a non existing address, It hangs and doesn't stop.

[code]

[2018-09-26 21:35] yshuman1 opened #863 "failed to compile truffle react box when using ipfs-api"
When trying to run `npm run build` it fails to compile and throws this error:
[code]

This is what the debug log shows:
[code]

[2018-09-27 03:29] mitra42 commented on #855
For anyone reading this later ... the solution for the docker case is to run
[code]

[2018-09-27 13:43] rklaehn opened #864 "Provide typescript type definitions"
This would be extremely helpful. I have worked with both flow and typescript. Flow has some theoretical advantages, but typescript has way better tooling support and mindshare, which is why I reluctantly switched to typescript.

Please provide typescript type definitions just for the API. That would be extremely helpful.

[2018-09-28 17:19] #840 closed

[2018-09-29 18:43] biko-the-bird opened #866 "Unable to build"
I have installed ipfs-api into my react application and it works fine in development mode however when I try to create a production build I receive the error
[code]
The read more link says that I need to update react-scripts which doesn't even seem to be in the ipfs-api dependencies. (I tried updating it anyways to no avail.)

I've also tried updating ipfs-api. Nothing has produced any progress. I

[2018-09-29 21:46] #866 closed

[2018-09-29 21:47] biko-the-bird commented on #866
This issue was not related to ipfs-api

[2018-09-30 13:01] r-a-x commented on #850
so in that case it's not a bug and this should be closed.

[2018-09-30 19:53] tylermzeller commented on #850
I believe so too.

[2018-09-30 21:17] #850 closed

[2018-10-01 00:46] klueq commented on #518
Is there a way to enable `pubsub` locally?

[2018-10-02 11:01] madelacruzs opened #867 "res.req.getHeaders is not a function in nodejs"
TypeError: res.req.getHeaders is not a function
    at ClientRequest.<anonymous> (/Users/madelacruzs/node-js-projects/Github/IPFS-GetSet/node_modules/ipfs-api/src/utils/send-request.js:41:38)
    at ClientRequest.g (events.js:292:16)
    at emitOne (events.js:96:13)
    at ClientRequest.emit (events.js:188:7)
    at HTTPParser.parserOnIncomingClient [as onIncoming] (_http_client.js:473:21)
    at

[2018-10-02 12:19] alanshaw commented on #867
what version of Node.js are you using?

[2018-10-02 17:15] madelacruzs commented on #867
I'm using v6.11.1

[2018-10-05 12:21] hdriqi opened #869 "ipfs.pin.add never return callback/promise"
Hi, Im trying to use `ipfs.pin.add` but it never return callback/promise

here's the code to reproduce

[code]

`ipfs.pin.ls` works find, only `ipfs.pin.add` doesnt work.

[2018-10-05 13:09] lekshmikbs123 commented on #55
I was trying this code and getting an error "stream.on is not a function" . Please help me out

[2018-10-05 13:15] angelmariadas commented on #55
I was trying this code and got an error "app.js:117564 Uncaught TypeError: stream.on is not a function
    at app.js:117564
    at BufferList.stream.pipe.bl [as _callback] (app.js:66091)
    at BufferList.end (app.js:59957)
    at exports.IncomingMessage.onend (app.js:106871)
    at exports.IncomingMessage.g (app.js:13053)
    at exports.IncomingMessage.EventEmitter.emit (app.js:12984)
    at endR

[2018-10-05 13:42] lekshmikbs123 commented on #55
I was using ipfs version ^24.0.2, when I installed version 14.0.4 error just disappeared :)

[2018-10-05 14:02] hdriqi commented on #869
@VictorBjelkholm ah yeah my bad, so I was generating hash using `ipfx-unix-engine` and then saving the file to IPFS using `ipfs.files.write`, turns out the hash generated was different. So yeah basically the hash didnt exist. thanks! closing this issue.

[2018-10-05 14:02] #869 closed

[2018-10-07 18:14] yshuman1 commented on #863
What I found is that uglify.js is not playing nice with js-ipfs. I commented it out in the config/webpack.config.prod.js file and it was successful

[2018-10-07 18:14] #863 closed

[2018-10-08 11:10] nGoline opened #870 "Should add lodash as a dependency"
Lodash is required in [./files/stat.js](https://github.com/ipfs/js-ipfs-api/blob/master/src/files/stat.js) and [./pin/ls.js](https://github.com/ipfs/js-ipfs-api/blob/master/src/pin/ls.js) but is not referenced in package.json;

This is causing errors when the core project doesn't require lodash.

[2018-10-09 09:42] #654 closed

[2018-10-09 09:45] hugomrdias commented on #788
https://github.com/ipfs/js-ipfs-api/pull/868 fixes this issue

[2018-10-09 09:45] #788 closed

[2018-10-11 15:31] #870 closed

[2018-10-11 16:29] alanshaw commented on #867
@madelacruzs please upgrade to the latest LTS 8.x and this should start working.

[2018-10-11 16:29] #867 closed

[2018-10-11 18:49] madelacruzs commented on #867
Thanks !!!

[2018-10-13 20:15] diasdavid commented on #654
![](https://media.giphy.com/media/qIXVd1RoKGqlO/giphy.gif)

[2018-10-15 10:08] #853 closed

[2018-10-15 17:39] alanshaw commented on #724
Closing as https://github.com/ipfs/js-ipfs-api/pull/741 was merged and released :D

[2018-10-15 17:39] #724 closed

[2018-10-15 17:42] alanshaw commented on #848
@koalalorenzo this should now be fixed in ipfs-api@25.0.0 by https://github.com/ipfs/js-ipfs-api/pull/868 please open a new issue if the problem persists

[2018-10-15 17:42] #848 closed

[2018-10-15 17:46] alanshaw commented on #862
Hi @rohitkhatri, thanks for taking the time to submit this issue. Currently requests are not cancelable. We would like them to be cancelable in the future. If you're keen to have a go at this problem then please submit a PR and/or shout if you would like some help getting started. For now I'm going to close this as a dupe of https://github.com/ipfs/js-ipfs-api/issues/694

[2018-10-15 17:46] #862 closed

[2018-10-16 05:15] mccoysc opened #874 "TypeError: Cannot read property 'objectMode' of undefined"
var uploadStream = await ipfs.files.addReadableStream({
                wrapWithDirectory: true
            });
await uploadStream .write({path:"1.txt",content:new Uint8Array(32)})
got this error:

_stream_writable.js:317 Uncaught (in promise) TypeError: Cannot read property 'objectMode' of undefined
    at Object.IpfsApi../node_modules/readable-stream/lib/_stream_writable.js.Writable.write (_stre

[2018-10-16 05:16] mccoysc commented on #874
IpfsApi.js:1 Uncaught (in promise) TypeError: Cannot read property 'objectMode' of undefined
    at Object.v.write (IpfsApi.js:1)

[2018-10-16 06:12] #874 closed

[2018-10-16 08:58] alanshaw commented on #848
argh, yes sorry, thanks @hugomrdias

[2018-10-28 06:39] 0x6431346e opened #881 "Config set fails for type int"
[code]
Both of these fail:

`cannot unmarshal string into Go struct field MDNS.Interval of type int`

Repro: https://github.com/0x6431346e/config-set-repro/blob/master/index.js

[2018-10-28 12:15] koalalorenzo commented on #848
Any update?

[2018-10-29 05:34] johhonn commented on #866
@biko-the-bird  I am having this same issue. What was causing it in you case?

[2018-10-29 22:00] biko-the-bird commented on #866
@johnonn i tried a whole bunch of stuff including:
-manually delete the js-ipfs-api module
-scour stackoverflow for a similar build pack configuration and keep tweaking it until it worked if you’d like I can upload the project I was working on for you to look through?

[2018-10-30 02:34] johhonn commented on #866
I ended up switching to to ipfs-mini which gave me the same functionality and I was able to build my project with no issues.I would be interested in seeing you project though. I am trying to better understand webpack and react build configurations.

[2018-11-05 13:45] olizilla opened #885 "Handle errors when unpacking swarm.peers() response"
The addition of the quic protocol means there are now peers on the network with a multiaddr that cannot be unpacked by older verions of js-multiaddr, and it throws.

In the current implementation of `ipfsApi.swarm.peers()` we don't handle any errors that could occur when trying to wrap the peer addr from the repsonse in a Multiaddr:

https://github.com/ipfs/js-ipfs-api/blob/ead35992e9d5c60f85d74f0

[2018-11-05 13:53] lidel commented on #885
We can fix https://github.com/ipfs-shipyard/ipfs-webui/issues/878 by switching to js-multiaddr v5.0.2  so I propose we do this `hard` and future-proof way.

In the UI we could  display multiaddr as-is in faded out colors or replace it with a placeholder text, just like we do with unknown countries for unknown geoip data.

[2018-11-05 16:08] olizilla commented on #885
The case of js-multiaddr not being able to validate addrs for the quic protocol, opens up an interesting problem.

The contract of a `Multiaddr` right now is that you will be able to get either the buffer representation or the string representation out of it for any valid instance. There is always the possibility that you can see potentially valid multiaddrs on the network that your copy of multia

[2018-11-06 16:29] olizilla commented on #885
I'm working on a PR for this.

[2018-11-15 00:16] bj0 commented on #649
So is using standard [`ArrayBuffer`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer) or [Typed Arrays](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray) not supported?  I get the `content.once is not a function` when trying to pass the result of a `TextEncoder.encode`, which is a Typed Array.