[2018-11-15 09:29] daviddias opened #892 "proposed Module rename. -api => -http-client"
Hi! We are considering renaming the IPFS Client libraries, please read more at https://github.com/ipfs/ipfs/issues/374 and comment if you are onboard.

[2018-11-15 17:33] achingbrain commented on #892
`-client` makes me think of client/server, which this sort of is, but then people start thinking about HTTP and talking about 'uploading things to IPFS' which derails conversations when you're trying to talk about distributed systems.

Not wanting to bike shed but `-remote` might be better (or not, whatevs) but you're right `-api` sounds like something this is not.

[2018-11-17 10:07] daviddias commented on #892
We are going to move with `js-ipfs-http-client` for the next name. @alanshaw please consider this for the next release.

[2018-11-17 12:40] alanshaw commented on #892
⚡️ 👍

[2018-11-18 03:42] richardschneider commented on #892
So by module rename, do you mean renaming the GitHub repo.  Currently I have https://github.com/richardschneider/net-ipfs-api and should that now be `net-ipfs-http-client`?

Renaming a repo will break all links to the repo and most likely upset any existing forks.  Also how does this effect the package managers and existing software dependent upon the old name?

Any recommended practices on how to

[2018-11-18 09:31] daviddias commented on #892
Github is pretty good at redirecting the old name to the new one

It is a two step. One deprecates first the old module name and then publishes with the new one.

[2018-11-19 09:07] alanshaw commented on #892
FYI https://docs.npmjs.com/cli/deprecate

[2018-11-21 08:40] bohendo commented on #389
For those googling the same error I was:
[code]

Which could be quieted by adding `externals: { constants: 'constants' }` to webpack config but then the browser would complain that it couldn't find `constants`.

Replacing `require('ipfs-api')` with `require('ipfs-api/dist')` fixed both of these issues & now everything' working smoothly

[2018-11-21 19:16] mikeal opened #894 "New IPFS Client Maintainers Group"
Hiya :)

In the IPFS org we’ve [created a new group](https://github.com/ipfs/community/issues/352#issuecomment-440380041) for maintainers of client libraries. This will make it easier for us to loop you into issues that may cause problems or necessitate changes in your client library.

If you could let us know the github usernames of all the active maintainers we can add them to the group and note

[2018-11-22 14:17] camstuart commented on #787
Yeah that's a fantastic explanation.

But one thing still eludes me; say I have my own node on a server somewhere which I have write access too.

And in a web page via JavaScript I want to pin to my node buy using the api.

Because the details are on the client, what's to stop others from abusing my node and pinning all their content on it?

[2018-11-22 14:31] TOMOAKI12345 commented on #787
On Thu, Nov 22, 2018 at 22:17 Cam Stuarttxt ybwwz<notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2018-11-25 18:32] JiaJiaJiang commented on #842
I haven't read all code of the uploading logic, but if the data will not be processed before uploading ,here is an advice:
**XHR** can send a **FormData** object, and the formdata object can carry files that gave into the input element. This way will not cause the memory problem and all thing are handled by the browser. The uploading progress can be got from the xhr object too, nothing will be blo

[2018-11-26 12:05] #885 closed

[2018-11-27 09:33] alanshaw opened #895 "Memory leak in object.get"
There's an LRU cache. Nothing is ever read from it.

https://github.com/ipfs/js-ipfs-api/blob/ead35992e9d5c60f85d74f0d80aad1b0e994ea5c/src/object/put.js#L11

[2018-11-27 16:13] alanshaw commented on #894
Awesome! I think we're currently @achingbrain @daviddias @hugomrdias and myself.

[2018-11-27 17:01] #895 closed

[2018-11-28 11:42] sweetpalma commented on #864
I second this - type definition absence turns IPFS usage into a complete nightmare on TypeScript projects. I've seen a couple of stubs like that around the GitHub:

https://github.com/beenotung/typestub-ipfs

Probably we can take some of them as a base and modify it for ipfs-api?

[2018-11-28 11:59] #892 closed

[2018-11-28 23:31] maooricio opened #899 "Receive an empty array from the add method"
Hi, I am trying to implement this amazing library to upload file to ipfs and to stamp the register in a blockchain.

The issue that I have with the implementation is that when I need to receive the callback of the success or failure of the upload process I receive the following response:

` {path: "QmYgHANvEkMFt6gG9ehC6SM1KkqEbbyoXCYKufXtamhMcg", hash: "QmYgHANvEkMFt6gG9ehC6SM1KkqEbbyoXCYKufXtamhM

[2018-11-30 09:20] alanshaw commented on #899
Can you provide example code that demonstrates the bug? Also, are you uploading to a go-ipfs node or a js-ipfs node and what versions? Finally are you doing this from Node.js or from the browser?

[2018-12-02 15:56] JikkuJose commented on #509
If I understand right, there is no direct command in `ipfs` to _just_ get the hash of a file without uploading or doing anything else with it? (Somehow this feels very odd, thats why I am confirming)

[2018-12-02 23:08] daviddias commented on #509
@JikkuJose you can use the `--only-hash` option. See https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#add

[2018-12-03 04:05] princesinha19 commented on #509
@JikkuJose
In command line, You can use `-n` with **ipfs add** command to do only hash.

`For eg.. ipfs add -n abc.png`

The command will return ipfs hash without uploading it.

[2018-12-03 05:34] JikkuJose commented on #509
@princesinha19 cool then! But wish there was a better named command for it than calling it add itself. I know `-n` is usually used in such context in unix but still feel a more explicit command would have helped.

Also, how did you verify it wasn't added to the repo?

[2018-12-03 05:40] princesinha19 commented on #509
I added the file first through ` -n` and then checked it on
http://127.0.0.1:8080/ipfs/IPFS_HASH
Then nothing occurred on screen.

After that, I removed `-n` and then again hit the URL **http://127.0.0.1:8080/ipfs/IPFS_HASH**. Now, I got the image on the browser screen.

[2018-12-03 05:51] JikkuJose commented on #509
Aah! I assumed there was a command line way to list the added files :)

[2018-12-03 10:58] hacdias opened #901 "Support for /api/v0/repo/fsck"
Hello!

As we're building IPFS Desktop, we want users to have the best and most simplified experience they can with IPFS. So we also want IPFS Desktop to start up correctly after unexpected shutdowns, even though there are lock files from the previous run.

We noticed that go-ipfs has the command `ipfs repo fsck` available and it's [enabled on its HTTP API](https://docs.ipfs.io/reference/api/http/

[2018-12-04 03:14] mitra42 commented on #406
I just found this, I'm curious why it was defined based on an instance of ipfs, rather than something static since it points at the statically defined types.

My specific use case is to do something like `foo instanceof ipfs.types.CID` but it happens in static functions or places where the ipfs instance isn't passed as a variable, i.e. where I don't easily have access to the "ipfs" variable, but h

[2018-12-04 09:28] lidel opened #902 "RFC: expose types and utils in static context"
I remember having similar thoughts at least once (had to make fake instance just to access utils).

Perhaps we could at least support it in the static context by [exposing data types and util functions](https://github.com/ipfs/js-ipfs-http-client/blob/v27.0.0/README.md#domain-data-types) on `IPFS` (the static constructor) as well.

Thoughts?

[2018-12-04 09:45] alanshaw commented on #902
I am already +1 for this (https://github.com/ipfs/js-ipfs/pull/1297#issuecomment-381622843)

[2018-12-04 11:55] alanshaw commented on #509
Kindly, please could you move further conversation on this to https://discuss.ipfs.io/ - thank you

[2018-12-04 12:36] alanshaw commented on #649
@bj0 not right now. It [will be in the future](https://github.com/ipfs/interface-ipfs-core/issues/404).

[2018-12-04 14:07] alanshaw commented on #859
The quick fix from the API side of things is to check for `res.trailers` before trying to access `x-stream-error`.

It might be worth checking with the newer version of go-ipfs (0.4.18) and then opening an issue on the go-ipfs repo if you're still seeing the issue.

[2018-12-04 14:18] alanshaw commented on #861
@ekanath25 check out the [mutable file system commands here](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md).

You'll probably want to use the [write command](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#fileswrite)

[2018-12-04 14:18] #861 closed

[2018-12-06 22:06] koalalorenzo opened #904 "ipfs.object.put()'s CID is not a valid CID object"
I am not sure if this is a bug or something  but according to the documentation I should be able to get the CID correctly:

[code]

The docs I am referring to: https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/OBJECT.md#objectput
CIDs docs: https://github.com/multiformats/js-cid

It seems that one of the two docs are wrong about `.toString()`.
Any Idea how to get the multihash? I was no

[2018-12-07 03:44] Juanchobanano opened #905 "Unexpected token < in JSON at position 0"
Hey IPFS team, I have a strange error when trying to add new files to IPFS.
Here's my code:

`

    const ipfsClient = require('ipfs-http-client');
    const ipfs = ipfsClient("ipfs.infura.io", "5001", {protocol: "http"});

    let testFile = fs.readFileSync("./backend/images/imagen.jpg");
    ipfs.add(testFile, (err, res) => {
        if(err) { console.error(err); }
    });

`

It always returns

[2018-12-07 20:12] koalalorenzo commented on #904
I am not able to reproduce the bug since I changed a lot of code since then (sorry).
It was not returning any error, as it would have been caught in the promise chain (there was a .catch).
I tried to reproduce it manually from Node, and it seems ok (toString is fine).

If it helps, this happened inside a web worker on Safari, Chrome and Firefox: the promise returned something that looked like a "s

[2018-12-07 20:32] mikeal commented on #904
I've had similar issues lately when my deps were out of date after updating
my local tree. `cids.isCID()` has gone through some changes lately and
instances before a certain version won't match anymore.

On Fri, Dec 7, 2018, 12:12 PM Lorenzo Setale <notifications@github.com
wrote:

[2018-12-09 14:30] daviddias commented on #904
Closing given the lack of ability to reproduce. We can reopen if anyone manages to reproduce it again :)

[2018-12-09 14:30] #904 closed

[2018-12-09 14:35] daviddias commented on #899
@maooricio did you get the last comment?

[2018-12-09 14:36] daviddias commented on #894
Anything outstanding to do here?

[2018-12-09 15:05] daviddias commented on #901
Is this essential for IPFS Desktop? If yes, would you be willing to take a stab at it @hacdias?

[2018-12-09 15:11] daviddias commented on #671
@nithinkrishna Do you still have this issue?

[2018-12-09 15:13] #682 closed

[2018-12-09 15:16] daviddias commented on #780
See https://github.com/ipfs/js-ipfs/issues/951 for more convo on this same topic.

[2018-12-09 19:57] lidel commented on #848
FYSA streams just got enabled in Firefox Nightly:

Refs.

- https://hg.mozilla.org/integration/autoland/rev/b3ccdaea275b
- https://bugzilla.mozilla.org/show_bug.cgi?id=1389628

[2018-12-09 20:15] lidel commented on #901
@daviddias  please move this issue to [ipfs/js-ipfs](https://github.com/ipfs/js-ipfs) repo and rename it to _"Implement `jsipfs repo fsck`"_

(I feel it does not belong to js-ipfs-http-client  because it does not make sense to expose it over HTTP API: stale lockfile cleanup makes sense BEFORE daemon starts. If API port is available, it means it started correctly, so there is no need to run this co

[2018-12-10 06:03] whyrusleeping commented on #518
any updates here?

[2018-12-10 09:15] richardschneider commented on #894
Help on https://discuss.ipfs.io/t/grokking-api-v0-get/4420/1 and https://discuss.ipfs.io/t/the-x-headers-in-http-api/4429/1 would be greatly appreciated.

[2018-12-10 15:12] alanshaw commented on #899
@maooricio this sounds similar to [this bug fix](https://github.com/ipfs/js-ipfs/pull/1645) - are you able to upgrade to 0.33 and try again?

[2018-12-11 17:18] AT1452 opened #909 "Server responded with 500"
When trying to add files to ipfs using ipfs.add, server responds with 500. This same method was working about a month ago? I even updated to ipfs-http-client and changed my syntax (I had 'ipfs.files.add' before). What could be the problem?

[2018-12-12 02:42] Mukundan314 commented on #69
I still have this error

Node version: v11.4.0
ipfs-http-client version: 28.0.0

error that I get:
[code]

[2018-12-13 04:28] mccoysc opened #911 "URL is not a constructor"
const requestWithRedirect = (url, opts, sendOneFile, callback) => {
  const parsedUrl = new URL(url)
....
}
add-from-url.js:38 Uncaught TypeError: URL is not a constructor
    at requestWithRedirect (add-from-url.js:38)
    at Function.promisify (add-from-url.js:31)
    at Object.addFromURL (index.js:32)
    at <anonymous>:1:9

if use new window.URL(url),all would be ok.

[2018-12-13 05:14] mccoysc commented on #518
@whyrusleeping

[2018-12-13 19:11] Juanchobanano commented on #905
Hey guys! Sorry for the late response.
This is the way you can reproduce my error:

`

     const ipfsClient = require("ipfs-http-client");
     const ipfs = ipfsClient({host: "ipfs.infura.io", port: "5001", protocol: "https"})

     app.use("/ipfsBug", (req, res) => {

     // Returns buffer of both files.
     let hash;
     const file1 = fs.readFileSync("./backend/images/imagen.jpg");
     cons

[2018-12-13 23:31] alanshaw opened #912 "Better handling for unexpected responses"
[Issues like this](https://github.com/ipfs/js-ipfs-http-client/issues/905) will continue to be reported until we can communicate better to the user the cause of the error and/or the response from the server.

[2018-12-13 23:32] alanshaw commented on #905
[code]

Your options are wrapped in an array, this will probably result in the directory wrapper not being applied...

https://ipfs.io/api/v0/ls?arg=QmNXGopftrhhDcx9zJxBcdWdYm3bGSXQwT9quwB1sDmxX6 is working for me right now.

However your server is returning the response:

[code]

https://ipfs.infura.io:5001/api/v0/ls?arg=QmNXGopftrhhDcx9zJxBcdWdYm3bGSXQwT9quwB1sDmxX6

Hope that helps.

P.S. I've

[2018-12-13 23:32] #905 closed

[2018-12-14 10:02] alanshaw commented on #839
This was fixed in https://github.com/ipfs/interface-ipfs-core/pull/362

[2018-12-14 10:02] #839 closed

[2018-12-16 22:32] alanshaw commented on #909
Could you post a stack trace and the code you're using?

[2018-12-21 14:48] lidel opened #916 "Support ipfs name resolve --stream"
` --stream` was added in go-ipfs [v0.4.18](https://github.com/ipfs/go-ipfs/blob/master/CHANGELOG.md#0418-2018-10-26):

is invoked with the flag set, it will start returning results as soon as they
are discovered in the DHT and other routing mechanisms. This enables certain
applications to start prefetching/displaying data while the discovery is still
running. Note that this command will likely ret

[2018-12-24 17:01] koalalorenzo commented on #881
@alanshaw any update?

[2018-12-27 11:48] pawankhadpe commented on #859
Hi @alanshaw  :
I am having this problem when trying to use this module on React Native. I am using the ipfs-api version "18.2.1" imported to React Native :

const IPFS = require('ipfs-api')
this.ipfs = new IPFS({ host: 127.0.0.1, port:5001, protocol: "http" })

writeDDO(newDdo) {
   const Registry = Contract(RegistryArtifact.abi).at(this.network.registry)
   return this.getDDO().then(ddo => {

[2018-12-27 11:51] pawankhadpe opened #918 "Cannot read property 'x-stream-output' of undefined Cannot read property 'x-stream-error' of undefined."
Hi :
I am having this problem when trying to use this module on React Native. I am using the ipfs-api version "18.2.1" . ,newer version of go-ipfs (0.4.18) . I have    imported to React Native :

[code]

`this.ipfs.add` throws an error "Cannot read property 'x-stream-output' of undefined", "Cannot read property 'x-stream-error' of undefined".

I went to . node_modules> ipfs-api> index.js file and

[2018-12-27 17:59] Stebalien commented on #918
I've moved this issue to the js-ipfs-http-api repo from the go-ipfs repo as it doesn't look like the error is on the go side.

[2018-12-28 10:46] yueleiMaster opened #919 "electron-rebuild fault"
electron v1.7.11
electron-rebuild v1.8.2
nodejs v8.9.3

When I need to rebuild the program, ipfs-http-client reported an error, which may be related to ursa-optional library. Please help me check, thank you
![image](https://user-images.githubusercontent.com/25242674/50513153-e8663b00-0ad0-11e9-9edb-3cacb7bc3ab0.png)

[2018-12-28 14:34] birbird opened #920 "The equivalence to `ipfs add <directory> -r`"
Hi, what's the equivalence to `ipfs add <directory> -r`
My code is
[code]
The response is
[code]
Which is not expected

Could you please help, what's the right way to add directory.
Any help will be highly appreciated.

[2019-01-03 04:42] pawankhadpe commented on #918
Hi @Stebalien  :
As mentioned in https://github.com/ipfs/js-ipfs-http-client/issues/859
the quick fix provided by  alanshaw isnt working  he  mentioned opening an issue on the go-ipfs repo if you're still seeing the issue.

[2019-01-03 05:55] pawankhadpe commented on #859
@ Nanofortress : I tried commenting the code in  node_modules> ipfs-api> index.js file and removed code from ode_modules> ipfs-api>index.min.is  .  And I still see the 'x-stream-error' undefined error with RED screen.  Is there a different file  to do it.

[2019-01-03 10:51] alanshaw commented on #920
You can use `addFromFs` for this! https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#addfromfs

[2019-01-03 10:51] #920 closed

[2019-01-04 15:53] Nanofortress commented on #859
@pawankhadpe Hey I haven't touched this for a while so I might be wrong but here is my thought.

You mentioned that you are using ipfs-api version 18.2.1, but currently I am working with js-ipfs-http-client (after package name change) v 28.1.0. They recently had a name change and everything from /node_modules/ipfs-api folder has been moved to /node_modules/ipfs-http-client folder.

So you need to

[2019-01-05 04:46] Stebalien commented on #918
Got it. Can you try building the latest master? It *may* be https://github.com/ipfs/go-ipfs/issues/5168 (it probably isn't but it's worth checking).

Otherwise, let's continue on #859.

[2019-01-05 04:58] Stebalien commented on #918
Ah, this is a problem where `headers` isn't set, not `trailers`. `headers` should *always* be set, as far as I know. This may be related to a bug in go-ipfs, but it's definitely a bug in this package (or maybe the http package?).

[2019-01-07 18:55] x5engine opened #922 "[bug] can't add from URL"
Hello guys,

I have this issue it's related to the addFromURL:

[code]

it gives this error:

[code]

![image](https://user-images.githubusercontent.com/12363020/50787064-a057cd00-12b5-11e9-8c52-f7cdaaebc6aa.png)

so it means something is wrong with the top import:
const url = require('url');

but the docs are wrong in https://nodejs.org/api/url.html and this is how it should be done:

[code]

So

[2019-01-09 16:18] birbird opened #923 "ipfs.get response has no content"
Hi
Just run this
[code]

The response has no content
[code]

At the meanwhile
raw ipfs command can get the content
[code]

[2019-01-09 17:12] x5engine commented on #922
my bad i was using this on the frontend and works well on the backend thanks

[2019-01-09 17:12] #922 closed

[2019-01-10 06:26] yuwiggin opened #924 "cannot be imported by Meteor 1.8+"
1. install ipfs-http-client package

2. Add ipfs.js file with the following

[code]

3. Then run Meteor,

open http://localhost:3000

An error occured in the browser's console
[code]
Meteor Version: Meteor 1.8.0, 1.8.0.2,
OS: macOS Sierra V10.12.6,
ipfs-http-client: 28.1.1,

What's wrong?

[2019-01-14 18:22] daviddias commented on #923
@birbird seems that you are trying to fetch an empty directory https://ipfs.io/ipfs/QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn

[2019-01-14 18:24] daviddias commented on #919
@ipfs/wg-gui-team any advice for electron users?

PS: It would be great to have an update for users at https://github.com/ipfs/notes/issues/256

[2019-01-14 23:15] obo20 commented on #781
Are there any updates on this? Such functionality would be super helpful.

[2019-01-15 07:46] leonprou commented on #781
@obo20 Eventually I just implemented it with a `Promice.race` and timeout.

You can see it here https://github.com/ColuLocalNetwork/CLN-community-app/blob/master/server/src/utils/metadata.js#L21

[2019-01-15 20:53] obo20 commented on #781
@leonprou Correct me if I'm wrong, but wouldn't that lead to memory leakage?

It's my understanding that when using Promise.race, the promise that is "timed out" still actually executes code. If the promise never returns, then that memory would effectively be locked wouldn't it? From my research it seems like the js-ipfs-http-client doesn't actually have a way of timing out its own requests so the

[2019-01-16 11:46] Dendiom opened #928 "ipfs.dht.findProvs() can't catch error with fake hash"
We want to implement a 'exist' function to judge if provided hash is exist in the private ipfs network. We use **ipfs.dht.findProvs()** to achieve this logic like this:
[code]
but we found that if the hash is valid but not exist, it will throw an error that can't catch in promise:
` Uncaught TypeError: Cannot read property 'Type' of undefined`
after see the source code, we found this:
[code]
It me

[2019-01-19 11:45] daviddias opened #929 "Let users know of module rename"
Following up on https://github.com/ipfs/js-ipfs-http-client/pull/897#issuecomment-442394693, we need to let users know of the module rename.

@mikeal proposed that a PR is submitted to each repo to update the name on the package.json. @mikeal, @pkafei is this something you can handle sometime soon?

[2019-01-20 10:04] koalalorenzo opened #930 "[Feature] Pin add Import status (as progress callback)"
Source: https://www.reddit.com/r/ipfs/comments/ahmvme/new_release_ipfs_allinone_desktop_client_orion_v10/eeid9xb/

Hello! In [Siderus Orion](https://orion.siderus.io) I would like to show a progress bar/percentage on the process of importing content in the local node. At the moment the only way to acheive that is to have a workaround and use `ipfs.files.stat`.

What would be very useful would be t

[2019-01-20 17:54] yuwiggin commented on #924
this is [a reference from Meteor](https://github.com/meteor/meteor/issues/10411)

[2019-01-23 14:33] alanshaw commented on #909
ping @AT1452

[2019-01-23 14:37] alanshaw commented on #919
Hmmm, this is odd, `ursa-optional` should not cause an error on rebuild.

[2019-01-23 14:39] alanshaw commented on #923
Closing as I don't think this is a problem!

[2019-01-23 14:39] #923 closed

[2019-01-23 14:49] olizilla commented on #919
@yueleiMaster can you give us any more info? I've not seen that error before.

[2019-01-23 14:57] alanshaw commented on #928
@Dendiom would you be willing to submit a PR to callback with an empty array if `res` is null?

[2019-01-24 01:33] Gozala opened #932 "Allow providing function used to perform fetch"
From what I can tell right now implementation chooses between http / https modules to do network request. In browser case however it would be very useful to allow passing custom `fetch` that would perform it in the origin that has permission to talk to daemon.

However it's not as simple as just adding `config.fetch` as implementation assumes node (polyfill) which complicates things.

[2019-01-24 09:22] #924 closed

[2019-01-24 14:40] alanshaw commented on #924
@yuwiggin can you verify with the latest version and close your issue on the meteor repo if resolved?

[2019-01-24 15:25] yuwiggin opened #933 "upload-file-via-browser failed"
I tested [the example](https://github.com/ipfs/js-ipfs-http-client/tree/master/examples/upload-file-via-browser) but failed.  When a file was selected and open, the console showed the following errors:

[code]

My running environment:
MacOS: 10.12.6
Node: 8.11.3
ipfs-http-client: 29.0.0
pull-file-reader: 1.0.2
ipfs instance was set: `this.ipfs = ipfsClient( "ipfs.infura.io", "5001", {protocol: "ht

[2019-01-24 18:12] alanshaw commented on #909
Closing due to inactivity

[2019-01-24 18:12] #909 closed

[2019-01-29 23:26] lidel opened #936 "plsignoreme"
(time to get some sleep, opened issue in wrong repo :eyes: :anger:)

[2019-01-29 23:29] #936 closed, assigned to nobody

[2019-01-29 23:45] lidel commented on #848
aaaand Firefox 65 just landed in stable channel with support for `ReadableStream`  :tada:

![2019-01-30--00-36-04](https://user-images.githubusercontent.com/157609/51948025-5468f580-2427-11e9-9cfa-ab2c93684959.png)

@koalalorenzo are you able to re-check with Firefox 65?

[2019-01-30 08:37] koalalorenzo commented on #848
I am not able to test again as we decided to implement it in a different way in order to unlock what we were doing on Orion. Sorry :(

[2019-01-31 23:27] useaquestion opened #938 "JSON from /dht/findprovs is in wrong format"
## Input
http://localhost:5001/api/v0/dht/findprovs?arg=QmbKU5Ht3toTdyTJGuqUwxvekWsvo394z1hS2SVLcLpVHw&num-providers=2

## Response
`
{"Extra":"","ID":"QmWbeKBWuQTBsr8y2FuEa9wX2WUPXr98kB9fir9G71HXcq","Responses":null,"Type":6}
{"Extra":"","ID":"QmatonFXvhot53W2Ey9ZuCYrkjkLHivnkYAsFqNGqitSj1","Responses":null,"Type":6}
{"Extra":"","ID":"QmdinCWcGHuVXQUAukqfsV4qX78j1k5St9jMrqHkhZHNiw","Responses":nu

[2019-01-31 23:32] useaquestion commented on #938
Apologies, I meant to post this in the go-ipfs directory. Can someone move this issue or should I make a new one over there?

[2019-01-31 23:41] useaquestion commented on #938
I've moved it.

[2019-01-31 23:41] #938 closed

[2019-02-01 22:59] bmiller59 commented on #933
Is there any update on this? I am having the same problem trying to upload a simple buffer from the browser using Infura.

If there is no fix that will be deployed soon please advise how to mitigate/work around this issue in the short term. Thank you.

[2019-02-07 22:53] projectoblio opened #941 "Does not work on Chrome for iOS mobile, safari for iOS mobile"
I required this dependency in another library and, after using browserify, I wasn't able to have the file load in Chrome for iOS and Safari for iOS. I wasn't doing anything with the library yet. It simply wasn't building; the object couldn't be built within the browser. It was working for Desktop Chrome, Android Chrome, and Desktop Firefox.

 I wasn't able to pinpoint the error. It seemed to point

[2019-02-10 23:59] Kubuxu commented on #593
This is quite important as we would love to run these tests on go-ipfs.
Re: go-ipfs init/startup: use `ipfs init -p test` which makes go-ipfs startup quite a bit faster.

I would say that if these tests were able to run on go-ipfs in less than 5 min it would be feasible to run them on every build but in the current state, I don't see how useful they would be due to a very slow build.

[2019-02-11 09:53] alanshaw commented on #593
@Kubuxu that's useful to know!

Do you know where I can find more info on what this profile does?

[2019-02-11 10:56] daviddias commented on #929
<img width="1108" alt="image" src="https://user-images.githubusercontent.com/1211152/52558871-045d3c00-2df4-11e9-890a-c14cf88949ac.png">
https://www.npmtrends.com/ipfs-api-vs-ipfs-http-client

There are ~10000 weekly users that still haven't migrated to the latest client.

[2019-02-11 18:56] alanshaw commented on #941
@projectoblio what versions of these browsers are you using? Arrow functions are supported in both according to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions#Browser_compatibility

Can you share with us some code that exhibits this error when used in these browsers and are you able to take a screenshot or copy the error message?

[2019-02-12 09:29] Kubuxu commented on #593
And also here, IDK how I missed this notification: https://github.com/ipfs/go-ipfs-config/blob/master/profile.go#L68-L85

[2019-02-12 11:41] alanshaw commented on #929
I am working on this today.

[2019-02-12 22:28] #593 closed

[2019-02-13 23:22] alanshaw commented on #929
Ok so, [I made a little script](https://gist.github.com/alanshaw/9d5b79aac931119261a54637d46b8c4c) to convert the data from [the snapshot](https://github.com/ipfs/js-ipfs-http-client/pull/897#issuecomment-442394693) into a list of repos that still depend on the old version.

It also contains info about which github user we _consider to be the maintainer_ for the repo as well as the paths to the `p

[2019-02-18 16:45] hugomrdias opened #946 "upgrading ipfs-multipart to ipfs-http-client latest fails"
https://github.com/ipfs/js-ipfs-multipart is using an old version of ipfs-http-client trying to upgrade it fails the tests, something related to adding from FS with sub-folders.

[2019-02-18 18:05] jacobheun commented on #929
I think you can also query release authors, which might give a more up to date representation of who is currently managing the repos, but that may end up being unnecessary due to the age of the projects.

[2019-02-25 01:48] platoscave commented on #933
+1
same problem

[2019-03-01 18:19] projectoblio commented on #941
Thanks. I didn't realize I would need a babel es2015 extension to browserify to compile this library (and most other modern libraries). I will close this issue now.

[2019-03-01 18:19] #941 closed

[2019-03-01 21:16] obo20 opened #1163 "IPFS filestore support"
There doesn't seem to be support for the --nocopy flag when adding files via any of the ipfs add endpoints.

Without this functionality, there's no current way using / testing out the IPFS filestore functionality.

[2019-03-03 05:31] w3cshare commented on #933
+1
same problem

[2019-03-05 12:04] alanshaw commented on #933
I cannot replicate this at all. Perhaps the infura node was down? @yuwiggin @bmiller59 @platoscave @w3cshare you able to verify this is working now?

[2019-03-05 14:45] alanshaw commented on #911
this was fixed upstream in `iso-url` - please open a new issue if the problem persists after upgrading to the latest version of `ipfs-http-client`

[2019-03-05 14:45] #911 closed

[2019-03-05 17:04] #894 closed

[2019-03-06 15:08] kwakwaa opened #953 "IPFS returning bad gateway"
Hello,

Sometimes when I'm adding files to IPFS I get an error trying to access them, basically when opening the page 'https://ipfs.io/ipfs/Qm(...)' it returns some nginx 504 bad gateway error, I've looked around and tried some solutions, tried the CORS thing just to be sure, tried opening exceptions on my firewall, tried mirrors and whatever else I could find online but nothing... It maybe works

[2019-03-06 20:23] #902 closed

[2019-03-11 04:42] langelog commented on #933
Adding myself to the thread for status update

[2019-03-12 12:14] alanshaw commented on #953
This is an issue with the gateway nodes that IPFS runs. Sometimes they are down for maintenance or are too busy but they usually become available again within a few minutes. I don't think there's currently any guarantees on availability for the gateways so currently if you need that then the only option is to run your own gateway.

[2019-03-12 12:14] #953 closed

[2019-03-13 14:17] niinpatel opened #955 "Provide access to multicodec just like in js-ipfs"
Recently, I completed the task of bundling multicodec along with other libraries in the js-ipfs as mentioned in https://github.com/ipfs/js-ipfs/issues/1913.

Next task is to do the same for js-ipfs-http-client.

I'm creating this issue to keep track of the task.

[2019-03-13 21:22] jzstern commented on #933
Getting identical error messages (but a TON of them, easily over 100) when I simply run my js-ipfs node from my Vue.js app. not using infura or any gateways, and verified my node is up & running with the following snippet:

[code]

<img width="772" alt="Screen Shot 2019-03-13 at 1 34 51 PM" src="https://user-images.githubusercontent.com/9055087/54315235-330d3480-45a3-11e9-80b9-0484cd472a85.png">

[2019-03-14 10:09] alanshaw commented on #933
@jzstern do you have a working example you can share that exhibits this issue? Unless I can replicate it I can't help debug.

[2019-03-14 16:18] #955 closed

[2019-03-15 09:57] #828 closed

[2019-03-20 16:58] daviddias commented on #929
Folks, any updates here?

[2019-03-24 17:21] rori4 opened #958 "upload-file-via-browser example does not work with Infura gateway and large files"
I tested the example and Chromium crashed as the file was too big. The file that I tried to upload was around 400MB

EDIT:
The crash of the browser happens only when I try to use the public infura gateway.
`({ host: 'ipfs.infura.io', port: 5001, protocol: 'https' });`
On localhost it has no problem. The upload on infura works when I try small files but makes the browser crash when I try to use a b

[2019-03-26 09:40] iheqi opened #959 ""ReferenceError: https is not defined" when add data to infura."
### Description
When I call the add method to upload data to infura, I got an error.

[code]

#### Expected behavior
console the result:
[code]

#### Actual behavior
I got an error:

[code]

But it work well in local ipfs:
[code]

### Versions
* js-ipfs-http-client: ^30.1.0

[2019-03-26 12:38] alanshaw commented on #959
@hugomrdias this is the issue reported here https://github.com/hugomrdias/iso-stream-http/issues/1

[2019-03-26 15:54] hugomrdias commented on #959
this should be fixed in https://github.com/hugomrdias/iso-stream-http/releases/tag/v0.1.2

[2019-03-26 17:49] alanshaw commented on #959
@iheqi can you please reinstall ipfs-http-client to get the latest version of iso-stream-http and verify this has now been fixed?

[2019-03-26 17:51] alanshaw commented on #958
@rori4 are you sure this is a problem with big/small files and not just the issue described here https://github.com/ipfs/js-ipfs-http-client/issues/959?

[2019-03-27 03:21] iheqi commented on #959
Yes, it work now. Thank you guys.

[2019-03-27 08:34] #959 closed

[2019-03-28 06:18] AK-007 commented on #959
@alanshaw @hugomrdias
I am using ipfs cdn
[code]
I am still getting the error "ReferenceError: https is not defined" when using
[code]
What should I do?

[2019-03-28 08:51] alanshaw commented on #959
Please use https://unpkg.com/ipfs-http-client@30.1.1/dist/index.js

[2019-03-28 19:49] vasa-develop opened #960 "Question[Stress testing MFS]: How does `ipfs.files.rm` work?"
## Environment
go-ipfs(for local daemon) version: **0.4.19**
OS: Ubuntu **16.04 LTS**
ipfs-http-client version: **30.1.1**

## Description of Question

I was stress testing IPFS MFS. For stress testing, I used this script:

[code]

When I ran this script for the FIRST TIME, it took a considerable amount of time as it is updating the whole tree hashes(tell me if I am right).

After running it for t

[2019-03-28 20:03] vasa-develop commented on #960
Other observations:
* If I change the content of the file, it again takes a lot of time. So, it seems like we store the file chunks in the dags, even after removing them using `ipfs.files.rm`.

P.S. If this not a good place to ask this kind of questions, then should I head up to the discussion forum?

[2019-03-28 20:30] vasa-develop commented on #958
I have also faced this issue. In fact, every service that uses infura has this issue. So, I had to shift to our own servers to resolve this issue. It works fine on our remote nodes.
@rori4 can you shoot the error logs here? It may be the case that we are facing different issues.

[2019-03-28 20:39] vasa-develop commented on #929
I may be interrupting here a bit(it seems to be a core dev discussion)...But do you just need to mention the maintainers of the repos in a comment here? (for informing them about the name change?)
If yes, then I can help ;)

[2019-03-31 20:54] postables opened #961 "Responses aren't necessarily compatible between different IPFS HTTP API Libraries"
Currently I'm working on writing an IPFS HTTP API reverse proxy server with caching enabled. To test this I'm using a [fork](https://github.com/RTradeLtd/go-ipfs-api) of `go-ipfs-api`, the `curl` command (aka, submitting IPFS HTTP API queries via curl), and the `js-ipfs-http-client` library contained in this repository.

What I'm starting to notice is that responses returned to `go-ipfs-api`, and

[2019-04-02 11:23] ask03 opened #962 "Uncaught TypeError: Buffer is not a function at FileReader.reader.onloadend"
I am using the ipfs-http-client CDN in my project and I defined Buffer using the built in Buffer in the client.  My code looks like this :

`const Buffer = window.IpfsHttpClient().Buffer`

The above line of code is on the first line in my js file.  This exact unchanged code was working three weeks ago, but I'm just stumped as to why all of a sudden it isn't working.

The part of my project where B

[2019-04-03 10:16] ondratra commented on #864
We could start by merging stub @sweetpalma mentioned and then add/tweak definitions as we discover missing parts or mismatches.

@daviddias would you be willing to accept PR with minimum typings if i prepare it?

[2019-04-03 14:30] alanshaw commented on #864
@ondratra what would the PR involve? I'm keen to make it easier for typescript users but I do not want to add any extra overhead for contributors who do not use typescript.

Do they need to live in this repo and can we share them with https://github.com/ipfs/js-ipfs?

[2019-04-03 23:36] rori4 commented on #958
There is not error whatsoever. The browser just crashes because it is out of memory. It gives the message "Aw, Snap!" for the Chrome browser.  I really don't know where to find a crash log or something for this. Is there a way to log what caused the crash?

[2019-04-04 17:51] obo20 opened #963 "Filestore support with --nocopy"
Currently there's no way to utilize the IPFS filestore functionality.

I've seen a few other issues related to this:
https://github.com/ipfs/js-ipfs-http-client/pull/843
https://github.com/ipfs/js-ipfs-http-client/pull/564

They all still seem to be "WIP"

I'd really love to have this functionality available if possible. Is there anything that's preventing either of the approaches seen in those tw

[2019-04-05 12:48] ondratra opened #964 "Browserify Buffer is not defined"
Hello,
I noticed on one of my project that current version of js-ipfs-http-client doesn't work in browser (using Browserify). The same error happens when I try to load example browserify project from https://github.com/ipfs/js-ipfs-http-client/tree/master/examples/bundle-browserify . After page load I get this error
[code]
That happens on this line
[code]
When I tried to include `buffer` package m

[2019-04-09 15:43] alanshaw commented on #964
@dirkmc any chance you can port your fix for https://github.com/ipfs/js-ipfs/pull/1969 over here?

[2019-04-09 15:56] alanshaw commented on #963
Please feel free to pick this one up!

[2019-04-09 16:22] hugomrdias commented on #964
@dirkmc can't we just explicitly `require('buffer').Buffer` instead of using the global buffer?

[2019-04-11 10:38] ondratra commented on #864
I was thinking about starting with code @sweetpalma linked and create typings for API only of `js-ipfs-http-client`. But you have a good point that typings don't need to be in this repository. I will learn about process of creating `@types/js-ipfs-http-client` package and put all typings there.

[2019-04-11 10:52] olizilla opened #967 "add with 1MB file triggers Uncaught Error: stream.push() after EOF"
Uploading a file > 1MB, as a pull-stream fails, with the error:

[code]

The issue is occuring in master on webui.ipfs.io since upgrading v30.1.2 from v29.1.0

See: https://github.com/ipfs-shipyard/ipfs-webui/issues/1010

[2019-04-11 14:03] #964 closed

[2019-04-11 14:31] alanshaw commented on #962
In v30 the exported `Buffer` constructor moved from `window.IpfsHttpClient().types.Buffer` to `window.IpfsHttpClient.Buffer` https://github.com/ipfs/js-ipfs-http-client/blob/master/CHANGELOG.md#3000-2019-03-13

See it working here: https://jsbin.com/zegetiy/edit?html,console

[2019-04-11 14:31] #962 closed

[2019-04-11 14:46] alanshaw commented on #960
Yes, 🙏 please use the discussion forum for questions like this.

[2019-04-11 14:46] #960 closed

[2019-04-12 22:33] autonome opened #968 "Babel error in upload-file-via-browser example"
Follow the readme directions, and I see this:

MacBook:upload-file-via-browser dietrich$ npm start

Listening at localhost:3000
✖ ｢wdm｣: Hash: a12059f5b30f6dcc8c8e
Version: webpack 4.25.1
Time: 566ms
Built at: 04/12/2019 3:30:42 PM
    Asset     Size  Chunks             Chunk Names
bundle.js  379 KiB    main  [emitted]  main
Entrypoint main = bundle.js
[0] multi webpack-dev-server/client?http://lo

[2019-04-14 00:45] mitra42 opened #969 "urlstore support"
Is there some reason that the `urlstore` http api is not supported ?  See https://docs.ipfs.io/reference/api/http/#api-v0-urlstore-add

I believe a similar question applies in js-ipfs, but understand that might be a deeper issue.

(Ideally I want to call `ipfs.urlstore` or similar and have it work in both the `js-ipfs-http-client` and in `js-ipfs` so that higher layers don't have to know whether t

[2019-04-15 10:21] alanshaw commented on #969
Not so much not supported, more not implemented yet ;)

[2019-04-15 10:23] alanshaw commented on #968
Any chance you can send a PR to fix @autonome?

[2019-04-15 14:26] olizilla commented on #967
Also of note, in ipfs-webui we use https://github.com/tableflip/pull-file-reader

which has a default chunk size of 1MB https://github.com/tableflip/pull-file-reader/blob/master/index.js#L8 which suspiciously conincides with the threshold for triggering this issue.

[2019-04-16 10:55] ShareTheWorld commented on #663
@binhndicts
@daviddias
I have the same problem as you, this progress bar works slowly.
I add a file to ipfs via the add（） method, but I need to wait a long time before it call back the progress.
Just like the progress is called after the upload is completed.
Code
  Var file = files.files[0];
         Var ipfs = IpfsHttpClient({host: '95.179.200.133', port: '5001', protocol: 'http'});
          Var

[2019-04-16 11:07] ShareTheWorld opened #971 "the progress work slowly"
ipfs-htt-client, this progress bar works slowly.
I add a file to ipfs via the add（） method, but I need to wait a long time before it call back the progress.
Just like the progress is called after the upload is completed.
Code
[code]

Just like the progress is called after the upload is completed?this is problem

[2019-04-16 12:03] ShareTheWorld commented on #971
![Screenshot from 2019-04-16 19-57-17](https://user-images.githubusercontent.com/9106459/56208000-ae6e7400-6082-11e9-89b5-6621033a54d8.png)

this is network information

[2019-04-16 14:04] alanshaw commented on #969
Looks like this is going away https://github.com/ipfs/go-ipfs/pull/6223/files#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR52

[2019-04-16 14:04] #969 closed

[2019-04-16 14:10] alanshaw commented on #968
Resolved by https://github.com/ipfs/js-ipfs-http-client/pull/970

[2019-04-16 14:10] #968 closed

[2019-04-16 20:13] autonome opened #972 "examples/bundle-browserify fails when submitting data"
Error in the browser console:

13:11:21.276 ipfs add error Error: "Server responded with 405"
    parseError http://127.0.0.1:8888/bundle.js:69499
    onRes http://127.0.0.1:8888/bundle.js:69529
    emit http://127.0.0.1:8888/bundle.js:3508
    _connect http://127.0.0.1:8888/bundle.js:24929
    _onFinish http://127.0.0.1:8888/bundle.js:24914
 undefined bundle.js:13:22

Error from node:

[Tue Apr 1

[2019-04-16 21:30] mitra42 commented on #969
Sounds like it ... but the question still applies since nostore isn't mentioned as an option on https://github.com/ipfs/interface-js-ipfs-core/blob/master/SPEC/FILES.md#add
Do you want to rename/reopen this issue, or should I add a new one ?

[2019-04-17 07:55] alanshaw commented on #969
There's an issue open for `nocopy` here https://github.com/ipfs/js-ipfs-http-client/issues/963 but there needs to be one in https://github.com/ipfs/js-ipfs/issues for adding filestore. If you don't mind opening one there it would be appreciated!

[2019-04-17 08:05] mitra42 commented on #969
Done https://github.com/ipfs/js-ipfs/issues/1999

[2019-04-17 09:43] alanshaw commented on #972
Not sure I understand - where are you seeing that error?

Can you tell me what IPFS node are you talking to (js-ipfs or go-ipfs) and what's in your IPFS config for `API.HTTPHeaders.Access-Control-Allow-Origin`?

Looking at the code for that example, I would guess you've spawned a JS IPFS node and the IPFS client is trying to connect to the API on 5001, but JS IPFS runs it's API on 5002 currently.

[2019-04-17 09:48] alanshaw commented on #972
The _real_ solution is for JS IPFS to use the same ports as go-ipfs https://github.com/ipfs/js-ipfs/issues/1563

[2019-04-18 08:53] olizilla commented on #967
@hugomrdias this is blocking a relase of webui and desktop. Are you digging in to it or should I jump on it?

[2019-04-18 10:58] olizilla commented on #967
investigating this some more...

- [we dont test `ipfs.add` in the browser](https://github.com/ipfs/js-ipfs-http-client/blob/17d49de29b634d0f485dd49a553adbb518194d37/test/interface.spec.js#L104-L118) due to https://github.com/ipfs/go-ipfs/issues/4078
- issue can be recreated in with the `upload-file-via-browser` example in this repo

<img width="897" alt="Screenshot 2019-04-18 at 11 55 48" src="ht

[2019-04-18 10:59] hugomrdias commented on #967
im on it, will report back asap

[2019-04-18 11:26] olizilla commented on #967
@hugomrdias I'm on it. The problem seems to be in pull-file-reader

[2019-04-18 11:30] olizilla commented on #967
There is nothing in pull-stream-reader to stop it from emitting the `cb(true)` for when the offset exeeds the filesize, while it is still waiting for a data callback from the FileReader...

<img width="897" alt="Screenshot 2019-04-18 at 12 28 03" src="https://user-images.githubusercontent.com/58871/56358112-94917600-61d5-11e9-922d-446ea3379c9a.png">

in the above, with a 2Mb file, we see it trigge

[2019-04-18 11:33] hugomrdias commented on #967
But this worked before right? what changed in ipfs to trigger this problem?

[2019-04-18 11:36] olizilla commented on #967
It sure did! I think something else must have been dealing with it, when it should always have been an error. I just added a quick, "_count the pending chunks_" check to pull-stream-reader and it fixes it! Will PR a cleaner fix now.

[2019-04-18 11:38] olizilla commented on #967
<img width="898" alt="Screenshot 2019-04-18 at 12 37 28" src="https://user-images.githubusercontent.com/58871/56358532-c5be7600-61d6-11e9-8e17-3749aba5b8c5.png">

[2019-04-18 12:29] olizilla commented on #967
@hugomrdias oh no wait, you are right, this is super weird, the pull-stream sink should not be asking for more chunks before it gets a callback from the previous one... that's the weirdness that is causing this. I could guard against it in pull-file-reader, but it seems like we have a rogue pull-stream sink in ipfs now that is just pulling as fast as it can, rather than waiting for each chunk

[2019-04-20 18:35] jzstern commented on #933
Sorry - forgot about this thread. I switched to importing IPFS via a CDN in my index.html file and that got rid of the errors (:

[code]

[2019-04-22 07:09] olizilla commented on #967
Moved the guard to pull-to-stream, and we have a fix! https://github.com/hugomrdias/pull-to-stream/pull/1

[2019-04-22 21:13] obo20 opened #976 "Adding a folder recursively incorrectly labels the path for first file in the array"
The issue was found to be an environmental issue on my end. As such I've closed this issue.

[2019-04-22 22:59] obo20 commented on #976
Upon code debugging, i'm oddly getting the correct results at line 12 of [send-one-file-multiple-results.js](https://github.com/ipfs/js-ipfs-http-client/blob/master/src/utils/send-one-file-multiple-results.js).

![image](https://user-images.githubusercontent.com/7811297/56538259-37285c80-6528-11e9-9d26-214ecacda23d.png)

This seems to be where things are returning from, so I'm not sure where the d

[2019-04-22 23:17] #976 closed

[2019-04-23 21:27] arietrouw opened #977 "concat-stream"
Please use the npmjs version of concat-stream.  Currently, the project refers to "concat-stream hugomrdias/concat-stream#feat/smaller" which causes problems on some CI/CD platforms (DepShield).  Also, it is better to use npmjs since it does not change.

[2019-04-23 21:39] ishanjoshi02 opened #979 "The current transaction exceeded its quota limitations."
**Severity**: Medium
**IPFS Version**: `0.4.19`
**Platform**: Windows 64bit (Running Windows 10)
**Browser**: Mozilla Firefox (Version: 66.0.3)

I am uploading a 9 MB video file to IPFS, using code

[code]

[2019-04-24 14:52] beenotung commented on #864
I created typestub-ipfs as a standalone repo, instead of under DefinitelyTyped becuaue their approval process is too complicated for me, especially for a new project (as oppo to update existing one).

I am aware of the benefit if it get merged into DefinitelyTyped though.

[2019-04-26 22:02] reasv opened #981 "ipfs.key.rename yields 'This command can\'t be called directly. Try one of its subcommands.'"
`ipfs.key.rename` appears not to work: It yields this error every time it's called.
`ipfs.key.export` gives me a similar result.
[code]

[2019-04-28 10:11] marsrobertson opened #982 "Accept ArrayBuffer alongside the Buffer to ease the adoption"
Docs: https://github.com/ipfs/interface-js-ipfs-core/blob/master/SPEC/FILES.md#add

See here: https://github.com/feross/buffer/issues/229

So I need to include extra package.

And then I need to figure out how to convert string:
* https://developers.google.com/web/updates/2012/06/How-to-convert-ArrayBuffer-to-and-from-String
* https://stackoverflow.com/questions/6965107/converting-between-strings-

[2019-04-29 14:09] #967 closed

[2019-04-29 14:46] michaelsbradleyjr opened #983 "Should the required NodeJS version be >=8.0.0?"
See: https://github.com/ipfs/js-ipfs-http-client/pull/937#issuecomment-486422623.

[2019-04-30 14:54] obo20 commented on #562
@MichaelMure can I ask how you were capturing these requests? I'm attempting to work on a fix for this, but have been running into some strange issues where the go-ipfs daemon seems to accept the nocopy flag / abspath header, and adds the content in a different manner than normal, but this different manner isn't adding it to the filestore.

Being able to capture what's getting sent would help with

[2019-04-30 14:55] MichaelMure commented on #562
@obo20 IIRC I used wireshark

[2019-04-30 15:35] obo20 commented on #562
@MichaelMure thanks for the quick response. One more quick question if you have time. Do you know how you grabbed the headers? I'm able to see my requests, but can't seem to see headers anywhere (for the CLI requests or the http-client requests)

[2019-04-30 16:09] MichaelMure commented on #562
Sorry I don't remember, that was 2 years ago, but I suppose you can simply inspect the decoded HTTP section of the packets. Alternatively, you could use tcpdump (something like https://coderwall.com/p/imdadq/view-http-request-headers-with-tcpdump).

[2019-05-01 05:53] pinanklakhani opened #984 "too many open files - While adding files to IPFS"
Getting following error while uploading files to IPFS --

`open /data/ipfs/blocks/OU/put-335082420: too many open files `

Any solution with this issue?

[2019-05-01 06:21] MonarthS opened #985 "Live upload progress not showing"
When I Upload any file using `ipfs.get`, it is not showing live uploaded status using progress;

The progress showed after whole file or folder is uploaded.

**CODE:**

[code]

**OUTPUT:**

![image](https://user-images.githubusercontent.com/40236229/57007579-564d7b00-6c07-11e9-88f9-cae41b8be5ac.png)

[2019-05-02 12:03] Nikhil-Bathula opened #1052 "ipfs.get returning empty array for repeated files"
ipfs.get(validCID, function (err, files) {
      if (err) {
        resolve([])
      } else {
        resolve(files)
      }
    })

If i am passing same file multiple times. it is returning empty array even though  passing valid CID.

[2019-05-02 14:27] michaelsbradleyjr commented on #983
ping

[2019-05-04 10:16] koalalorenzo commented on #881
@alanshaw any news? This is preventing us from providing MDNS settings in [Siderus Orion](https://orion.siderus.io)

[2019-05-06 05:38] Nikhil-Bathula commented on #905
ipfs.get throwing Unexpected token < in JSON at position 0 error

 This is my code

ipfs.get(validCID, async function (err, files) {
      if (err) {
        resolve([])
      } else {
        resolve(files)
      }
    })

I kept this functionality in a loop. Even though i am passsing validCID it is throwing this error.

[2019-05-06 05:39] Nikhil-Bathula opened #987 "ipfs.get throwing error"
ipfs.get throwing Unexpected token < in JSON at position 0 error

This is my code

ipfs.get(validCID, async function (err, files) {
if (err) {
resolve([])
} else {
resolve(files)
}
})

I kept this functionality in a loop. Even though i am passsing validCID it is throwing this error.

[2019-05-07 16:28] kav commented on #919
I'm seeing a very similar error, trouble finding headers uRSA needs, on OSX when attempting to import `js-ipfs-http-client` into an `electron-forge` based project which appears to be related to:

https://github.com/JoshKaufman/ursa/issues/161
https://github.com/electron/electron/issues/11801

It would also appear, in comments on those issues, that uRSA can be replaced with native javascript method

[2019-05-09 09:53] greenkeeper[bot] opened #988 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-05-10 13:17] michaelsbradleyjr commented on #983
ping

[2019-05-13 08:52] alanshaw commented on #983
This is not a priority for us as we've decided our minimum supported version is Node.js 10. That said, I see no reason to deny Node.js 8 users from installing if it is still compatible, so if you're willing to help @andremedeiros with https://github.com/ipfs/js-ipfs-http-client/pull/937#issuecomment-491733784 that would be amazing.

[2019-05-14 09:16] alanshaw commented on #987
Can you provide some more information about this error? What IPFS node are you connecting to and what version? What version of `ipfs-http-client` are you using? Also, are other commands working for you? Finally, can you supply the CID so we can recreate it locally?

[2019-05-14 09:17] #988 closed

[2019-05-14 15:09] michaelsbradleyjr commented on #983
Sounds great, thanks.

[2019-05-15 08:05] koalalorenzo commented on #881
This is still present in the latest release `31.0.0`. Any plan? (sorry for insisting but this is blocking us)

[2019-05-15 15:21] #983 closed

[2019-05-15 15:47] #881 closed

[2019-05-15 15:52] alanshaw commented on #881
Fixed in `31.0.1`

[2019-05-15 15:53] alanshaw commented on #977
Blocked by https://github.com/maxogden/concat-stream/pull/62

[2019-05-16 05:18] KrishnaPG opened #1000 "JSON.parse(data) errors"
It looks like the IPFS gateways return plain text errors, while the clients are expecting JSON, which is causing the [json.parse](https://github.com/ipfs/js-ipfs-http-client/blob/master/src/utils/stream-to-json-value.js#L25) to throw errors many times, (such as `404 not found`, `method not allowed` etc.)

The problem is, while the `json.parse` [line 27](https://github.com/ipfs/js-ipfs-http-client/

[2019-05-16 05:47] KrishnaPG commented on #928
Looks like this still does not handle the case where `res` is empty array. For example, in one case we are receiving empty array (for whatever reason), and it is causing error:
[code]
When `res = []` it turns out at [line 34](https://github.com/ipfs/js-ipfs-http-client/blob/master/src/dht/findprovs.js#L34) `res = res[0]` causes it become `undefined` leading to the above exception.

![image](https:

[2019-05-16 08:08] alanshaw commented on #1000
@KrishnaPG would you be willing to submit a PR for the `return cb(new Error("Invalid JSON: ${data}"))` solution?

This would also fix https://github.com/ipfs/js-ipfs-http-client/issues/912

[2019-05-16 08:10] alanshaw commented on #928
@KrishnaPG are you able to submit a fix for this?

[2019-05-16 13:41] KrishnaPG commented on #1000
Thank you. I am not sure if `invalid json` should be part of the error message. For example, here is what the error looks like *without* and *with* `invalid json` in the error string. I am placing the PR for both, please choose whichever you prefer and reject the other one. (IMO, the one without `invalid json` seems more accurate and less confusing, though I would defer the decision to you).

With

[2019-05-16 14:20] alanshaw commented on #1000
Good point, I think we should iterate on #1001. "Invalid JSON" is the correct message here and having the data in the message is useful. The problem is with the error handling code:

https://github.com/ipfs/js-ipfs-http-client/blob/84117a136d05d9eb6a43e42e2a7e3dc52635efb9/src/utils/send-request.js#L16-L31

It uses `streamToJsonValue` but the server doesn't always return JSON.

We should pass `isJs

[2019-05-16 14:30] KrishnaPG commented on #928
Thank you - yes, array is being checked and sampled **after** the individual element checks [line 33](https://github.com/ipfs/js-ipfs-http-client/blob/master/src/dht/findprovs.js#L33).

Moving the array sampling to *before* fixes this. PR: https://github.com/ipfs/js-ipfs-http-client/pull/1003

[2019-05-16 14:44] KrishnaPG commented on #1000
Interesting. So the whole thing is already inside an error handling mechanism (`parseError`). Let me look into it. If a mechanism already exists to identify the `JSONness` of response, we should be able to use it properly. Will get back on this after reviewing the code in more depth.

[2019-05-16 16:14] KrishnaPG commented on #1000
Added the `isJSON` check in the `parseError` method. This now generates error as below:
[code]
In case, there is no valid textual message  from the stream, the above error will look as below:
[code]

And in case of the JSON parsing errors, the error will continue to have the format: `Invalid JSON: ${data}`

Looks like this covers the JSON parsing error with data +  non-json error messages scenario

[2019-05-16 16:20] greenkeeper[bot] opened #1004 "An in-range update of interface-ipfs-core is breaking the build 🚨"
## The devDependency [interface-ipfs-core](https://github.com/ipfs/interface-ipfs-core) was updated from `0.101.0` to `0.101.1`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Finterface-ipfs-core-0.101.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

interface-ip

[2019-05-17 05:43] #1004 closed

[2019-05-17 12:20] #928 closed

[2019-05-18 06:09] greenkeeper[bot] opened #1009 "An in-range update of react-hot-loader is breaking the build 🚨"
## The devDependency [react-hot-loader](https://github.com/gaearon/react-hot-loader) was updated from `4.8.5` to `4.8.6`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fexamples%2Freact-hot-loader-4.8.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-hot-loa

[2019-05-20 02:31] Nikhil-Bathula commented on #987
ipfs-http-client version = 29.1.1

const ipfsClient = require("ipfs-http-client");
var ipfs = new ipfsClient("ipfs.infura.io", "5001", { protocol: "https" });

CID = "QmWpCXUXJBAnrac8kZzQHH1dNh7io6Kv4dquJsnSQtZbGz"

Other commands are working fine.

It is throwing this error when i kept this in a loop. if i remove this from the loop and if i  run this seperately it is working fine.

[2019-05-20 07:47] alanshaw commented on #987
What do you mean “in a loop” - do you have an example you can share?

[2019-05-20 10:55] Nikhil-Bathula commented on #987
const getConvertedBlockData = getInstructorPromise => {
  const requests = {}
  return getInstructorPromise.map(async blockData => {
    return new Promise(async (resolve, reject) => {
      if (blockData.args.id !== '') {
          const getFilePromise = getFile(blockData.args.certificate)
          Promise.all(getFilePromise).then(allPromisesData => {
            console.log(allPromisesData, 'al

[2019-05-20 14:35] daviddias commented on #929
@vasa-develop you are welcome to participate and help! The main question here is how to do this in a way that is effective and non necessarily intrusive. We can do this by going from the less loud to the more direct, creating a timeline in which we try (by order)

- 1st step) ping repo maintainers from a single issue with a notification message and a list of repos that need to transition
- 2nd ste

[2019-05-21 21:00] #912 closed

[2019-05-21 21:00] #1000 closed

[2019-05-22 08:15] alanshaw commented on #987
Any chance you can give this a go with `ipfs-http-client@32.0.1`? It has significantly better error reporting and might give us a better idea what's going on.

[2019-05-22 13:48] b-rohit commented on #972
I use go-ipfs. I also face the same issue. I set the configs as given in the example
[code]

The error logs in console are following
[code]

[2019-05-22 14:17] b-rohit commented on #972
I solved it. I made the  following change
`var ipfs = IPFS('/ip4/127.0.0.1/tcp/5001')`

[2019-05-22 14:24] greenkeeper[bot] opened #1017 "An in-range update of ipld-dag-pb is breaking the build 🚨"
## The dependency [ipld-dag-pb](https://github.com/ipld/js-ipld-dag-pb) was updated from `0.17.3` to `0.17.4`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fipld-dag-pb-0.17.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ipld-dag-pb is a direct dependency of t

[2019-05-22 14:54] daviddias commented on #919
@hugomrdias, it is worth sharing an update here https://github.com/ipfs/notes/issues/256

[2019-05-23 06:19] mhjadav-plivo commented on #881
Upgraded dependencies but still getting one error looks like it's related to casting data we are passing

<img width="1680" alt="Screenshot 2019-05-22 at 6 38 38 PM" src="https://user-images.githubusercontent.com/45141126/58229995-bdff6d80-7d50-11e9-8fff-324c3b574f4c.png">

[2019-05-23 06:34] daviddias commented on #518
@shunkino did you happen to make a PR with your progress?

[2019-05-24 09:36] hugomrdias commented on #919
This issue is fixed with the latest version and notes are updated https://github.com/ipfs/notes/issues/256#issuecomment-495540554

[2019-05-24 09:36] #919 closed

[2019-05-28 06:01] greenkeeper[bot] opened #1025 "An in-range update of readable-stream is breaking the build 🚨"
## The dependency [readable-stream](https://github.com/nodejs/readable-stream) was updated from `3.3.0` to `3.4.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Freadable-stream-3.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

readable-stream is a direct dep

[2019-05-28 19:22] Jonybang commented on #984
same problem, when trying to upload File object by ipfs.add

[2019-05-28 19:44] Jonybang commented on #984
Error trace:
[code]

[2019-05-28 19:47] dirkmc commented on #984
This sounds like it may be an issue with too many file descriptors being open.

In order to have an understanding of how you are using IPFS, can you please tell us:
- what size file are you trying to upload
- how big is your repo (roughly)
- how long has your ipfs instance been running (roughly)

[2019-05-28 20:01] Jonybang commented on #984
@dirkmc
First times it failed on files about 500 kb, then I tried to upload 9 kb(svg file), and its uploaded **without** any errors, but, uploading time was about 5 seconds.
Now, after several tries - 500-600 kb files uploaded too and fast.
Instance been running during about a month.
Repo size about 300 Mb.

[2019-05-28 20:07] dirkmc commented on #984
@achingbrain any ideas about what might cause this?

[2019-05-29 06:27] alanshaw commented on #984
This is an error message from the server node. It looks like you’re running a go-ipfs node so I suggest opening an issue over there so it can be dealt with by the Go team: https://github.com/ipfs/go-ipfs/issues

[2019-05-29 06:27] #984 closed

[2019-05-29 06:28] alanshaw commented on #987
Ping @Nikhil-Bathula

[2019-05-29 07:14] alanshaw commented on #982
You can use File objects as of v31.1.0 - does that help?

[2019-05-30 13:22] 0x6431346e commented on #787
Hey @alanshaw , is this documented somewhere?
I wonder why does `ipfs.get` or `ipfs.id` not work when connected to a gateway.
So far only `ipfs.cat` and `ipfs.version` seem to work.

Also, since `ipfs.id` does not work, is there a way to figure out the node identity so that I can connect to it?

Many thanks! :pray:

[2019-05-30 19:29] marsrobertson commented on #982
When I have time (probably never or in 2 years) I'll check things out.

In the meanwhile, built a suite of tools to workaround: https://github.com/genesisdotre/kleros-metaevidence-metahash

[2019-05-31 13:26] alanshaw commented on #982
Also, `Buffer` is exported from `ipfs-http-client` so you can do:

[code]

Or in the browser:

[code]

https://github.com/ipfs/js-ipfs-http-client#static-types-and-utils

Adding a file should be as easy as:

[code]

[2019-05-31 13:26] #982 closed

[2019-06-06 07:53] anarkrypto opened #1029 "'webpack-dev-server' error"
npm 6.9.0
 node v12.4.0
Ubuntu 18.04

$npm install
npm WARN upload-file-via-browser@1.0.0 No repository field.
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})

audited 9304 packages in 2.807s
found

[2019-06-17 16:13] hugomrdias opened #1031 "fix test in electron-renderer target"

[2019-06-23 22:22] greenkeeper[bot] opened #1033 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.13.0` to `7.14.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fexamples%2Feslint-plugin-react-7.14.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-06-28 06:47] cle1000 commented on #781
Hi,
i found out that go-ipfs has a timeout flag, which is not supported by the ```js-ipfs-http-client```, I modified the code for the cmd ```cat```. Now I can pass a timeout flag to ipfs, see https://github.com/ipfs/js-ipfs-http-client/pull/1034

[2019-06-28 22:32] elluck91 commented on #972
Same issue, any updates?

[2019-06-28 22:32] elluck91 commented on #972
This does not solve the problem for me.

[2019-07-05 04:59] greenkeeper[bot] opened #1035 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.4.5` to `7.5.0`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.4.5` to `7.5.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkee

[2019-07-05 11:00] greenkeeper[bot] opened #1036 "An in-range update of aegir is breaking the build 🚨"
## The devDependency [aegir](https://github.com/ipfs/aegir) was updated from `19.0.4` to `19.0.5`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Faegir-19.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aegir is a devDependency of this project. It **might not

[2019-07-10 09:17] alanshaw commented on #987
Closing due to inactivity

[2019-07-10 09:17] #987 closed

[2019-07-10 09:26] alanshaw commented on #972
@elluck91 did you figure it out? Have you setup CORS properly on your IPFS node? https://github.com/ipfs/js-ipfs-http-client#cors

[2019-07-10 09:27] alanshaw commented on #972
Closing as I don't believe there's an issue here - this is just a configuration issue.

[2019-07-10 09:27] #972 closed

[2019-07-11 11:44] greenkeeper[bot] opened #1042 "An in-range update of interface-ipfs-core is breaking the build 🚨"
## The devDependency [interface-ipfs-core](https://github.com/ipfs/interface-ipfs-core) was updated from `0.107.0` to `0.107.1`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Finterface-ipfs-core-0.107.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

interface-ip

[2019-07-11 11:48] #1009 closed

[2019-07-11 11:48] #1017 closed

[2019-07-11 11:48] #1025 closed

[2019-07-11 11:48] #1033 closed

[2019-07-11 11:48] #1035 closed

[2019-07-11 11:48] #1036 closed

[2019-07-11 11:48] #1042 closed

[2019-07-11 17:48] greenkeeper[bot] opened #1044 "An in-range update of peer-id is breaking the build 🚨"
## The dependency [peer-id](https://github.com/libp2p/js-peer-id) was updated from `0.12.2` to `0.12.3`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fpeer-id-0.12.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

peer-id is a direct dependency of this project, a

[2019-07-16 13:10] ksvirsky opened #1049 "ipfs.files.ls() with long option doesn't include type, size, hash"
Hi!
The following code snippet was used to list files:
[code]
It produces the following result:
[code]
AFAIU **type, size** and **hash** should be included in response because long option is set.

[2019-07-16 13:24] alanshaw commented on #1049
What version IPFS node are you communicating with?

[2019-07-17 12:27] ksvirsky commented on #1049
ipfs version 0.4.21

[2019-07-17 14:09] alanshaw commented on #1049
Short answer is that go-ipfs doesn't support "long", but if you pass "l" it will work.

Follow along https://github.com/ipfs/go-ipfs#issuecomment-392477565 for progress on adding the longhand option name.

[2019-07-17 14:09] #1049 closed

[2019-07-17 14:52] alanshaw commented on #1049
Sent a PR to fix https://github.com/ipfs/go-ipfs/pull/6528

[2019-07-17 15:16] terichadbourne commented on #1052
@alanshaw Heads up that I transferred this issue here from the community repo.

[2019-07-17 15:25] alanshaw commented on #1052
@Nikhil-Bathula if it's returning an empty array, presumably an error is being returned that you're ignoring in your code - try logging out the error, it might give you some clues.

[2019-07-18 17:02] greenkeeper[bot] opened #1054 "An in-range update of ipfs-utils is breaking the build 🚨"
## The dependency [ipfs-utils](https://github.com/ipfs/js-ipfs-utils) was updated from `0.0.3` to `0.0.4`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fipfs-utils-0.0.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ipfs-utils is a direct dependency of this pro

[2019-07-20 10:36] daviddias opened #1056 "Merge ipfs-multipart into this module"
Following https://github.com/ipfs/js-ipfs/issues/2222

[2019-07-20 10:45] yuwiggin commented on #933
The error is found in the `Readable` class of
 `node_modules/ipfs-http-client/node_modules/readable-stream/lib/_stream_readable.js`.  and `node_modules/iso-stream-http/node_modules/readable-stream/lib/_stream_writable.js`   The  `ReadableState state` of  `function resume_(stream, state) ` and `function maybeReadMore_(stream, state) `,  and `WritableState state` of `function onwriteDrain(stream, st

[2019-07-20 17:30] daviddias commented on #1056
Nvm this one, see comment https://github.com/ipfs/js-ipfs/issues/2222#issuecomment-513485377

[2019-07-20 17:30] #1056 closed

[2019-07-30 00:12] anarkrypto opened #1064 "Progress bar - uploading big files with IPFS JS-API"
So I’m working on a project with IPFS, but I’m having trouble creating a simple pregress bar.
I hardly found material teaching how to do one with the ipfs api.

I found this way:

 let progress_func = function (len) {
   console.log ("File progress:", len)
 }
ipfs.add (file_send, {progress: progress_func}, (err, json) => {...};
but this only returns me all values after the file has been completely

[2019-07-30 19:27] alanshaw commented on #1044
resolved in https://github.com/ipfs/js-ipfs-http-client/pull/1065

[2019-07-30 19:27] #1044 closed

[2019-08-06 15:32] greenkeeper[bot] opened #1066 "An in-range update of pull-stream is breaking the build 🚨"
## The dependency [pull-stream](https://github.com/pull-stream/pull-stream) was updated from `3.6.13` to `3.6.14`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fpull-stream-3.6.14).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pull-stream is a direct dependency

[2019-08-08 07:19] greenkeeper[bot] opened #1067 "An in-range update of browserify is breaking the build 🚨"
## The devDependency [browserify](https://github.com/browserify/browserify) was updated from `16.3.0` to `16.4.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fexamples%2Fbrowserify-16.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

browserify is a devDepend

[2019-08-09 00:29] huyanyawei opened #1069 "Upload large files in blocks"
How to use js-ipfs-http-client in web browser to upload fragments? Can you share the code?

[2019-08-09 22:21] Stebalien opened #1072 "Content disposition for file parts in uploads should be form-data"
See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition#As_a_header_for_a_multipart_body.

Relates to https://github.com/ipfs/go-ipfs/issues/3322.

(note: go-ipfs doesn't care one way or the other but it now sends form-data)

[2019-08-11 18:06] alanshaw commented on #1072
This should have been resolved in https://github.com/ipfs/js-ipfs-http-client/pull/948 please re-open if something is not working as expected.

[2019-08-11 18:06] #1072 closed

[2019-08-13 20:54] greenkeeper[bot] opened #1073 "An in-range update of buffer is breaking the build 🚨"
## The dependency [buffer](https://github.com/feross/buffer) was updated from `5.3.0` to `5.4.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fbuffer-5.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

buffer is a direct dependency of this project, and **it is

[2019-08-14 11:07] greenkeeper[bot] opened #1074 "An in-range update of go-ipfs-dep is breaking the build 🚨"
## The devDependency [go-ipfs-dep](https://github.com/ipfs/npm-go-ipfs-dep) was updated from `0.4.21` to `0.4.22`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fgo-ipfs-dep-0.4.22).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

go-ipfs-dep is a devDependency of t

[2019-08-16 03:50] destroyersrt opened #1076 "Managing multiple users using a single daemon"
I want to manage multiple users accounts and their public keys and addresses. So, that I can send requests of multiple users using a single daemon.

[2019-08-25 12:47] yuwiggin commented on #933
the error was found in the following  function `resume` in the file `node_modules/ipfs-http-client/node_modules/readable-stream/lib/_stream_readable.js`

[code]

the `state` was defined before  `process.nextTick` was called, but it is undefined when `resume_` is called. What happened?

On the other side, at least 3 modules `readable-stream` are imported into my project. Any version conflicts?

Can

[2019-08-28 10:04] #518 closed

[2019-08-28 10:04] #932 closed

[2019-09-02 15:35] huyanyawei commented on #1069
Thanks for your reply ! I have solved this problem very well . And your ideas is also right.

[2019-09-04 13:44] #1074 closed

[2019-09-04 13:46] alanshaw commented on #1076
Not sure I understand? If you're just looking for general discussion on IPFS please use the [discussion forums](https://discuss.ipfs.io/) or the IRC channel #ipfs channel on freenode.

[2019-09-04 13:46] #1076 closed

[2019-09-06 11:58] #1069 closed

[2019-09-06 12:15] alanshaw commented on #933
@yuwiggin v35 has a new implementation for add that uses the `fetch` API. I'm going to close this issue because the error messages are no longer refer to any code in the module. If you have problems uploading again please open a new issue.

[2019-09-06 12:15] #933 closed

[2019-09-09 21:15] listenaddress opened #1099 "form-data not found"
After installing the client and attempting to start a connection, I got an error saying 'form-data' wasn't found. Had to `npm i form-data` in my project to get it working. Guessing it maybe needs to be added to this repo's package.json.

[2019-09-10 11:11] greenkeeper[bot] opened #1100 "An in-range update of aegir is breaking the build 🚨"
## The devDependency [aegir](https://github.com/ipfs/aegir) was updated from `20.0.0` to `20.1.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Faegir-20.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aegir is a devDependency of this project. It **might not

[2019-09-11 14:54] alanshaw commented on #1099
Oh dear! @listenaddress can you send us a PR please?

[2019-09-11 14:56] alanshaw opened #1103 "Document global options timeout, signal, headers, searchParams"
As per comment here https://github.com/ipfs/js-ipfs-http-client/pull/1101#discussion_r323286361

Needs to be done after all methods converted to use fetch.

[2019-09-12 21:05] greenkeeper[bot] opened #1104 "An in-range update of nock is breaking the build 🚨"
## The devDependency [nock](https://github.com/nock/nock) was updated from `11.3.3` to `11.3.4`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fnock-11.3.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nock is a devDependency of this project. It **might not brea

[2019-09-16 11:44] greenkeeper[bot] opened #1106 "An in-range update of aegir is breaking the build 🚨"
## The devDependency [aegir](https://github.com/ipfs/aegir) was updated from `20.1.0` to `20.2.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Faegir-20.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aegir is a devDependency of this project. It **might not

[2019-09-16 20:44] listenaddress opened #1107 "dag.get doesn't timeout"
Whether I `ipfs.dag.get(cid)` or `ipfs.dag.get(cid, null, { timeout: '1s' })`, the call hangs for 10+ minutes.

[2019-09-18 11:01] achingbrain opened #1110 "Support more IPLD types"
`js-IPFS` has separate IPLD config for node and the browser that omits some of the more obscure heavyweight types to save on bundle size.

From what I can see this module only supports [dag-pb, dag-cbor and raw types](https://github.com/ipfs/js-ipfs-http-client/blob/f52389ddf73b423bbd22079d8206f955e8c28bf6/src/dag/get.js#L12-L14).

It should probably follow a similar strategy to include more types

[2019-09-18 15:32] mikeal commented on #1110
FYI, the next major version of the new Block API will probably chop this down even more, potentially shipping with nothing except for `raw` and asking the user to configure each codec you want to support.

We’re trying to get our default bundle sizes much lower and shipping codecs you don’t use are a big source of bundle bloat from IPLD.

[2019-09-21 06:42] ReisenB commented on #681
With the recent improvements to the fetch API as noted in https://ipfs.io/blog/2019-08-29-pubsub-in-the-browser/, is this feature closer to implementation? I'm also waiting with bated breath for it.

I did have one question: I would like to be able to open a p2p stream from the browser and use it entirely from there (that is, local browser -> local daemon -> remote daemon -> remote browser). I see

[2019-09-25 07:25] #1099 closed

[2019-09-28 15:25] MohamedLEGH opened #1116 "addFromFs not working with directory with multiple files"
Hello,
When I push a directory with multiples files (and possibly folders inside the folder) and I try to get the data again with ```ipfs get hash```, I only get one file instead of a list of files.

My code :

[code]

Return
[code]
I only get one file instead of all files inside the folder.

Any ideas how to solve this ?

[2019-10-02 08:04] oed opened #1117 "Missing Stream API causes problems in ReactNative"
I'm trying to get the **ipfs-http-client** running in **react-native**, but ran into an issue I wasn't able to easily solve. The problem stems from that the [iso-stream-http](https://github.com/hugomrdias/iso-stream-http) uses the **fetch stream API**, which seems to be available in browsers, but is not in the RN implementation of fetch.

**The problem** is outlined in [this stackoverflow post](ht

[2019-10-02 09:36] achingbrain commented on #1117
Maybe @hugomrdias could polyfill the stream API in `iso-stream-http` for React Native?

Though I think longer term we are switching this module over to use [`ky`](https://npmjs.com/package/ky) instead - this has been done for `ipfs.add` in `v35.0.0` and `ipfs.cat` in `v36.0.0`, do you see the same problem with those method calls in React Native?

[2019-10-02 09:40] hugomrdias commented on #1117
This should do the trick https://www.npmjs.com/package/web-streams-polyfill

[2019-10-02 09:43] hugomrdias commented on #1117
Question why are you getting the browser version of iso-stream-http? Are you bundling? You should be getting the node version

[2019-10-02 11:17] oed commented on #1117
Thanks for the quick replies!

Using `ipfs.cat` is not either unfortunately with a different error. The callback is called with the following error:
[code]
I've tried to polyfill Symbol, but it's not been effective.

I just tried the web-streams-polyfil, but still have the same issue. Main problem is that body isn't defined in the response. This causes [this line](https://github.com/hugomrdias/iso

[2019-10-02 11:53] hugomrdias commented on #1117
Polyfill with this https://github.com/github/fetch/blob/master/fetch.js

[2019-10-02 11:55] hugomrdias commented on #1117
Plus this for iterator in your index.js
global.Symbol = require('core-js/es6/symbol');
require('core-js/fn/symbol/iterator');

[2019-10-02 12:14] oed commented on #1117
Thanks @hugomrdias I did try adding the symbol polyfill before with no improvements. Double checked now and got the same result in `ipfs.cat`.

The `whatwg-fetch` polyfill doesn't seem to be improving the situation for `ipfs.dag.get` either.

[2019-10-02 12:18] hugomrdias commented on #1117
Body needs to be defined now with that polyfill what's the error

[2019-10-02 12:21] oed commented on #1117
Maybe I'm doing something wrong then. I'm adding this to index.js:
[code]
But i still get an error saying the same thing:
[code]

[2019-10-02 22:51] prayaglehana commented on #855
i dont know why but these config setting commands
 `ipfs config --json API.HTTPHeaders.Access-Control-Allow-Methods '["PUT", "GET", "POST"]'`
most simple way is to go to ipfs config file (mine was at "C:\Users\praya\.ipfs"  ) then open it ,
and paste where API is the key
[code]

[2019-10-04 07:17] achingbrain opened #1122 "Remove gh urls from dependencies"
We have two deps that are pointing to gh repos.  This can cause people to have problems using this module, like https://github.com/ipfs-shipyard/npm-on-ipfs/issues/117

@hugomrdias if the changes you've made to these modules aren't going to get merged, could you just publish your forks under a different name?

[2019-10-04 07:23] achingbrain commented on #1116
The containing directory is the last entry in the array returned from `addFromFs`, not the first.

[code]

Returns:

[code]

[2019-10-04 07:52] achingbrain commented on #1107
There's no `timeout` option for dag.get - https://github.com/ipfs/interface-js-ipfs-core/blob/master/SPEC/DAG.md#dagget

It certainly would be nice to have, but for the moment you can wrap the returned promise with the [`p-timeout`](https://www.npmjs.com/package/p-timeout) module.

I think it's complicated by the fact that you can't cancel promises so even if you handle it at the top level with `p

[2019-10-04 07:52] #1104 closed

[2019-10-04 07:52] #1106 closed

[2019-10-04 07:54] achingbrain commented on #1103
This also involves adding an `options` object to pretty much all `interface-ipfs-core` methods that don't have one already.

[2019-10-04 07:55] achingbrain commented on #1031
This has been done, hooray!

[2019-10-04 07:55] #1031 closed

[2019-10-04 08:37] achingbrain commented on #1107
This is also a dupe of https://github.com/ipfs/interface-js-ipfs-core/issues/58 so discussion should take place there.

[2019-10-04 08:37] #1107 closed

[2019-10-08 01:23] greenkeeper[bot] opened #1125 "An in-range update of nock is breaking the build 🚨"
## The devDependency [nock](https://github.com/nock/nock) was updated from `11.3.6` to `11.4.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Fnock-11.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nock is a devDependency of this project. It **might not brea

[2019-10-10 14:40] greenkeeper[bot] opened #1126 "An in-range update of aegir is breaking the build 🚨"
## The devDependency [aegir](https://github.com/ipfs/aegir) was updated from `20.3.1` to `20.3.2`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs-http-client/compare/master...ipfs:greenkeeper%2Faegir-20.3.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aegir is a devDependency of this project. It **might not

[2019-10-20 12:32] drewstone opened #1132 "Error [ERR_STREAM_DESTROYED]: Cannot call write after a stream was destroyed"
Having odd behavior trying to build a CLI that adds data to IPFS. In my tests, I do not hit this error but when I try to run it directly with the CLI I can never add data to IPFS.

[2019-10-21 13:22] drewstone commented on #1132
Update with the error:
[code]

[2019-10-21 15:00] achingbrain commented on #1132
Sorry to hear you're having problems - can you share some runnable code that demonstrates the problem?

[2019-10-21 17:06] alanshaw commented on #1132
@drewstone it would also be useful to know if you're communicating with a go-ipfs or js-ipfs node and what version.

[2019-10-21 17:13] drewstone commented on #1132
I'm communicating with a js-ipfs node. The code I'm running is:
[code]

[2019-10-22 08:27] alanshaw commented on #1132
...and the versions of the client library and IPFS node that is running? Are you sure your IPFS node's HTTP API is running on port 5002?

[2019-10-22 11:11] drewstone commented on #1132
Yea I'm sure the node is running because everything works as intended in my mocha tests, I'm calling the same functions with the same arguments but in the CLI it hits this weird stream error.

The version of the client is
[code]
The version of the node is:
[code]

[2019-10-22 12:45] alanshaw commented on #1132
I can't reproduce so far. I'm using:

[code]

...and getting:

[code]

@drewstone Can you please run the script and post your output?

[2019-10-22 14:15] drewstone commented on #1132
Yea it works as expected, even when I wrap it in a `commander` program. I'll have to dive deeper as to why this is happening cause I'm lost.

[2019-10-22 14:22] #1132 closed

[2019-10-24 10:38] HamzaBinSarfraz opened #1135 "callback after connection to ipfs"
[code]

is there any callback which confirm me that i am successfully connected to ipfs ?

[2019-10-29 08:59] achingbrain commented on #1135
No, because the client doesn't make any requests to the node until API methods are invoked.

If you want to confirm the config is valid and you can communicate with the node, you could call a cheap API method after construction like `ipfs.id()`?

[2019-10-30 20:35] obo20 opened #1137 "wrap-with-directory no working for latest few versions (39.0+ for sure)"
passing in the option "wrap-with-directory" doesn't appears to be working at all with newer versions of this client.

I've had to revert to 33.1.1 in order for this functionality to work correctly.

[2019-10-30 20:41] obo20 commented on #1137
Edit, it appears the required naming for this setting changed awhile back. I've tested further on 39.0.2 and things appear to be working

[2019-10-30 20:54] obo20 commented on #1137
I wanted to reopen this issue just so that the team was aware of the the backwards compatibility issue here since there doesn't appear to have been any documentation on the change(let me know if I'm wrong here).

Essentially the client used to use 'send-files-stream.js' to handle some options as seen here:
[code]

In a recent version, it seems like things were switched over to using 'add/index.js'

[2019-10-31 11:37] achingbrain commented on #1137
The spec for [`ipfs.add`](https://github.com/ipfs/interface-js-ipfs-core/blob/master/SPEC/FILES.md#add) and friends says the option name is `wrapWithDirectory` so that should be used.

I'm not sure why `wrap-with-directory` was supported previously - you should definitely prefer what's in the spec.

[2019-10-31 11:49] alanshaw commented on #1137
For idiomatic js we use camel case options and have always documented where possible that this style should be used for options in `js-ipfs` and `js-ipfs-http-client`. At some point in the past we also accepted kebab case but this just complicates our code and makes it more error prone. I'll PR the changelog to document the breaking change. Thanks for letting us know.

[2019-10-31 14:08] obo20 commented on #1137
No worries. It wasn't too hard of a code switch on our end. Thanks for documenting the change.

[2019-11-02 16:39] Alvan98 opened #1139 "Need some help I try to npm install --save ipfs-http-client"
Need some help please . I get these error
![D431FF19-6E65-4FC1-BBC0-1CAAF9837583](https://user-images.githubusercontent.com/57293869/68074092-4e4adf80-fdd2-11e9-8c2a-c76c091ebb5f.png)

[2019-11-02 17:13] achingbrain commented on #1139
Please ensure you have git installed and that it’s on your path.

See: https://stackoverflow.com/questions/56987664/npm-err-enoent-undefined-when-running-npm-install

[2019-11-02 17:13] achingbrain commented on #1122
Another person encountering the same issue: https://github.com/ipfs/js-ipfs-http-client/issues/1139

[2019-11-03 12:43] Alvan98 commented on #1139
Thanks mate problem solve!!! Thank you Very Much

[2019-11-03 12:43] #1139 closed

[2019-11-04 15:54] alanshaw commented on #1122
🙏 yes please!

[2019-11-05 09:44] #1137 closed

[2019-11-05 09:45] alanshaw commented on #1135
Hope that answeres your question @HamzaBinSarfraz - let us know if not.

[2019-11-05 09:45] #1135 closed

[2019-11-05 10:00] alanshaw commented on #1116
Hope that answers your question @MohamedLEGH - let us know if not!

[2019-11-05 10:00] #1116 closed

[2019-11-05 10:09] alanshaw commented on #1110
We could expose a `loadFormat` option or might be worth including IPLD like in https://github.com/ipfs/js-ipfs-http-client/pull/755?

[2019-11-05 10:10] #1126 closed

[2019-11-05 10:14] alanshaw commented on #691
Did you solve the problem @charleenfei?

[2019-11-05 10:15] alanshaw commented on #1052
Closing due to inactivity - @Nikhil-Bathula please let us know if you still have this problem!

[2019-11-05 10:15] #1052 closed

[2019-11-05 10:17] alanshaw commented on #1064
Closing due to inactivity, @anarkrypto if you're still experiencing the problem please let us know!

[2019-11-05 10:17] #1064 closed

[2019-11-05 10:20] alanshaw commented on #979
@ishanjoshi02 did you solve the issue? If not, where do you see this error logged? - In Firefox? Do you have a stack trace and can you share the file you're trying to upload so we can replicate it?

[2019-11-05 10:21] alanshaw commented on #977
Lets track this in #1122 now

[2019-11-05 10:21] #977 closed

[2019-11-05 10:24] alanshaw commented on #971
Yes, the progress function is called as IPFS ingests data. Browsers do not support streaming uploads natively yet so you'll only start to get progress once the request has been sent.

[2019-11-05 10:24] #971 closed

[2019-11-05 10:26] alanshaw commented on #961
@bonedaddy those gists are 404-ing for me now - can you fix?

[2019-11-05 10:30] alanshaw commented on #958
I'm going to close this as the `ipfs.add` code has been refactored to use the browser `fetch` API. Please open a new issue if you're still seeing this.

[2019-11-05 10:30] #958 closed

[2019-11-05 10:30] #1125 closed

[2019-11-05 10:32] alanshaw commented on #899
Closing due to inactivity - @maooricio if you're still seeing this please shout and I'll re-open.

[2019-11-05 10:32] #899 closed

[2019-11-05 11:16] alanshaw commented on #929
I just reviewed this again today. We still have [199 dependents](https://www.npmjs.com/browse/depended/ipfs-api) but the majority of them haven't been updated for over a year and have <20 downloads/week.

One of the few deps that actually has some usage is `@aragon/apm` (~1,000 downloads/week) for which I've opened a PR here: https://github.com/aragon/apm.js/pull/39

20 (downloads) x 199 (dependen

[2019-11-05 11:16] #929 closed

[2019-11-05 11:44] HamzaBinSarfraz commented on #1135
Indeed, Thanks @achingbrain @alanshaw

[2019-11-05 11:58] alanshaw commented on #792
resolved in https://github.com/ipfs/js-ipfs-http-client/pull/1123

[2019-11-05 11:58] #792 closed

[2019-11-05 21:18] bonedaddy commented on #961
https://gist.github.com/bonedaddy/05c749af3f1eac259cb571a076923a10

https://gist.github.com/bonedaddy/40f5ac95ef65d135e717318f77e6a937

[2019-11-06 06:12] ishanjoshi02 commented on #979
I have solved the bug.
Was an issue on my side.

[2019-11-06 06:12] #979 closed

[2019-11-15 04:49] bonedaddy opened #1158 "addFromFs doesn't include headers that are injected during api initialization"
I'm using `js-ipfs-http-client` to add a directory from my local filesystem, however it appears to be ignoring authorization headers that I send via a JWT.

This is th script in question https://github.com/RTradeLtd/directory-upload/blob/master/src/index.ts

This is where I'm setting headers https://github.com/RTradeLtd/directory-upload/blob/master/src/index.ts#L49

[2019-11-19 12:46] alanshaw commented on #1158
@bonedaddy what version of the client are you using?

[2019-11-19 13:10] alanshaw commented on #1163
dupe of https://github.com/ipfs/js-ipfs-http-client/issues/963

[2019-11-19 13:10] #1163 closed

[2019-11-19 13:12] alanshaw commented on #1122
These are both (`concat-stream` & `ndjson`) likely to be removed in the async/await refactor

[2019-11-19 19:48] bonedaddy commented on #1158
@alanshaw `39.0.2`

[2019-11-20 13:16] charleenfei commented on #691
@alanshaw it seemed at the time to be a difference in the way the node objects were handled in the ipfs api library and the ipld library, but i have not been working on this issue for some time now so i don't know if this issue has been fixed.

[2019-11-21 06:37] liofchina opened #1171 "when i excute 'npm run dev' ,then throws a error"
error  in ./node_modules/ipfs-http-client/src/utils/load-commands.js

Module parse failed: Unexpected token (5:4)
You may need an appropriate loader to handle this file type.
| function requireCommands (send, config) {
|   const cmds = {
|     ...require('../files-regular')(config),
|     getEndpointConfig: require('../get-endpoint-config')(config)
|   }

 @ ./node_modules/ipfs-http-client/src/ind

[2019-11-21 09:51] alanshaw commented on #1171
Looks like you're using an old version of webpack. Check out our example for bundling with webpack: https://github.com/ipfs/js-ipfs-http-client/tree/master/examples/bundle-webpack

[2019-11-21 09:51] #1171 closed

[2019-11-21 17:46] alanshaw commented on #1158
@bonedaddy any chance you can give https://github.com/ipfs/js-ipfs-http-client/pull/1173 a go to see if it fixes your problem?

[2019-11-21 20:46] bonedaddy commented on #1158
@alanshaw unfortunately that did not help. Here's the error message
[code]

[2019-11-22 11:43] alanshaw commented on #1158
@bonedaddy I just tried using this test script:

[code]

...and got the response:

[code]

Are you sure you have a valid JWT?

[2019-11-22 11:45] #1103 closed

[2019-11-22 11:45] #1122 closed

[2019-11-22 11:45] #1158 closed

[2019-11-22 14:10] alanshaw commented on #781
Timeouts landed in master today and will be in the next release, see https://github.com/ipfs/js-ipfs-http-client#global-timeouts

[2019-11-22 14:10] #781 closed

[2019-11-22 14:11] #572 closed

[2019-11-22 14:13] alanshaw commented on #845
This should now be resolved - no more `pump` in this module.

[2019-11-22 14:13] #845 closed

[2019-11-22 19:16] bonedaddy commented on #1158
@alanshaw ah yes you are correct my jwt was invalid and this fixed it. Thanks!

[2019-11-22 21:13] michaelsbradleyjr opened #1175 "Bad tag?"
![image](https://user-images.githubusercontent.com/194260/69460808-a5413600-0d3a-11ea-9272-68fff23b4bad.png)

[2019-11-23 01:47] achingbrain commented on #1175
Yes: https://github.com/ipfs/aegir/issues/471

I think @alanshaw was going to remove the rogue tag as it’s only on github, not a release on npm.

[2019-11-23 22:43] alanshaw commented on #1175
It gone

[2019-11-23 22:43] #1175 closed

[2019-11-26 00:45] ay2306 opened #1177 "Migration of License from MIT to Dual MIT/Apache2.0"
Creating this issue to migrate the license from MIT only to dual MIT/Apache2.0 as done in [JS-IPFS](https://github.com/ipfs/js-ipfs/pull/2620) and [go-ipfs](https://github.com/ipfs/go-ipfs/pull/6301).

[2019-11-26 00:48] ay2306 commented on #1177
@alanshaw I am taking the issue.

[2019-11-26 02:59] sarthak0906 commented on #1177
Hey can I work in this?

[2019-11-26 11:17] ay2306 commented on #1177
@sarthak0906 yes, you can work on this issue. @alanshaw I hope there is no problem.

[2019-11-26 14:08] ayushee10 opened #1180 "SyntaxError: Unexpected reserved word"
\node_modules\ipfs-http-client\src\index.js:79
      for await (const entry of get(path, options)) {
          ^^^^^

SyntaxError: Unexpected reserved word
    at new Script (vm.js:51:7)
    at createScript (vm.js:138:10)
    at Object.runInThisContext (vm.js:199:10)
    at Module._compile (module.js:626:28)
    at Object.Module._extensions..js (module.js:673:10)
    at Module.load (module.js:575:

[2019-11-26 15:51] achingbrain commented on #1180
You are probably running an old version of node - please upgrade to 12 or later

[2019-11-28 07:01] ayushee10 commented on #1180
thanks a ton; it worked!!

[2019-11-28 07:01] #1180 closed

[2019-11-29 12:42] alanshaw opened #1188 "Does not work in Node.js 13"
API calls hang

[2019-11-29 15:18] alanshaw opened #1189 "Re-license js-ipfs-http-client to MIT + Apache 2"
@ianjdarrow has done some research into open-source licensing and determined that dual-licensing as MIT and Apache 2 is a best practice. Quoting from his writing elsewhere:

### What we need to do:

The licences are being updated in https://github.com/ipfs/js-ipfs-http-client/pull/1179, the next step is to get an explicit OK from our current and past contributors to consent to the relicensing. To

[2019-11-29 15:19] RichardLitt commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 15:21] #1177 closed

[2019-11-29 15:23] alanshaw commented on #1189
js-ipfs-http-client is being re-licensed to MIT+Apache2 and we need your sign off. Please [read the info](https://github.com/ipfs/js-ipfs-http-client/issues/1189#issue-530395449) and either check the box next to your github handle, or comment on this issue thread with the following text:

Mentioning these people here who did not get a notification in the original list due to github limiting mentio

[2019-11-29 15:24] fsdiogo commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 15:25] PedroMiguelSS commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 15:34] Fil commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 15:43] filips123 commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 15:54] vmx commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 15:55] fbaiodias commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 16:07] holodisc commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 16:14] MichaelMure commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 16:14] demmojo commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 16:36] atfornes commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 16:56] vith commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 16:57] requilence commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 17:35] achingbrain commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 18:09] elsehow commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 18:49] pgte commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 19:41] maxlath commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 19:53] phillmac commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 20:15] petethomas commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 20:27] JGAntunes commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 21:59] whyrusleeping commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-29 22:03] OR13 commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-30 00:19] wraithgar commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-30 05:02] KrishnaPG commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-30 06:11] noffle commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option. Good luck.

[2019-11-30 06:32] mitar commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-30 11:51] vasco-santos commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-30 12:48] daviddias commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-11-30 21:40] ethers commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-12-01 00:57] arithmetric commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-12-02 11:31] AliMirlou opened #1194 "Not working on Node.js 13"
Any calls to the API is dropped and the output is always empty.

After some digging through the code, I realized that commenting this line of code, which seems to be only destroying a clone, solves the problem:
https://github.com/ipfs/js-ipfs-http-client/blob/f77819c4c366a471c22bb6de08a2b133c835cf43/src/lib/error-handler.js#L21

But although it should not, It seems to be causing the whole client t

[2019-12-02 12:04] alanshaw commented on #1194
Ah thanks for the debugging @AliMirlou! I haven't had a sec to look into this yet but this is helpful. We test on Node.js 10 and 12 right now so I recommend downgrading if you can.

Otherwise, if you're able to help debug this further I'd really appreciate it!

[2019-12-02 12:06] alanshaw commented on #1188
Closing in favour of #1194

[2019-12-02 12:06] #1188 closed

[2019-12-03 17:45] terichadbourne commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-12-04 11:37] dignifiedquire commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-12-04 22:35] travisperson commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-12-05 00:39] michaelsbradleyjr commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-12-05 05:26] dostu commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-12-12 03:21] joequant opened #1199 "ipfs.dag options mismatch"
the options argument in the http-client takes only string arguments i.e.

	format: 'dag-pb',
	hashAlg: 'sha2-256

whereas the ipfs core client takes multicodec arguments

       format: multicodec: DAG_PB,
       hashAlg: multicodec.SHA2_256

If you put multicodec arguments into the http client they will silently be ignored.

[2019-12-17 02:38] SvenMeyer opened #1201 "examples/upload-file-via-browser - not working"
[code]

[code]

http://localhost:8080/
[code]
![image](https://user-images.githubusercontent.com/25609/70960191-7b2d2a80-20d2-11ea-87d0-00e03d148e8e.png)

[2019-12-17 11:13] xmaysonnave opened #1202 "There is an Alex in my Chrome browser..."
Hi Guys,
I noticed the following behaviour in my Chrome browser.
I load from jsedelivr ipfs-http-client. I let you see what I noticed in the following screenshot.
Any explanations...
Thanks
![ksnip_20191217-164130](https://user-images.githubusercontent.com/20576132/70990789-462dd180-20ec-11ea-9c6d-a6b07689d4e7.png)

[2019-12-17 12:38] achingbrain commented on #1202
Aegir has source maps turned on for production builds - it's going to be removed, see https://github.com/ipfs/aegir/issues/483 for tracking.

[2019-12-17 13:24] xmaysonnave commented on #1202
Thanks for your fast and clear reply.

[2019-12-18 22:55] pcowgill opened #1206 "Support js-ipfs-http-client use in React Native env"
This would involve adding a `react-native` field in the `package.json` equivalent to the `browser` one that already is in there and ensuring that the appropriate react-native-compatible implementations of node core modules are used.

The list of react-native compatible versions can be found [here](https://github.com/tradle/rn-nodeify/blob/master/shims.js) and/or [here](https://github.com/parshap/n

[2019-12-19 08:07] DallasC opened #1207 "uploading file from browser issue"
I'm having difficulty uploading a file from the browser. The error seems to be related to how the file is being sent.

On my end I get
[code]
and from the node I'm getting

[code]

My code takes an array of `Files` and calls `ipfs.add([...files]) on it`
[code]

When inspecting my request the payload ends up looking like
[code]

[2019-12-19 22:00] pcowgill commented on #1117
@hugomrdias What do you make of that latest error @oed was running into? Thanks!

[2019-12-20 03:37] pcowgill commented on #1117
@achingbrain Can you speculate on the timeline for a move to `ky` or similar? 1 month? 3 months? 1 year? 3 years? Thanks!

[2019-12-20 08:33] hugomrdias commented on #1117
Have you tried the latest version?

[2019-12-20 18:04] bonedaddy commented on #1207
An update to this:

We've been stuck on this for a few days now, and have learned a few things that will help with debugging:

* Directory uploads with js-ipfs-http-client from the command line work (although this used addFromFS as opposed to add)
* Manually crafted the API calls for file uploads work
* Manually crafting the API calls for folder uploads does not work and results in the same error

[2019-12-23 19:06] hacdias opened #1210 "0.40.1 does not print anything"
Code:

[code]

Running with 0.40.x does not print anything.
Running with 0.39.x works.

[2019-12-26 22:55] nhynes commented on #1210
have you tried using `ipfsClient({ apiAddr: '/ip4/127.0.0.1/tcp/5001'})`? the config param changed a bit in the new version

[2019-12-26 23:18] hacdias commented on #1210
I did :)

[2019-12-26 23:29] nhynes commented on #1210
what about your node version? `v13` doesn't work for some reason. (I just ran into this bug, actually :)

[2019-12-27 08:56] hacdias commented on #1210
Also 13

[2019-12-27 10:10] alanshaw commented on #1210
Looks like a dupe of https://github.com/ipfs/js-ipfs-http-client/issues/1194 - any help you can offer would be greatly appreciated!

[2019-12-27 10:27] hacdias commented on #1210
Yes, it seems to be a duplicate! I'll close this one then.

I'll see if I can do anything. I'm really busy this month with exams :'( starting on the 3rd already

[2019-12-27 10:27] #1210 closed

[2020-01-03 21:10] khartig opened #1211 "src/files/ls.js uses incorrect long listing option name"
The IPFS documentation for 'ipfs files ls'  CLI command (https://docs.ipfs.io/reference/api/cli/#ipfs-files-ls) lists the long listing option as using:
    -l bool
The src/files/ls.js implementation expects -long as the parameter instead.

The documentation at https://github.com/ipfs/interface-js-ipfs-core/blob/master/SPEC/FILES.md#filesls shows using 'long' for the option. This is consistent with

[2020-01-04 08:03] alanshaw commented on #1211
This will be fixed in the new go-ipfs release. I don’t think it’s worth putting work into this. I recommend you temporarily add the param using the searchParams option. https://github.com/ipfs/js-ipfs-http-client#additional-options

[2020-01-06 10:35] alanshaw commented on #1117
Just following up on this - is the latest version working for you both @oed @pcowgill ?

[2020-01-06 11:36] alanshaw commented on #1206
Any chance you can help us out with this @pcowgill? I think in the new version we're not using most of those modules (since we've shifted to more browser focused APIs), but it would be good to know where we currently don't.

Ideally we wouldn't have a `react-native` field in `package.json`.

[2020-01-06 15:30] pcowgill commented on #1117
@hugomrdias @alanshaw I'll give it a try today! Was there anything in particular that changed in the latest version that you had in mind that might address this?

[2020-01-06 16:37] alanshaw commented on #1117
🙄 my apologies I just dug in deeper and unless RN has fixed their fetch impl I think this will still be a problem.

[2020-01-06 17:22] pcowgill commented on #1117
@alanshaw Noted, that's what I thought. Thanks for looking into this!

[2020-01-06 17:47] pcowgill commented on #1206
@alanshaw Yep, I'm definitely interested in helping out with this.

It's too bad that `ky` assumes a browser or `deno` environment. `ky` wraps `fetch`, and fetch in a React Native env doesn't have streams implemented.

It would be nice if this lib's dep was something more universal rather than something that assumes a browser env. `ky-universal` supporting a node environment as well is nice, but t

[2020-01-06 20:24] hugomrdias commented on #1117
@pcowgill are you able test if using this https://www.npmjs.com/package/react-native-v8 instead of the default jsc help with this ?

[2020-01-07 15:39] pcowgill commented on #1117
Update: @achingbrain I see that `iso-stream-http` was removed from this lib in [this commit](https://github.com/ipfs/js-ipfs-http-client/commit/3e5967af8e456517485c8a7536792107c0ed6e63#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L70), so the move to `ky` is complete.

But getting a fetch API working applies still, since `ky` uses the fetch api

[2020-01-07 15:39] pcowgill commented on #1117
@hugomrdias Sure, I'll give that a try.

[2020-01-07 16:59] john-osullivan opened #1212 "Problems getting root hash for static sites re-uploaded as Buffers"
I am trying to create an automated tool for deploying static websites to IPFS and am not getting an updated root hash when I add a new build.  Note that I'm running `ipfs-http-client@40.0.2` on `node@10.x`

### Usage
I'm calling `ipfs.add([...], { wrapWithDirectory: true })` with an array of objects from an unzipped static build -- each object has the file path and then the contents of the file in

[2020-01-08 10:13] alanshaw commented on #1212
Can you share some working code that exhibits the behaviour? Also what kind and version of IPFS node are you connecting to?

[2020-01-08 11:20] Rkrushanovskij opened #1213 "getReadableStream returns Readable with length 0 after migration to the latest version"
After migration to the latest `ipfs-http-client` version I faced troubles with getReadableStream.
Versions: `32.0.1 -> 40.1.0`

I am uploading file to IPFS from FS using:
`ipfs.addFromFs(path, options)`
and getting such result:
[code]
AFAIU it means that file uploaded successfully and this hash have some content (non-zero size).

I am trying to get readable stream from IPFS for this file but retur

[2020-01-08 16:33] john-osullivan commented on #1212
Thanks for taking a look, Alan!  I'm connecting to Infura's IPFS Gateway, `ipfs.infura.io` -- not sure what version it's running.  My code snippet looks like this:

[code]

[2020-01-08 16:36] alanshaw commented on #1212
Do you see the same issue when connecting to a locally running IPFS node?

[2020-01-08 16:39] john-osullivan commented on #1212
I haven't really tried it out, as I intend to execute in a Lambda function -- ideally I don't need to run my own dedicated node.

Is your instinct that it's probably an issue with Infura?

[2020-01-08 16:44] alanshaw commented on #1212
We have a lot of tests for adding files to IPFS. It would be good to rule out infura for the purposes of debugging this issue.

[2020-01-08 16:45] john-osullivan commented on #1212
Is my understanding correct that the call ought to always return a root hash, even if we're adding files which are duplicates of some previous ones?

I'll try plugging in a different provider and see how it behaves, thank you!

[2020-01-08 16:59] alanshaw commented on #1212
Yes

[2020-01-08 17:01] pcowgill commented on #1117
@hugomrdias FYI this issue mentioned above:
[code]
is still a problem with the latest version of this package and the latest version of React Native. I'm pretty sure the solution isn't polyfilling `Symbol` or `iterator`, since polyfillying those doesn't change the error message. (I did use the `core-js` polyfill like was suggested above.)

The issue seems to be getting the `for...of` loop working

[2020-01-08 18:44] john-osullivan commented on #1212
Okay, so this behavior doesn't happen when using a local daemon, but given that this is a JS client, I'm probably not the only person who needs to instead send to a managed node.  I added logs at the top to show how the uploaded set seems to change cyclically.

Any tips on who I would poke at Infura to let them know about their erratic behavior here?

[2020-01-08 22:51] pcowgill commented on #1117
I am able to reproduce the undefined error above with a minimal snippet not using the `ipfs-http-client` dep and just using an async generator and iterator, which is a helpful clue:

`App.tsx`
[code]

[2020-01-08 22:54] #1212 closed

[2020-01-08 23:29] hugomrdias commented on #1117
So the problem is async iterators? I don't understand the roll-up Babel issue why can't you transpile the iterators in your project?

[2020-01-09 01:42] pcowgill commented on #1117
@hugomrdias It seems that way, yes. Transpiling the iterators in our project is definitely an option worth considering, but if a goal for this library is wide adoption, including a build script in this repo and publishing prebuilt vanilla js code to npm that can be used in a project with any Babel config seems ideal for making it approachable for developers with minimal setup friction. That's what

[2020-01-10 13:30] hugomrdias commented on #1117
http-client works in react-native with these instruction

react-native

[code]

Add `"postinstall": "rn-nodeify --install --hack --yarn"` to npm scripts

To connect to a ipfs daemon using localhost:5001

https://stackoverflow.com/questions/33704130/react-native-android-fetch-failing-on-connection-to-local-api/43277765#43277765

[code]

or change ipfs config API to 0.0.0.0

[code]

Test code

[code

[2020-01-10 14:44] pcowgill commented on #1117
@hugomrdias Thanks for looking into this! Have you tried with any other IPFS methods, like `addFromUrl`? `ipfs.id()` has been working all along.

[2020-01-10 15:51] pcowgill opened #1215 "Add error handling for if res.body is undefined after making a ky request"
It would be nice if you could add error handling for if `res.body` is undefined after making a ky request.

Like here, for instance:

https://github.com/ipfs/js-ipfs-http-client/blob/da9d17a38ce09d299e7180d489a56c1e276b4fb9/src/add/index.js#L43

That way in envs that need a polyfill or where a polyfill is used that doesn't implement the complete fetch spec, the error message will be more obvious.

[2020-01-10 15:58] pcowgill commented on #1117
The `for await ... of` syntax doesn't fail at compile time, but rather at runtime. So only methods like `ipfs.addfromURL` (and most other IPFS methods) that hit such lines in the ipfs codebase can be used. `id` doesn't appear to use an async iterator:
https://github.com/ipfs/js-ipfs-http-client/blob/master/src/id.js

If you modify the `test` function to:
[code]
you should be able to reproduce the

[2020-01-10 16:04] pcowgill commented on #1117
@hugomrdias and I chatted about trying to import the browser bundle for `ipfs-http-client` like this:
[code]
and that does appear to get past the async iterator error!

The error message with the browser bundle is
[code]
...which is different than the one before.

That new error occurs because the fetch available in a React Native env and the GitHub pollyfill for fetch both don't implement `res.bo

[2020-01-11 17:18] pcowgill opened #1217 "Feature detect streaming and fall back to regular request/response reading if not available"
Feature detect streaming and fall back to regular request/response reading if not available.

This would involve using a helper lib with the `ky` response that handles the case where `res.body` is undefined and instead parses the JSON from a vanilla, non-streaming response and transforms it to an iterable in another way rather than through `toIterable`, which assumes a `ReadableStream` from the `f

[2020-01-11 17:21] pcowgill commented on #1206
Some issues that would get this moving in a good direction (they're all distinct steps so I don't think it makes sense to merge them):

https://github.com/ipfs/js-ipfs-http-client/issues/1215
https://github.com/ipfs/js-ipfs-http-client/issues/1217
https://github.com/jonnyreeves/fetch-readablestream/issues/10
https://github.com/facebook/react-native/issues/27741

[2020-01-12 02:36] dannyid commented on #1189
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2020-01-13 23:34] pcowgill opened #1219 "Add error handling for if res.arrayBuffer() throws an error after making a ky request"
This is where you might want to handle the error:

https://github.com/ipfs/js-ipfs-http-client/blob/3e5967af8e456517485c8a7536792107c0ed6e63/src/block/get.js#L21

[2020-01-14 06:53] Rkrushanovskij commented on #1213
Hello? :(

[2020-01-14 10:34] alanshaw commented on #1213
Are you using `content._readableState.length`? Firstly, I would suggest not depending on this value, by convention underscore prefixed members are considered private and are not usually part of the public API.

Secondly, streams by their nature are _not_ guaranteed to know their length before they are consumed. There is nothing in the [public API for streams](https://nodejs.org/dist/latest/docs/ap

[2020-01-14 10:34] #1213 closed

[2020-01-14 22:56] pcowgill opened #1220 "Explain best practices for using this package since the default export contains new ES features"
An info to the README about why a client using this package might want to do the transpiling for their own target envs (I agree there are good arguments for this, but many devs won't be used to this newer pattern), plus instructions on how best to do that (Babel config, etc.) given the use of newer ES features in this package like async iterators.

Thanks!

[2020-01-21 18:53] pcowgill commented on #1215
(Or as @hugomrdias and I discussed, handle the case without throwing an error by passing res through to `toIterable` and modifying the logic of that function to handle the body undefined case)

[2020-01-21 19:36] calikevuche opened #1223 "Failed to construct 'URL': Invalid URL"
Hello All,
I have the ipsf daemon running in the background, successfully. However, when I try to run the example, upload-file-via-browswer, in js-ipfs-http-client repo, I get the following error on my chrome browser:

Uncaught TypeError: Failed to construct 'URL': Invalid URL
    at getNonRootPath (configure.js:93)
    at eval (configure.js:27)
    at ipfsClient (index.js:21)
    at new App (App.

[2020-01-22 03:11] pcowgill commented on #1206
@alanshaw I'm still curious about this when you have a moment. Thanks!

[2020-01-22 15:22] pcowgill opened #1225 "Linter should enforce coding style rules that will gate merging PRs"
See here https://github.com/ipfs/js-ipfs-http-client/pull/1224#discussion_r369415389 for an example

[2020-01-22 15:25] pcowgill commented on #1225
Here's another example of rule the linter should enforce https://github.com/ipfs/js-ipfs-http-client/pull/1224#discussion_r369415673

[2020-01-22 15:28] pcowgill commented on #1223
@calikevuche This may be related https://github.com/ipfs/js-ipfs-http-client/pull/1222/files#diff-a2458e7a9c5348e076b46fb8dd29d473R12

[2020-01-22 15:29] pcowgill commented on #1223
(That link is in an unmerged PR that will modify the `upload-file-via-browswer` example)

[2020-01-22 15:46] pcowgill commented on #1219
@achingbrain @hugomrdias How do you prefer to handle a case like this?

[code]

How do you prefer to handle this? Throw a custom error from scratch like is done above? Just let the original error bubble through but have it be clearer by having the `arrayBuffer` step on its own line? Customize the existing error's `message` or `name` and throw that?

[2020-01-22 16:55] pcowgill commented on #1225
Should this issue move to an `aegir` repo?

[2020-01-22 16:55] pcowgill commented on #1225
Here's one other linter rule to modify https://github.com/ipfs/js-ipfs-http-client/pull/1224/files#r369679391

[2020-01-22 21:53] calikevuche commented on #1223
@pcowgill when I run the upload-file-via-brower, I get the following error:

```Access to fetch at 'http://127.0.0.1:5001/api/v0/add?stream-channels=true&progress=true' from origin 'http://localhost:1234' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetc

[2020-01-23 05:42] pcowgill commented on #571
I think this still is worth mentioning in the `README` as an option. Being able to try this in an environment like React Native where async iterators aren't supported by default was very helpful before I found the Babel config needed to get the `src` version of this lib working.

The instructions to browserify the code weren't helpful because it wasn't picking up the right Babel config. I agree th

[2020-01-23 17:25] pcowgill commented on #1223
@calikevuche Did you follow these instructions too? https://github.com/ipfs/js-ipfs-http-client#cors

[2020-01-28 21:40] pcowgill opened #1227 "Bump stream-to-it version once a PR lands there to handle response body that is undefined"

[2020-01-29 10:14] AliMirlou commented on #1194
It's fixed in Node.js 13.7.0. Don't know what the problem was exactly but it was on their side, not the libraries.

Guessing it had to do something with this pull:
https://github.com/nodejs/node/pull/31314

[2020-01-29 10:15] #1194 closed

[2020-01-31 07:29] AdityaNambiar opened #1230 "How to find out whether an IPFS hash is a directory or file?"
Hello,
is there a way to programmatically figure out when a multihash is received whether it is a directory or a raw file?
I tested this by doing a ipfs ls on the multihash of a raw file and it returned nothing. So I assume thats the same case for the ipfs.ls() method from this library.
So I wonder if there is any method that this library might be providing or reflecting from the IPFS API methods

[2020-01-31 07:36] #1230 closed

[2020-01-31 07:38] AdityaNambiar commented on #1230
ipfs.files.stat returns a Promise object containing a "type" key that does what is mentioned in the issue.

[2020-01-31 11:59] alanshaw commented on #1227
Can this be closed @pcowgill ?

[2020-01-31 15:19] pcowgill commented on #1227
@alanshaw Yep!

[2020-01-31 15:19] #1227 closed

[2020-01-31 15:20] pcowgill commented on #1227
(Because we decided that package was too limited in scope by design for the PR to make sense there)

[2020-02-04 11:29] alanshaw opened #1234 "Re-add browserify example"
This was removed in https://github.com/ipfs/js-ipfs-http-client/pull/1222 and needs re-adding.

[2020-02-04 12:26] alanshaw commented on #1223
This example has been fixed in https://github.com/ipfs/js-ipfs-http-client/pull/1222

[2020-02-04 12:26] #1223 closed

[2020-02-04 12:26] #1211 closed

[2020-02-04 14:14] alanshaw commented on #1219
@pcowgill why do we need additional handling here?

[2020-02-04 19:43] pcowgill commented on #1219
@alanshaw The error message that bubbles all the way up without a try/catch is a bit opaque, and stack trace line numbers aren’t always reliable in React Native, especially when networking is involved so you can’t result the Chrome debugger. A custom error message that handled the case where it was undefined would have made it simpler as a dev using this lib to immediately know what wasn’t configu

[2020-02-05 21:25] zot commented on #681
I started a project to do this [here](https://github.com/zot/ipfs-p2p-websocket) as kind of an add-on to js-ipfs-http-client. It's currently just under 500 lines of Go code to implement a server that multiplexes p2p streams through a websocket connection using a simple binary protocol. It's mostly ready to start testing (which plan to be doing over the next couple days).

@ReisenB, this does allow

[2020-02-05 21:32] zot commented on #835
I started a workaround for this that I talk about in https://github.com/ipfs/js-ipfs-http-client/issues/681#issuecomment-582620203

[2020-02-06 10:49] alanshaw commented on #1219
What is the error you're receiving?

[2020-02-12 21:41] alanshaw commented on #1220
I'd defintiely merge a PR to add that info 😉

[2020-02-19 22:38] vaultec81 opened #1241 "ipfs.add async Iterable not truly asynchronous. Does not function as intended."
Hello
I have noticed after doing some experimentation that ipfs-http-client requires the input async iterable to be completed in order for the request to proceed. There is no output until the input async iterable is completed.  Meaning the code functions no different then if an array was specified instead.
However, if using js-ipfs ipfs.add will function as intended. Returning CIDs through the out

[2020-02-19 23:12] achingbrain commented on #1241
When you see this behaviour are you running against a remote go or js daemon?

[2020-02-19 23:14] vaultec81 commented on #1241
@achingbrain go-ipfs. I have confirmed it works once async iterable is finished.

[2020-02-19 23:26] achingbrain commented on #1241
Is the behaviour the same with a js-ipfs daemon?

[2020-02-19 23:42] vaultec81 commented on #1241
The behavior is different (working as intended) with an in process js-ipfs daemon. Sorry I did not make that clear.

[2020-02-19 23:53] vaultec81 commented on #1241
Doing some further analysis reveals no request is actually sent to HTTP API Port 5001 for go-ipfs daemon. I believe the issue lies here https://github.com/ipfs/js-ipfs-http-client/blob/e9ce88d2523663b9730a0ffa28c6791f45976549/src/add/form-data.js#L15-L61

[2020-02-20 13:04] qalqi commented on #1117
+1

[2020-02-20 17:43] pcowgill commented on #1225
Closing this since this issue belongs in the `aegir` repo

[2020-02-20 17:43] #1225 closed

[2020-02-21 21:46] rigwild commented on #864
Hey, would love some typings too.

Found this abandoned PR in DefinitelyTyped repo: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38308

It may be reused.

[2020-02-23 13:03] hugomrdias commented on #864
We made typescript support a priority for the next months I'll personally be working on this and would love some help and feedback from you all.

My primary objective is to find the best way to provide accurate and up to date type definitions. It's really important to not make types generation a big burden so we can keep it always in sync with the code.

We want a long term solution to provide the

[2020-02-24 01:34] sinkuu commented on #516
[code]

I expected this code creates a directory and an empty file inside, but it resulted in a directory and another directory inside. Is this really the intended behavior?

Anyway, I was able to workaround this problem by passing an empty array.

[code]

[2020-02-24 21:56] alanshaw commented on #1241
@vaultec81 are you running your code in the browser or in Node.js? If in the browser, ensure you've setup [CORS](https://github.com/ipfs/js-ipfs-http-client#cors) correctly on your daemon. If in Node.js then what version are you running? There's an issue with `ky` in Node.js v13 that _could_ be the same problem as this. If you're using v13 please try again with Node.js v12.

[2020-02-24 22:16] alanshaw opened #1242 "mtime and mtime-nsecs multipart headers not sent in browser"
The [code here](https://github.com/ipfs/js-ipfs-http-client/blob/master/src/add/form-data.browser.js#L37-L39) essentially is doing the following:

[code]

Output (tested in Firefox and Chrome):

[code]

Missing `mtime` header. Worryingly, as far as I can see, there's no way to set custom multipart headers using the APIs we have in the browser.

The `form-data` module supports `header` so it's work

[2020-02-24 23:01] vaultec81 commented on #1241
@alanshaw I am running node v12.

[2020-02-25 06:52] alanshaw commented on #1241
Ah, I just re-read your issue and yes this is a problem with how FormData works with the fetch API. File contents may be streamed but FormData needs to know the full list of files before it can be passed to the fetch API.

[2020-03-02 11:33] hugomrdias commented on #1241
yet there is no support for streaming Requests in browsers yet, only streaming Responses.
Either we implement chunking support or we wait for browsers to implement streaming.

[2020-03-03 00:43] vaultec81 commented on #1241
@hugomrdias I don't see it being too hard to implement streamed uploads. it does require some changes to the ipfs http api specifications. I don't if its possible to do streamed multipart uploads. Potentially a websocket connection for` /api/v0/add` could be used along side the normal mechanism.

This isn't specifically a browser issue.

[2020-03-03 00:46] hugomrdias commented on #1241
browsers can not stream requests using HTTP, no way around it.

[2020-03-03 00:49] vaultec81 commented on #1241
@hugomrdias Can you please go into more detail what you mean by "stream requests"

[2020-03-03 00:51] hugomrdias commented on #1241
one can only send a blob/buffer from browsers using HTTP, there is no way to stream bytes from the browser.

[2020-03-03 00:59] vaultec81 commented on #1241
@hugomrdias I don't see it being a big deal implementing chunked request multipart uploads, Or better yet websocket which can upload data in a streamed fashion. Although websocket is not exactly HTTP, it is widely supported by the majority of web browsers, and common web infrastructure.

[2020-03-03 01:04] hugomrdias commented on #1241
its not that's why i changed this from bug to feature.
we are totally open to PRs that implement chunked uploads. want to give it a go ?

[2020-03-04 01:08] vaultec81 commented on #1241
@hugomrdias I believe it should still be treated as if its a bug as it causes functionality differences between js-ipfs in process daemon, and js-http-client. I am open to the possibly of submitting a PR. However, I believe it should be up to the IPFS team to develop a universal solution.

[2020-03-04 07:25] xmaysonnave opened #1243 "Unable to add content with the 42.0.0"
I tried to qualify the latest with our DApp and was unable to add anything.
I downgraded to the 41.0.1.

Here is the code snippet I use :
[code]
The first screenshot shows the usual array I receive when added while the second screenshot
 shows an unfamiliar object, definitely not an array.

![ipfs-http-client-add-41 0 1](https://user-images.githubusercontent.com/20576132/75854852-0fc44080-5e17-11e

[2020-03-04 07:27] xmaysonnave commented on #1243
According to the migration guide I receive an Iterable.
I close this issue as it's irrelevant.
Thanks

[2020-03-04 07:27] #1243 closed

[2020-03-06 17:49] hsanjuan commented on #1201
@achingbrain can you check, seems like an easy fix for the example.

[2020-03-09 11:32] achingbrain commented on #835
If you're still having problems accomplishing this, please ask a question on https://discuss.ipfs.io

[2020-03-09 11:32] #835 closed

[2020-03-09 12:00] #1202 closed

[2020-03-09 12:24] achingbrain commented on #691
I can't replicate this - the code behind all of this has changed significantly since February 2018, if you still see this problem can you please open a new issue with an example that reproduces the error on [ipfs/js-ipfs](https://github.com/ipfs/js-ipfs)

[2020-03-09 12:24] #691 closed

[2020-03-09 12:42] achingbrain commented on #946
I think this should be fixed now, please open an new issue if it's not the case.

[2020-03-09 12:42] #946 closed

[2020-03-09 13:00] achingbrain commented on #780
Deferring to the other issue mentioned above to resolve this.

[2020-03-09 13:00] #780 closed

[2020-03-09 13:01] achingbrain commented on #671
This issue has grown quite stale, please open a new issue if the problem still exists.

[2020-03-09 13:01] #671 closed

[2020-03-09 13:10] achingbrain commented on #830
This would involve making changes to [aegir](https://github.com/ipfs/aegir) as that's where all the webpack/babel config lives, if it's still desirable.  Please open an issue there.

[2020-03-09 13:10] #830 closed

[2020-03-09 13:15] achingbrain commented on #824
This issue is very stale, please open a new one against [ipfs/js-ipfs](https://github.com/ipfs/js-ipfs) if it's still a problem,

[2020-03-09 13:15] #824 closed

[2020-03-09 13:32] achingbrain commented on #142
We've largely switched to streaming everything APIs so I'm not sure we want to support buffering anything within the client any more.  The user can use the [`it-all`](https://www.npmjs.com/package/it-all) module to buffer outside of the http api client if required.

[2020-03-09 13:32] #142 closed

[2020-03-09 13:33] achingbrain commented on #727
Everything is async iterators now, which have a back pressure mechanism built in.  Please open a new issue against [ipfs/js-ipfs](https://github.com/ipfs/js-ipfs) if this is still required.

[2020-03-09 13:33] #727 closed

[2020-03-09 13:35] achingbrain commented on #733
If this is still required, please open a PR against [ipfs/js-ipfs](https://github.com/ipfs/js-ipfs)

[2020-03-09 13:35] #733 closed

[2020-03-09 14:10] achingbrain commented on #726
This test hasn't been flaky in a while and the code behind it has changed significantly since this issue was opened.  We'll keep an eye on it but am closing this for now.

[2020-03-09 14:10] #726 closed

[2020-03-09 14:16] achingbrain commented on #339
This issue is very stale so I'm going to close it.  Tests were previously skipped for this PR but aren't any more.  Please open a new issue against [ipfs/js-ipfs](https://github.com/ipfs/js-ipfs) if you still see it.

[2020-03-09 14:16] #339 closed

[2020-03-09 14:17] achingbrain commented on #603
This has been a streaming API for a while, closing as the feature has been implemented!

[2020-03-09 14:17] #603 closed

[2020-03-09 14:19] achingbrain commented on #586
The docs show our new streaming API and all references to callbacks have been removed so I'm going to close this.  Please open a new issue against [ipfs/js-ipfs](https://github.com/ipfs/js-ipfs) or on https://discuss.ipfs.io if you are having problems.

[2020-03-09 14:19] #586 closed